[if_0]
type=^iftype_layer
width=512
height=334

[if_0:com_1]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_2]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_3]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_4]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_5]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_6]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_7]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_8]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_9]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_10]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_11]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_12]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_13]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_14]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_15]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_16]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_17]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_18]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_19]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_20]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_21]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_22]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_23]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_24]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_25]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_26]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_0:com_27]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_0:com_28]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_0:com_29]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_0:com_30]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_0:com_31]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_0:com_32]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_0:com_33]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_0:com_34]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_0:com_35]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_0:com_36]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_0:com_37]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_0:com_38]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_0:com_39]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_0:com_40]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_0:com_41]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_0:com_42]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_0:com_43]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_0:com_44]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_0:com_45]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_0:com_46]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_47]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_48]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_49]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_50]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_51]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_52]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_53]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_54]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_55]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_56]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_57]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_58]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_59]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_60]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_61]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_62]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_63]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_64]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_65]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_66]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_67]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_68]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_69]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_70]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_71]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_0:com_72]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_0:com_73]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_0:com_74]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_0:com_75]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_0:com_76]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_77]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_78]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_79]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_80]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_81]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_82]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_83]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_84]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_85]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_86]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_87]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_88]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_0:com_89]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_0:com_90]
type=^iftype_text
x=154
y=30
width=194
height=14
halign=yes
font=^b12
shadow=yes
text=Thessalias' Makeovers (Legs)
colour=0xffff00

[if_0:com_91]
type=^iftype_rectangle
x=59
y=249
width=403
height=28
fill=yes

[if_0:com_92]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=85
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_263
fill=yes
colour=0x7b6e32
option=Khaki

[if_0:com_93]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=110
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_263
fill=yes
colour=0x262323
option=Black

[if_0:com_94]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=135
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_263
fill=yes
colour=0x752f3b
option=Crimson

[if_0:com_95]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=160
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_263
fill=yes
colour=0x3b3b4e
option=Navy

[if_0:com_96]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=185
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_263
fill=yes
colour=0xaa9045
option=Straw

[if_0:com_97]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=210
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_263
fill=yes
colour=0xbeb89c
option=White

[if_0:com_98]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=235
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_263
fill=yes
colour=0x8b3b2a
option=Red

[if_0:com_99]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=260
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_263
fill=yes
colour=0x2d5272
option=Blue

[if_0:com_100]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=285
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_263
fill=yes
colour=0x2d723e
option=Green

[if_0:com_101]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=310
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_263
fill=yes
colour=0xa3970d
option=Yellow

[if_0:com_102]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=335
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_263
fill=yes
colour=0x83537b
option=Purple

[if_0:com_103]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=360
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_263
fill=yes
colour=0x9d642f
option=Orange

[if_0:com_104]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=385
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,varp_263
fill=yes
colour=0xa17067
option=Rose

[if_0:com_105]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=410
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,varp_263
fill=yes
colour=0x829472
option=Lime

[if_0:com_106]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=435
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,varp_263
fill=yes
colour=0x728c94
option=Cyan

[if_0:com_107]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=60
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_263
fill=yes
colour=0x1c6135
option=Emerald

[if_0:com_108]
type=^iftype_text
buttontype=^if_button
x=197
y=289
width=127
height=14
font=^b12
shadow=yes
text=CONFIRM (500 gold)
colour=0xff00
overcolour=0xff0000

[if_0:com_109]
type=^iftype_graphic
x=59
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_110]
type=^iftype_graphic
x=84
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_111]
type=^iftype_graphic
x=109
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_112]
type=^iftype_graphic
x=134
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_113]
type=^iftype_graphic
x=160
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_114]
type=^iftype_graphic
x=185
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_115]
type=^iftype_graphic
x=210
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_116]
type=^iftype_graphic
x=235
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_117]
type=^iftype_graphic
x=260
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_118]
type=^iftype_graphic
x=285
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_119]
type=^iftype_graphic
x=310
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_120]
type=^iftype_graphic
x=335
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_121]
type=^iftype_graphic
x=360
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_122]
type=^iftype_graphic
x=385
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_123]
type=^iftype_graphic
x=410
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_124]
type=^iftype_graphic
x=435
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_0:com_125]
type=^iftype_text
x=220
y=225
width=73
height=14
font=^p12
shadow=yes
text=Select colour
colour=0xffff00

[if_0:com_126]
type=^iftype_model
x=50
y=220
width=32
height=32
model=model_254
zoom=400

[if_0:com_127]
type=^iftype_model
x=185
y=220
width=32
height=32
model=model_271
zoom=400

[if_0:com_128]
type=^iftype_model
x=310
y=210
width=32
height=32
model=model_267
zoom=420

[if_0:com_129]
type=^iftype_model
x=435
y=220
width=32
height=32
model=model_274
zoom=400

[if_0:com_130]
type=^iftype_graphic
buttontype=^if_selectbutton
x=46
y=89
width=40
height=120
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
option=Plain

[if_0:com_131]
type=^iftype_graphic
buttontype=^if_selectbutton
x=180
y=90
width=40
height=120
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
option=Shorts

[if_0:com_132]
type=^iftype_graphic
buttontype=^if_selectbutton
x=306
y=86
width=40
height=120
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
option=Flares

[if_0:com_133]
type=^iftype_graphic
buttontype=^if_selectbutton
x=430
y=88
width=40
height=120
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
option=Turn-ups

[if_0:com_134]
type=^iftype_graphic
x=53
y=90
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_0:com_135]
type=^iftype_graphic
x=187
y=90
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_0:com_136]
type=^iftype_graphic
x=313
y=87
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_0:com_137]
type=^iftype_graphic
x=436
y=89
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_0:com_138]
type=^iftype_text
x=211
y=62
width=87
height=14
font=^p12
shadow=yes
text=Select leg style
colour=0xffff00
