node_modules/
.vscode/
.vs/

/dump/

/public/client/

/data/pack/client/

/data/maps/
/data/scripts/

/src/cache/locs.js
/src/cache/npcs.js
/src/cache/objs.js

/data/saves/

/.env
package-lock.json

compiler.jar
