[if_139]
type=^iftype_layer
width=512
height=334

[if_139:com_140]
type=^iftype_graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[if_139:com_141]
type=^iftype_graphic
x=-91
y=5
width=57
height=13
graphic=sworddecor,0

[if_139:com_142]
type=^iftype_model
buttontype=^if_button
x=92
y=13
width=64
height=96
zoom=400

[if_139:com_143]
type=^iftype_model
buttontype=^if_button
x=67
y=13
width=64
height=96
zoom=400

[if_139:com_144]
type=^iftype_text
buttontype=^if_button
x=48
y=76
width=152
height=17
halign=yes
font=^q8

[if_139:com_145]
type=^iftype_text
buttontype=^if_button
x=24
y=76
width=152
height=17
halign=yes
font=^q8

[if_139:com_146]
type=^iftype_text
x=8
y=3
width=464
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000
