[if_1698]
type=^iftype_layer
width=512
height=334

[if_1698:com_1699]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2778
zoom=624
xan=521
yan=1288

[if_1698:com_1700]
type=^iftype_text
x=4
y=10
width=47
height=14
font=^p12
shadow=yes
text=Weapon:
colour=0xffff00

[if_1698:com_1701]
type=^iftype_text
x=52
y=10
width=17
height=14
font=^p12
shadow=yes
text=%1
colour=0xffff00

[if_1698:com_1702]
type=^iftype_text
x=4
y=40
width=114
height=14
font=^p12
shadow=yes
text=Choose Attack Style
colour=0xc000

[if_1698:com_1703]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_1698:com_1704]
layer=if_1698:com_1703
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=5
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1698:com_1705]
layer=if_1698:com_1703
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=-113
width=72
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1698:com_1706]
layer=if_1698:com_1703
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=97
width=72
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1698:com_1707]
layer=if_1698:com_1703
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=51
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1698:com_1708]
layer=if_1698:com_1703
type=^iftype_graphic
x=22
y=-107
width=34
height=24
graphic=combaticons,0

[if_1698:com_1709]
layer=if_1698:com_1703
type=^iftype_graphic
x=22
y=11
width=34
height=24
graphic=combaticons,1

[if_1698:com_1710]
layer=if_1698:com_1703
type=^iftype_graphic
x=21
y=57
width=34
height=24
graphic=combaticons,2

[if_1698:com_1711]
layer=if_1698:com_1703
type=^iftype_graphic
x=22
y=103
width=34
height=24
graphic=combaticons,3

[if_1698:com_1712]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=5
width=25
height=11
font=^p11
shadow=yes
text=Chop
colour=0xffff00

[if_1698:com_1713]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=51
width=23
height=11
font=^p11
shadow=yes
text=Hack
colour=0xffff00

[if_1698:com_1714]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=97
width=32
height=11
font=^p11
shadow=yes
text=Smash
colour=0xffff00

[if_1698:com_1715]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=-113
width=26
height=11
font=^p11
shadow=yes
text=Block
colour=0xffff00

[if_1698:com_1716]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=18
width=50
height=11
font=^p11
text=(Accurate)
colour=0xffff00

[if_1698:com_1717]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=110
width=64
height=11
font=^p11
text=(Aggressive)
colour=0xffff00

[if_1698:com_1718]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=64
width=64
height=11
font=^p11
text=(Aggressive)
colour=0xffff00

[if_1698:com_1719]
layer=if_1698:com_1703
type=^iftype_text
x=78
y=-100
width=58
height=11
font=^p11
text=(Defensive)
colour=0xffff00

[if_1698:com_1720]
type=^iftype_text
x=82
y=90
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_1698:com_1721]
type=^iftype_text
x=82
y=-120
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_1698:com_1722]
type=^iftype_text
x=82
y=-74
width=36
height=11
font=^p11
text=(Crush)
colour=0xffff00

[if_1698:com_1723]
type=^iftype_text
x=82
y=-28
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00
