[if_1749]
type=^iftype_layer
width=512
height=334

[if_1749:com_1750]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2778
zoom=624
xan=521
yan=1288

[if_1749:com_1751]
type=^iftype_text
x=4
y=10
width=47
height=14
font=^p12
shadow=yes
text=Weapon:
colour=0xffff00

[if_1749:com_1752]
type=^iftype_text
x=52
y=10
width=17
height=14
font=^p12
shadow=yes
text=%1
colour=0xffff00

[if_1749:com_1753]
type=^iftype_text
x=4
y=40
width=114
height=14
font=^p12
shadow=yes
text=Choose Attack Style
colour=0xc000

[if_1749:com_1754]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_1749:com_1755]
layer=if_1749:com_1754
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=97
width=72
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1749:com_1756]
layer=if_1749:com_1754
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=51
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1749:com_1757]
layer=if_1749:com_1754
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=5
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_1749:com_1758]
layer=if_1749:com_1754
type=^iftype_graphic
x=22
y=103
width=34
height=24
graphic=combaticons2,7

[if_1749:com_1759]
layer=if_1749:com_1754
type=^iftype_graphic
x=21
y=11
width=34
height=24
graphic=combaticons2,5

[if_1749:com_1760]
layer=if_1749:com_1754
type=^iftype_graphic
x=22
y=57
width=34
height=24
graphic=combaticons2,6

[if_1749:com_1761]
layer=if_1749:com_1754
type=^iftype_text
x=78
y=15
width=51
height=14
font=^p12
shadow=yes
text=Accurate
colour=0xffff00

[if_1749:com_1762]
layer=if_1749:com_1754
type=^iftype_text
x=78
y=60
width=31
height=14
font=^p12
shadow=yes
text=Rapid
colour=0xffff00

[if_1749:com_1763]
layer=if_1749:com_1754
type=^iftype_text
x=78
y=107
width=60
height=14
font=^p12
shadow=yes
text=Longrange
colour=0xffff00
