[if_1779]
type=^iftype_layer
width=512
height=334

[if_1779:com_1780]
type=^iftype_model
x=-17
y=-111
width=35
height=35
model=model_3035
zoom=525
xan=395

[if_1779:com_1783]
type=^iftype_text
x=45
y=-71
width=200
height=77
font=^q8
text=line1\nline2\nline3\nline4\nline5
colour=0x0

[if_1779:com_1784]
type=^iftype_model
x=125
y=-111
width=32
height=32
zoom=283
xan=124
yan=1916

[if_1779:com_1785]
type=^iftype_text
x=68
y=80
width=163
height=17
halign=yes
font=^q8
text=title1
colour=0x800000

[if_1779:com_1786]
type=^iftype_text
x=29
y=80
width=200
height=182
font=^q8
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12
colour=0x0

[if_1779:com_1787]
type=^iftype_layer
x=34
y=3
width=45
height=36

[if_1779:com_1781]
layer=if_1779:com_1787
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=leftarrow,0

[if_1779:com_1788]
type=^iftype_layer
x=-80
y=3
width=45
height=36

[if_1779:com_1782]
layer=if_1779:com_1788
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=rightarrow,0

[if_1779:com_1789]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_1779:com_1790]
layer=if_1779:com_1789
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1791]
layer=if_1779:com_1789
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1792]
layer=if_1779:com_1789
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1793]
layer=if_1779:com_1789
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1794]
layer=if_1779:com_1789
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1795]
layer=if_1779:com_1789
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_1779:com_1796]
layer=if_1779:com_1789
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1797]
layer=if_1779:com_1789
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1798]
layer=if_1779:com_1789
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1799]
layer=if_1779:com_1789
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1800]
layer=if_1779:com_1789
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1801]
layer=if_1779:com_1789
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1802]
layer=if_1779:com_1789
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1803]
layer=if_1779:com_1789
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1804]
layer=if_1779:com_1789
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1805]
layer=if_1779:com_1789
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1806]
layer=if_1779:com_1789
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1807]
layer=if_1779:com_1789
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1808]
layer=if_1779:com_1789
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_1779:com_1809]
layer=if_1779:com_1789
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1810]
layer=if_1779:com_1789
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1811]
layer=if_1779:com_1789
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1812]
layer=if_1779:com_1789
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1813]
layer=if_1779:com_1789
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1814]
layer=if_1779:com_1789
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1815]
layer=if_1779:com_1789
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1816]
layer=if_1779:com_1789
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1817]
layer=if_1779:com_1789
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1818]
layer=if_1779:com_1789
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1819]
layer=if_1779:com_1789
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1820]
layer=if_1779:com_1789
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1821]
layer=if_1779:com_1789
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_1779:com_1822]
layer=if_1779:com_1789
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_1779:com_1823]
layer=if_1779:com_1789
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_1779:com_1824]
layer=if_1779:com_1789
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_1779:com_1825]
layer=if_1779:com_1789
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_1779:com_1826]
type=^iftype_text
x=75
y=30
width=360
height=14
halign=yes
font=^b12
shadow=yes
text=Gianne's cook book
colour=0xffff00

[if_1779:com_1827]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_1779:com_1828]
type=^iftype_text
buttontype=^if_button
x=20
y=28
width=28
height=11
font=^p11
shadow=yes
text=Index
colour=0xc00000
overcolour=0xffffff
