[if_188]
type=^iftype_layer
width=512
height=334

[if_188:com_189]
type=^iftype_rectangle
x=2
y=68
width=508
height=172
fill=yes
colour=0x202020

[if_188:com_190]
type=^iftype_rectangle
x=6
y=72
width=499
height=164
fill=yes
colour=0x404040

[if_188:com_191]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_188:com_192]
layer=if_188:com_191
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_188:com_193]
layer=if_188:com_191
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_188:com_194]
layer=if_188:com_191
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_188:com_195]
layer=if_188:com_191
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_188:com_196]
layer=if_188:com_191
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_188:com_197]
layer=if_188:com_191
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_188:com_198]
layer=if_188:com_191
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_199]
layer=if_188:com_191
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_200]
layer=if_188:com_191
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_201]
layer=if_188:com_191
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_202]
layer=if_188:com_191
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_203]
layer=if_188:com_191
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_204]
layer=if_188:com_191
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_205]
layer=if_188:com_191
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_206]
layer=if_188:com_191
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_207]
layer=if_188:com_191
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_208]
layer=if_188:com_191
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_209]
layer=if_188:com_191
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_210]
layer=if_188:com_191
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_188:com_211]
layer=if_188:com_191
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_212]
layer=if_188:com_191
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_213]
layer=if_188:com_191
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_214]
layer=if_188:com_191
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_215]
layer=if_188:com_191
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_216]
layer=if_188:com_191
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_217]
layer=if_188:com_191
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_218]
layer=if_188:com_191
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_219]
layer=if_188:com_191
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_220]
layer=if_188:com_191
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_221]
layer=if_188:com_191
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_222]
layer=if_188:com_191
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_223]
layer=if_188:com_191
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_188:com_224]
layer=if_188:com_191
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_188:com_225]
layer=if_188:com_191
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_188:com_226]
layer=if_188:com_191
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_188:com_227]
layer=if_188:com_191
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_188:com_228]
type=^iftype_model
x=54
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_188:com_229]
type=^iftype_model
x=-78
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_188:com_230]
type=^iftype_model
x=46
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_188:com_231]
type=^iftype_model
x=-86
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_188:com_232]
type=^iftype_text
x=65
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_188:com_233]
type=^iftype_text
x=-67
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_188:com_234]
type=^iftype_text
x=57
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_188:com_235]
type=^iftype_text
x=-75
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_188:com_236]
type=^iftype_graphic
x=22
y=-60
width=45
height=36
graphic=leftarrow,0

[if_188:com_237]
type=^iftype_graphic
x=70
y=-60
width=45
height=36
graphic=rightarrow,0

[if_188:com_238]
type=^iftype_graphic
x=-110
y=-60
width=45
height=36
graphic=leftarrow,0

[if_188:com_239]
type=^iftype_graphic
x=-62
y=-60
width=45
height=36
graphic=rightarrow,0

[if_188:com_240]
type=^iftype_graphic
x=14
y=-60
width=45
height=36
graphic=leftarrow,0

[if_188:com_241]
type=^iftype_graphic
x=62
y=-60
width=45
height=36
graphic=rightarrow,0

[if_188:com_242]
type=^iftype_graphic
x=-118
y=-60
width=45
height=36
graphic=leftarrow,0

[if_188:com_243]
type=^iftype_graphic
x=-70
y=-60
width=45
height=36
graphic=rightarrow,0

[if_188:com_244]
type=^iftype_text
x=-7
y=30
width=19
height=14
halign=yes
font=^b12
shadow=yes
text=%1
colour=0xffff00

[if_188:com_245]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff
