[if_1908]
type=^iftype_layer
width=512
height=334

[if_1908:com_1911]
type=^iftype_graphic
x=14
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1918]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1921]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1928]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1931]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1936]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1939]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1946]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1949]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1956]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1959]
type=^iftype_graphic
x=412
y=46
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1966]
type=^iftype_graphic
x=361
y=45
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1969]
type=^iftype_graphic
x=274
y=45
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1974]
type=^iftype_graphic
x=187
y=45
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1977]
type=^iftype_graphic
x=100
y=45
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1984]
type=^iftype_graphic
x=13
y=45
width=88
height=60
graphic=tradebacking,0

[if_1908:com_1987]
type=^iftype_graphic
x=409
y=232
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6868]
type=^iftype_graphic
x=272
y=231
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6869]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6870]
type=^iftype_graphic
x=359
y=235
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6871]
type=^iftype_graphic
x=185
y=235
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6872]
type=^iftype_graphic
x=98
y=233
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6873]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6874]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6875]
type=^iftype_graphic
x=12
y=231
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6876]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6877]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6878]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6879]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6880]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_1908:com_6881]
type=^iftype_graphic
x=12
y=42
width=25
height=30
graphic=steelborder,0

[if_1908:com_6882]
type=^iftype_graphic
x=-3
y=86
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6883]
type=^iftype_graphic
x=-3
y=122
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6884]
type=^iftype_graphic
x=-3
y=158
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6885]
type=^iftype_graphic
x=-3
y=194
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6886]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6887]
type=^iftype_graphic
x=479
y=229
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6888]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6889]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6890]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6891]
type=^iftype_model
x=31
y=49
width=437
height=242
zoom=606
xan=1551
yan=1020

[if_1908:com_6892]
type=^iftype_graphic
x=55
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6893]
type=^iftype_graphic
x=125
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6894]
type=^iftype_graphic
x=160
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6895]
type=^iftype_graphic
x=195
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6896]
type=^iftype_graphic
x=230
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6897]
type=^iftype_graphic
x=265
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6898]
type=^iftype_graphic
x=300
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6899]
type=^iftype_graphic
x=335
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6900]
type=^iftype_graphic
x=370
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6901]
type=^iftype_graphic
x=405
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6902]
type=^iftype_graphic
x=-3
y=230
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6903]
type=^iftype_graphic
x=90
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6904]
type=^iftype_graphic
x=71
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6905]
type=^iftype_graphic
x=106
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6906]
type=^iftype_graphic
x=141
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6907]
type=^iftype_graphic
x=176
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6908]
type=^iftype_graphic
x=211
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6909]
type=^iftype_graphic
x=246
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6910]
type=^iftype_graphic
x=281
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6911]
type=^iftype_graphic
x=316
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6912]
type=^iftype_graphic
x=479
y=61
width=36
height=36
graphic=steelborder2,1

[if_1908:com_6913]
type=^iftype_graphic
x=351
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6914]
type=^iftype_graphic
x=386
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6915]
type=^iftype_graphic
x=-3
y=67
width=36
height=36
graphic=miscgraphics,2

[if_1908:com_6916]
type=^iftype_graphic
x=421
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6917]
type=^iftype_graphic
x=248
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6918]
type=^iftype_graphic
x=36
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6919]
type=^iftype_graphic
x=20
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6920]
type=^iftype_graphic
x=475
y=42
width=25
height=30
graphic=steelborder,1

[if_1908:com_6921]
type=^iftype_graphic
x=456
y=27
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6922]
type=^iftype_graphic
x=475
y=265
width=25
height=30
graphic=steelborder,3

[if_1908:com_6923]
type=^iftype_graphic
x=440
y=274
width=36
height=36
graphic=miscgraphics,3

[if_1908:com_6924]
type=^iftype_text
buttontype=^if_closebutton
x=421
y=54
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_1908:com_6925]
type=^iftype_graphic
x=283
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6926]
type=^iftype_graphic
x=318
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6927]
type=^iftype_graphic
x=353
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6928]
type=^iftype_graphic
x=388
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6929]
type=^iftype_graphic
x=423
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6930]
type=^iftype_graphic
x=458
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6931]
type=^iftype_graphic
x=213
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6932]
type=^iftype_graphic
x=178
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6933]
type=^iftype_graphic
x=143
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6934]
type=^iftype_graphic
x=108
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6935]
type=^iftype_graphic
x=73
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6936]
type=^iftype_graphic
x=12
y=265
width=25
height=30
graphic=steelborder,2

[if_1908:com_6937]
type=^iftype_graphic
x=38
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6938]
type=^iftype_graphic
x=17
y=64
width=36
height=36
graphic=steelborder2,0

[if_1908:com_6939]
type=^iftype_text
x=42
y=127
width=438
height=26
halign=yes
font=^p12
shadow=yes
text=Proceed with caution. If you go much further north you will enter the\nwilderness. This is a very dangerous area where other players can attack you!
colour=0xffffff

[if_1908:com_6940]
type=^iftype_text
x=206
y=55
width=102
height=17
halign=yes
font=^q8
shadow=yes
text=WARNING !!!
colour=0xff0000

[if_1908:com_6941]
type=^iftype_text
x=45
y=171
width=423
height=26
halign=yes
font=^p12
shadow=yes
text=The further north you go the more dangerous it becomes, but there is more\ntreasure to be found.
colour=0xffffff

[if_1908:com_6942]
type=^iftype_text
x=79
y=215
width=358
height=26
halign=yes
font=^p12
shadow=yes
text=In the wilderness an indicator at the bottom-right of the screen\nwill show the current level of danger.
colour=0xffff00
