[if_2007]
type=^iftype_layer
width=512
height=334

[if_2007:com_2008]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2009]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2010]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2011]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2012]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2013]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2014]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2015]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2016]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2017]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2018]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2019]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2020]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2021]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2022]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2023]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2024]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2025]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2026]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2027]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2028]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2029]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2030]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2031]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2032]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2033]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2034]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2035]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2036]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2037]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_2007:com_2038]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2007:com_2039]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2040]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2041]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2042]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2043]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2044]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2045]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_2007:com_2046]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2047]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2048]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2049]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2050]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2051]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2052]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_2007:com_2053]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2054]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2055]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2056]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2057]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2058]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2059]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2060]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2061]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2062]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2063]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2064]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2065]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2066]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2067]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2068]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2069]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2070]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2071]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2072]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2073]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2074]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2075]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2076]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2077]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2078]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_2007:com_2079]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_2007:com_2080]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2081]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_2007:com_2082]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2007:com_2083]
type=^iftype_text
x=190
y=30
width=130
height=14
halign=yes
font=^b12
shadow=yes
text=Hairdressers' Salon
colour=0xffff00

[if_2007:com_2084]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_2007:com_2085]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2086]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2087]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2088]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2089]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2090]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2091]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2092]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2093]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2094]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2095]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2096]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2097]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2007:com_2098]
type=^iftype_model
x=65
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2099]
type=^iftype_model
x=150
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2100]
type=^iftype_model
x=235
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2101]
type=^iftype_model
x=320
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2102]
type=^iftype_model
x=405
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2103]
type=^iftype_model
x=150
y=175
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2104]
type=^iftype_model
x=235
y=175
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2105]
type=^iftype_model
x=320
y=175
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2007:com_2106]
type=^iftype_model
x=65
y=95
width=32
height=32
model=model_82
zoom=1200
yan=200

[if_2007:com_2107]
type=^iftype_model
x=150
y=95
width=32
height=32
model=model_81
zoom=1200
yan=200

[if_2007:com_2108]
type=^iftype_model
x=235
y=95
width=32
height=32
model=model_79
zoom=1200
yan=200

[if_2007:com_2109]
type=^iftype_model
x=320
y=95
width=32
height=32
model=model_80
zoom=1200
yan=200

[if_2007:com_2110]
type=^iftype_model
x=405
y=95
width=32
height=32
model=model_84
zoom=1200
yan=200

[if_2007:com_2111]
type=^iftype_model
x=150
y=175
width=32
height=32
model=model_83
zoom=1200
yan=200

[if_2007:com_2112]
type=^iftype_model
x=320
y=175
width=32
height=32
model=model_85
zoom=1200
yan=200

[if_2007:com_2113]
type=^iftype_text
buttontype=^if_button
x=390
y=290
width=55
height=14
font=^b12
shadow=yes
text=CONFIRM
colour=0xff00
overcolour=0xff0000

[if_2007:com_2114]
type=^iftype_rectangle
x=134
y=259
width=243
height=23
fill=yes

[if_2007:com_2115]
type=^iftype_rectangle
x=135
y=260
width=20
height=20
fill=yes
colour=0x494034

[if_2007:com_2116]
type=^iftype_rectangle
x=155
y=260
width=20
height=20
fill=yes
colour=0xd6d1d1

[if_2007:com_2117]
type=^iftype_rectangle
x=175
y=260
width=20
height=20
fill=yes
colour=0x76756c

[if_2007:com_2118]
type=^iftype_rectangle
x=195
y=260
width=20
height=20
fill=yes
colour=0x2f2a2a

[if_2007:com_2119]
type=^iftype_rectangle
x=215
y=260
width=20
height=20
fill=yes
colour=0xcb823e

[if_2007:com_2120]
type=^iftype_rectangle
x=235
y=260
width=20
height=20
fill=yes
colour=0xcdad53

[if_2007:com_2121]
type=^iftype_rectangle
x=255
y=260
width=20
height=20
fill=yes
colour=0x885f29

[if_2007:com_2122]
type=^iftype_rectangle
x=275
y=260
width=20
height=20
fill=yes
colour=0x50321e

[if_2007:com_2123]
type=^iftype_rectangle
x=295
y=260
width=20
height=20
fill=yes
colour=0x8383

[if_2007:com_2124]
type=^iftype_rectangle
x=315
y=260
width=20
height=20
fill=yes
colour=0x8300

[if_2007:com_2125]
type=^iftype_rectangle
x=335
y=260
width=20
height=20
fill=yes
colour=0x9f2800

[if_2007:com_2126]
type=^iftype_rectangle
x=355
y=260
width=20
height=20
fill=yes
colour=0xbe00c0

[if_2007:com_2127]
type=^iftype_text
x=198
y=233
width=114
height=14
halign=yes
font=^p12
shadow=yes
text=Please select colour
colour=0xffff00

[if_2007:com_2128]
type=^iftype_graphic
x=85
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2129]
type=^iftype_graphic
x=170
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2130]
type=^iftype_graphic
x=260
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2131]
type=^iftype_graphic
x=345
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2132]
type=^iftype_graphic
x=430
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2133]
type=^iftype_graphic
x=170
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2134]
type=^iftype_graphic
x=260
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2135]
type=^iftype_graphic
x=345
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2007:com_2136]
type=^iftype_graphic
buttontype=^if_selectbutton
x=135
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2137]
type=^iftype_graphic
buttontype=^if_selectbutton
x=155
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2138]
type=^iftype_graphic
buttontype=^if_selectbutton
x=175
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2139]
type=^iftype_graphic
buttontype=^if_selectbutton
x=195
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2140]
type=^iftype_graphic
buttontype=^if_selectbutton
x=215
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2141]
type=^iftype_graphic
buttontype=^if_selectbutton
x=235
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2142]
type=^iftype_graphic
buttontype=^if_selectbutton
x=255
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2143]
type=^iftype_graphic
buttontype=^if_selectbutton
x=275
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2144]
type=^iftype_graphic
buttontype=^if_selectbutton
x=295
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2145]
type=^iftype_graphic
buttontype=^if_selectbutton
x=315
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2146]
type=^iftype_graphic
buttontype=^if_selectbutton
x=335
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2147]
type=^iftype_graphic
buttontype=^if_selectbutton
x=355
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2007:com_2148]
type=^iftype_graphic
buttontype=^if_selectbutton
x=55
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261

[if_2007:com_2149]
type=^iftype_graphic
buttontype=^if_selectbutton
x=141
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261

[if_2007:com_2150]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=82
width=50
height=50
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261

[if_2007:com_2151]
type=^iftype_graphic
buttontype=^if_selectbutton
x=310
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261

[if_2007:com_2152]
type=^iftype_graphic
buttontype=^if_selectbutton
x=394
y=84
width=50
height=50
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261

[if_2007:com_2153]
type=^iftype_graphic
buttontype=^if_selectbutton
x=141
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261

[if_2007:com_2154]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=162
width=50
height=50
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261

[if_2007:com_2155]
type=^iftype_graphic
buttontype=^if_selectbutton
x=310
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261
