[if_2156]
type=^iftype_layer
width=512
height=334

[if_2156:com_2157]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2158]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2159]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2160]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2161]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2162]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2163]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2164]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2165]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2166]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2167]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2168]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2169]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2170]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2171]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2172]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2173]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2174]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2175]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2176]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2177]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2178]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2179]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2180]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2181]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2182]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2183]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2184]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2185]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2186]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2156:com_2187]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2156:com_2188]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2189]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2190]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2191]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2192]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2193]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2194]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_2156:com_2195]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2196]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2197]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2198]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2199]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2200]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2201]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_2156:com_2202]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2203]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2204]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2205]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2206]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2207]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2208]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2209]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2210]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2211]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2212]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2213]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2214]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2215]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2216]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2217]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2218]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2219]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2220]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2221]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2222]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2223]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2224]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2225]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2226]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2227]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_2156:com_2228]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_2156:com_2229]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2230]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_2156:com_2231]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2232]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2233]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2234]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2235]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2236]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2237]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2238]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2239]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2240]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2241]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2242]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2243]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2244]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2245]
type=^iftype_layer
x=36
y=20
width=440
height=299

[if_2156:com_2248]
type=^iftype_text
x=-66
y=31
width=112
height=14
font=^b12
shadow=yes
text=Party Drop Chest
colour=0x929cfe

[if_2156:com_2249]
type=^iftype_text
buttontype=^if_closebutton
x=-97
y=32
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_2156:com_2250]
type=^iftype_layer
x=39
y=61
width=433
height=170
scrollheight=940

[if_2156:com_2273]
layer=if_2156:com_2250
type=^iftype_inventory
x=13
y=18
width=9
height=24
invdummy=yes
invxof=15
invyof=6

[if_2156:com_2251]
type=^iftype_layer
x=30
y=7
width=453
height=41

[if_2156:com_2246]
layer=if_2156:com_2251
type=^iftype_rectangle
buttontype=^if_button
x=-127
y=3
width=68
height=25
fill=yes
colour=0x0

[if_2156:com_2247]
layer=if_2156:com_2251
type=^iftype_text
x=-112
y=8
width=39
height=14
font=^p12
shadow=yes
text=Accept
colour=0x929cfe

[if_2156:com_2266]
layer=if_2156:com_2251
type=^iftype_text
x=103
y=127
width=24
height=14
font=^p12
shadow=yes
text=Text
colour=0xffff00

[if_2156:com_2274]
layer=if_2156:com_2251
type=^iftype_inventory
x=6
y=1
width=8
height=1
invxof=15
invyof=6
invoption1=Withdraw 1
invoption2=Withdraw 5
invoption3=Withdraw 10
invoption4=Withdraw All
invoption5=Withdraw X

[if_2156:com_2252]
type=^iftype_graphic
x=16
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2253]
type=^iftype_graphic
x=52
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2254]
type=^iftype_graphic
x=124
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2255]
type=^iftype_graphic
x=88
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2256]
type=^iftype_graphic
x=-100
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2257]
type=^iftype_graphic
x=120
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2258]
type=^iftype_graphic
x=84
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2259]
type=^iftype_graphic
x=48
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2260]
type=^iftype_graphic
x=-96
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2261]
type=^iftype_graphic
x=12
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2262]
type=^iftype_graphic
x=-24
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2263]
type=^iftype_graphic
x=-60
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2264]
type=^iftype_graphic
x=-64
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2265]
type=^iftype_graphic
x=-52
y=-31
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2267]
type=^iftype_graphic
x=-103
y=11
width=25
height=30
graphic=steelborder,2

[if_2156:com_2268]
type=^iftype_graphic
x=-103
y=5
width=4
height=29
graphic=steelborder,0

[if_2156:com_2269]
type=^iftype_graphic
x=-49
y=5
width=25
height=30
graphic=steelborder,1

[if_2156:com_2270]
type=^iftype_graphic
x=-79
y=20
width=36
height=36
graphic=miscgraphics,3

[if_2156:com_2271]
type=^iftype_graphic
x=-49
y=11
width=25
height=30
graphic=steelborder,3

[if_2156:com_2272]
type=^iftype_graphic
x=-79
y=-10
width=36
height=36
graphic=steelborder2,0

[if_2156:com_2275]
type=^iftype_text
x=87
y=45
width=305
height=11
font=^p11
text=(Once you press Accept items can't be taken out of the chest!)
colour=0x808080
