[if_2449]
type=^iftype_layer
width=512
height=334

[if_2449:com_2450]
type=^iftype_text
x=7
y=55
width=179
height=14
font=^p12
shadow=yes
text=When you have finished playing
colour=0xffff00

[if_2449:com_2451]
type=^iftype_text
x=20
y=73
width=152
height=14
font=^p12
shadow=yes
text=RuneScape, always use the
colour=0xffff00

[if_2449:com_2452]
type=^iftype_text
x=10
y=91
width=169
height=14
font=^p12
shadow=yes
text=button below to logout safely.
colour=0xffff00

[if_2449:com_2453]
type=^iftype_graphic
x=74
y=-103
width=36
height=36
graphic=miscgraphics,7

[if_2449:com_2454]
type=^iftype_graphic
x=48
y=-103
width=36
height=36
graphic=miscgraphics,7

[if_2449:com_2455]
type=^iftype_graphic
x=22
y=-103
width=36
height=36
graphic=miscgraphics,7

[if_2449:com_2456]
type=^iftype_graphic
x=104
y=-103
width=36
height=36
graphic=miscgraphics,8

[if_2449:com_2457]
type=^iftype_graphic
x=-126
y=-103
width=36
height=36
graphic=miscgraphics,8

[if_2449:com_2458]
type=^iftype_text
buttontype=^if_button
contenttype=205
x=30
y=-93
width=128
height=14
font=^b12
shadow=yes
text=Click here to logout
colour=0xffffff
overcolour=0xff0000
