[if_2459]
type=^iftype_layer
width=512
height=334

[if_2459:com_2460]
type=^iftype_text
y=-1
width=480
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000

[if_2459:com_2461]
type=^iftype_text
buttontype=^if_button
y=31
width=480
height=17
halign=yes
font=^q8
text=option1
overcolour=0xc000

[if_2459:com_2462]
type=^iftype_text
buttontype=^if_button
y=63
width=480
height=17
halign=yes
font=^q8
text=option2
overcolour=0xc000

[if_2459:com_2465]
type=^iftype_layer
x=126
y=1
width=229
height=13

[if_2459:com_2463]
layer=if_2459:com_2465
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2459:com_2464]
layer=if_2459:com_2465
type=^iftype_graphic
x=-84
width=57
height=13
graphic=sworddecor,0

[if_2459:com_2468]
type=^iftype_layer
x=2
y=1
width=476
height=13
hide=yes

[if_2459:com_2466]
layer=if_2459:com_2468
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2459:com_2467]
layer=if_2459:com_2468
type=^iftype_graphic
x=-93
width=57
height=13
graphic=sworddecor,0
