[if_246]
type=^iftype_layer
width=512
height=334

[if_246:com_247]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_246:com_248]
layer=if_246:com_247
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_246:com_249]
layer=if_246:com_247
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_246:com_250]
layer=if_246:com_247
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_246:com_251]
layer=if_246:com_247
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_246:com_252]
layer=if_246:com_247
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_246:com_253]
layer=if_246:com_247
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_246:com_254]
layer=if_246:com_247
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_255]
layer=if_246:com_247
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_256]
layer=if_246:com_247
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_257]
layer=if_246:com_247
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_258]
layer=if_246:com_247
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_259]
layer=if_246:com_247
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_260]
layer=if_246:com_247
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_261]
layer=if_246:com_247
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_262]
layer=if_246:com_247
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_263]
layer=if_246:com_247
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_264]
layer=if_246:com_247
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_265]
layer=if_246:com_247
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_266]
layer=if_246:com_247
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_246:com_267]
layer=if_246:com_247
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_268]
layer=if_246:com_247
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_269]
layer=if_246:com_247
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_270]
layer=if_246:com_247
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_271]
layer=if_246:com_247
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_272]
layer=if_246:com_247
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_273]
layer=if_246:com_247
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_274]
layer=if_246:com_247
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_275]
layer=if_246:com_247
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_276]
layer=if_246:com_247
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_277]
layer=if_246:com_247
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_278]
layer=if_246:com_247
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_279]
layer=if_246:com_247
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_246:com_280]
layer=if_246:com_247
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_246:com_281]
layer=if_246:com_247
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_246:com_282]
layer=if_246:com_247
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_246:com_283]
layer=if_246:com_247
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_246:com_284]
type=^iftype_model
x=-17
y=-111
width=35
height=35
model=model_3035
zoom=525
xan=395

[if_246:com_285]
type=^iftype_text
x=75
y=30
width=360
height=14
halign=yes
font=^b12
shadow=yes
text=The Blurberry Cocktail Guide
colour=0xffff00

[if_246:com_286]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_246:com_289]
type=^iftype_text
x=125
y=120
width=125
height=122
font=^q8
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8

[if_246:com_290]
type=^iftype_model
x=75
y=-56
width=32
height=32
zoom=283
xan=124
yan=1916

[if_246:com_291]
type=^iftype_text
x=75
y=80
width=150
height=17
halign=yes
font=^q8
text=title1
colour=0x800000

[if_246:com_292]
type=^iftype_text
x=29
y=80
width=200
height=182
font=^q8
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12

[if_246:com_293]
type=^iftype_layer
x=34
y=3
width=45
height=36

[if_246:com_287]
layer=if_246:com_293
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=leftarrow,0

[if_246:com_294]
type=^iftype_layer
x=-80
y=3
width=45
height=36

[if_246:com_288]
layer=if_246:com_294
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=rightarrow,0

[if_246:com_295]
type=^iftype_text
buttontype=^if_button
x=20
y=28
width=28
height=11
font=^p11
shadow=yes
text=Index
colour=0xc00000
overcolour=0xffffff
