[if_2469]
type=^iftype_layer
width=512
height=334

[if_2469:com_2470]
type=^iftype_text
y=-1
width=480
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000

[if_2469:com_2471]
type=^iftype_text
buttontype=^if_button
y=23
width=480
height=17
halign=yes
font=^q8
text=option1
colour=0x0
overcolour=0xc000

[if_2469:com_2472]
type=^iftype_text
buttontype=^if_button
y=47
width=480
height=17
halign=yes
font=^q8
text=option2
colour=0x0
overcolour=0xc000

[if_2469:com_2473]
type=^iftype_text
buttontype=^if_button
y=71
width=480
height=17
halign=yes
font=^q8
text=option3
colour=0x0
overcolour=0xc000

[if_2469:com_2476]
type=^iftype_layer
x=126
y=1
width=229
height=13

[if_2469:com_2474]
layer=if_2469:com_2476
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2469:com_2475]
layer=if_2469:com_2476
type=^iftype_graphic
x=-84
width=57
height=13
graphic=sworddecor,0

[if_2469:com_2479]
type=^iftype_layer
x=2
y=1
width=476
height=13
hide=yes

[if_2469:com_2477]
layer=if_2469:com_2479
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2469:com_2478]
layer=if_2469:com_2479
type=^iftype_graphic
x=-93
width=57
height=13
graphic=sworddecor,0
