[if_2480]
type=^iftype_layer
width=512
height=334

[if_2480:com_2481]
type=^iftype_text
y=-1
width=480
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000

[if_2480:com_2482]
type=^iftype_text
buttontype=^if_button
y=16
width=480
height=17
halign=yes
font=^q8
text=option1
overcolour=0xc000

[if_2480:com_2483]
type=^iftype_text
buttontype=^if_button
y=36
width=480
height=17
halign=yes
font=^q8
text=option2
overcolour=0xc000

[if_2480:com_2484]
type=^iftype_text
buttontype=^if_button
y=56
width=480
height=17
halign=yes
font=^q8
text=option3
overcolour=0xc000

[if_2480:com_2485]
type=^iftype_text
buttontype=^if_button
y=76
width=480
height=17
halign=yes
font=^q8
text=option4
overcolour=0xc000

[if_2480:com_2488]
type=^iftype_layer
x=126
y=1
width=229
height=13

[if_2480:com_2486]
layer=com_2488
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2480:com_2487]
layer=com_2488
type=^iftype_graphic
x=172
width=57
height=13
graphic=sworddecor,0

[if_2480:com_2489]
type=^iftype_layer
x=2
y=1
width=476
height=13
hide=yes

[if_2480:com_2490]
layer=com_2489
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2480:com_2491]
layer=com_2489
type=^iftype_graphic
x=419
width=57
height=13
graphic=sworddecor,0
