[if_2505]
type=^iftype_layer
width=512
height=334

[if_2505:com_2506]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2507]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2508]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2509]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2510]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2511]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2512]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2513]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2514]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2515]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2516]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2517]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2518]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2519]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2520]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2521]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2522]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2523]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2524]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2525]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2526]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2527]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2528]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2529]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2530]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2531]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2532]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2533]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2534]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2535]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2536]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2505:com_2537]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2538]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2539]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2540]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2541]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2542]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2543]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2544]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2545]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2546]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2547]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2548]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2549]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2550]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2551]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2552]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2553]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2554]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2555]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2556]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2557]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2558]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2559]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2560]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2561]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2562]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2563]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2564]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2565]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2566]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2567]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2568]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2569]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2570]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2571]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2572]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2573]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2574]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2575]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2576]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_2505:com_2577]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_2505:com_2578]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2579]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_2505:com_2580]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2581]
type=^iftype_model
x=65
y=95
width=32
height=32
model=model_120
zoom=1200
yan=200

[if_2505:com_2582]
type=^iftype_text
x=-66
y=30
width=130
height=14
halign=yes
font=^b12
shadow=yes
text=Hairdressers' Salon
colour=0xffff00

[if_2505:com_2583]
type=^iftype_text
buttontype=^if_closebutton
x=-92
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_2505:com_2584]
type=^iftype_model
x=-106
y=95
width=32
height=32
model=model_103
zoom=1200
yan=200

[if_2505:com_2585]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2586]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2587]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2588]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2589]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2590]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2591]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2592]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2593]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2594]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2595]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2596]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2597]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2598]
type=^iftype_model
x=-21
y=95
width=32
height=32
model=model_110
zoom=1200
yan=200

[if_2505:com_2599]
type=^iftype_model
x=64
y=95
width=32
height=32
model=model_113
zoom=1200
yan=200

[if_2505:com_2600]
type=^iftype_model
x=65
y=-81
width=32
height=32
model=model_118
zoom=1200
yan=200

[if_2505:com_2601]
type=^iftype_model
x=-106
y=-81
width=32
height=32
model=model_114
zoom=1200
yan=200

[if_2505:com_2602]
type=^iftype_model
x=-21
y=-81
width=32
height=32
model=model_125
zoom=1200
yan=200

[if_2505:com_2603]
type=^iftype_model
x=64
y=-81
width=32
height=32
model=model_105
zoom=1200
yan=200

[if_2505:com_2604]
type=^iftype_model
x=-107
y=95
width=32
height=32
model=model_115
zoom=1200
yan=200

[if_2505:com_2605]
type=^iftype_model
x=-107
y=-81
width=32
height=32
model=model_104
zoom=1200
yan=200

[if_2505:com_2606]
type=^iftype_text
buttontype=^if_button
x=-122
y=34
width=55
height=14
font=^b12
shadow=yes
text=CONFIRM
colour=0xff00
overcolour=0xff0000

[if_2505:com_2607]
type=^iftype_rectangle
x=-122
y=3
width=243
height=23
fill=yes

[if_2505:com_2608]
type=^iftype_rectangle
x=-121
y=4
width=20
height=20
fill=yes
colour=0x494034

[if_2505:com_2609]
type=^iftype_rectangle
x=-101
y=4
width=20
height=20
fill=yes
colour=0xd6d1d1

[if_2505:com_2610]
type=^iftype_rectangle
x=-81
y=4
width=20
height=20
fill=yes
colour=0x76756c

[if_2505:com_2611]
type=^iftype_rectangle
x=-61
y=4
width=20
height=20
fill=yes
colour=0x2f2a2a

[if_2505:com_2612]
type=^iftype_rectangle
x=-41
y=4
width=20
height=20
fill=yes
colour=0xcb823e

[if_2505:com_2613]
type=^iftype_rectangle
x=-21
y=4
width=20
height=20
fill=yes
colour=0xcdad53

[if_2505:com_2614]
type=^iftype_rectangle
x=-1
y=4
width=20
height=20
fill=yes
colour=0x885f29

[if_2505:com_2615]
type=^iftype_rectangle
x=19
y=4
width=20
height=20
fill=yes
colour=0x50321e

[if_2505:com_2616]
type=^iftype_rectangle
x=39
y=4
width=20
height=20
fill=yes
colour=0x8383

[if_2505:com_2617]
type=^iftype_rectangle
x=59
y=4
width=20
height=20
fill=yes
colour=0x8300

[if_2505:com_2618]
type=^iftype_rectangle
x=79
y=4
width=20
height=20
fill=yes
colour=0x9f2800

[if_2505:com_2619]
type=^iftype_rectangle
x=99
y=4
width=20
height=20
fill=yes
colour=0xbe00c0

[if_2505:com_2620]
type=^iftype_text
x=-58
y=-23
width=114
height=14
halign=yes
font=^p12
shadow=yes
text=Please select colour
colour=0xffff00

[if_2505:com_2621]
type=^iftype_graphic
x=85
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2622]
type=^iftype_graphic
x=-86
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2623]
type=^iftype_graphic
x=4
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2624]
type=^iftype_graphic
x=89
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2625]
type=^iftype_graphic
x=-82
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2626]
type=^iftype_graphic
x=85
y=-61
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2627]
type=^iftype_graphic
x=-86
y=-61
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2628]
type=^iftype_graphic
x=4
y=-61
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2629]
type=^iftype_graphic
x=84
y=-61
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2630]
type=^iftype_graphic
x=-82
y=-61
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_2505:com_2631]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-121
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2632]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-101
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2633]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-81
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2634]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-61
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2635]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-41
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2636]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-21
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2637]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-1
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2638]
type=^iftype_graphic
buttontype=^if_selectbutton
x=19
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2639]
type=^iftype_graphic
buttontype=^if_selectbutton
x=39
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2640]
type=^iftype_graphic
buttontype=^if_selectbutton
x=59
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2641]
type=^iftype_graphic
buttontype=^if_selectbutton
x=79
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2642]
type=^iftype_graphic
buttontype=^if_selectbutton
x=99
y=4
width=20
height=20
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_2505:com_2643]
type=^iftype_graphic
buttontype=^if_selectbutton
x=55
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261

[if_2505:com_2644]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-115
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261

[if_2505:com_2645]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-32
y=82
width=50
height=50
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_261

[if_2505:com_2646]
type=^iftype_graphic
buttontype=^if_selectbutton
x=54
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_261

[if_2505:com_2647]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-118
y=84
width=50
height=50
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_261

[if_2505:com_2648]
type=^iftype_graphic
buttontype=^if_selectbutton
x=54
y=-93
width=50
height=50
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_261

[if_2505:com_2649]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-119
y=-94
width=50
height=50
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_261

[if_2505:com_2650]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-32
y=-93
width=50
height=50
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_261

[if_2505:com_2651]
type=^iftype_graphic
buttontype=^if_selectbutton
x=51
y=-93
width=50
height=50
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_261

[if_2505:com_2652]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-118
y=-93
width=50
height=50
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_261
