[if_2653]
type=^iftype_layer
width=512
height=334

[if_2653:com_2654]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2655]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2656]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2657]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2658]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2659]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2660]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2661]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2662]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2663]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2664]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2665]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2666]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2667]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2668]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2669]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2670]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2671]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2672]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2673]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2674]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2675]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2676]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2677]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2678]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2679]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2680]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2681]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2682]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2683]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_2653:com_2684]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2653:com_2685]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2686]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2687]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2688]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2689]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2690]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2691]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_2653:com_2692]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2693]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2694]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2695]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2696]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2697]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2698]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_2653:com_2699]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2700]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2701]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2702]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2703]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2704]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2705]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2706]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2707]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2708]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2709]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2710]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2711]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2712]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2713]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2714]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2715]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2716]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2717]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2718]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2719]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2720]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2721]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2722]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2723]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2724]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_2653:com_2725]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_2653:com_2726]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2727]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_2653:com_2728]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2653:com_2729]
type=^iftype_text
x=190
y=30
width=130
height=14
halign=yes
font=^b12
shadow=yes
text=Hairdressers' Salon
colour=0xffff00

[if_2653:com_2730]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_2653:com_2731]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2732]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2733]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2734]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2735]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2736]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2737]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2738]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2739]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2740]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2741]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2742]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2743]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2653:com_2744]
type=^iftype_model
x=65
y=95
width=32
height=32
model=model_63
zoom=1200
yan=200

[if_2653:com_2745]
type=^iftype_model
x=150
y=95
width=32
height=32
model=model_49
zoom=1200
yan=200

[if_2653:com_2746]
type=^iftype_model
x=235
y=95
width=32
height=32
model=model_52
zoom=1200
yan=200

[if_2653:com_2747]
type=^iftype_model
x=320
y=95
width=32
height=32
model=model_55
zoom=1200
yan=200

[if_2653:com_2748]
type=^iftype_model
x=405
y=95
width=32
height=32
model=model_59
zoom=1200
yan=200

[if_2653:com_2749]
type=^iftype_model
x=65
y=175
width=32
height=32
model=model_53
zoom=1200
yan=200

[if_2653:com_2750]
type=^iftype_model
x=150
y=175
width=32
height=32
model=model_67
zoom=1200
yan=200

[if_2653:com_2751]
type=^iftype_model
x=235
y=175
width=32
height=32
model=model_46
zoom=1200
yan=200

[if_2653:com_2752]
type=^iftype_model
x=320
y=175
width=32
height=32
model=model_45
zoom=1200
yan=200

[if_2653:com_2753]
type=^iftype_text
buttontype=^if_button
x=390
y=290
width=55
height=14
font=^b12
shadow=yes
text=CONFIRM
colour=0xff00
overcolour=0xff0000

[if_2653:com_2754]
type=^iftype_rectangle
x=134
y=259
width=243
height=23
fill=yes

[if_2653:com_2755]
type=^iftype_rectangle
x=135
y=260
width=20
height=20
fill=yes
colour=0x494034

[if_2653:com_2756]
type=^iftype_rectangle
x=155
y=260
width=20
height=20
fill=yes
colour=0xd6d1d1

[if_2653:com_2757]
type=^iftype_rectangle
x=175
y=260
width=20
height=20
fill=yes
colour=0x76756c

[if_2653:com_2758]
type=^iftype_rectangle
x=195
y=260
width=20
height=20
fill=yes
colour=0x2f2a2a

[if_2653:com_2759]
type=^iftype_rectangle
x=215
y=260
width=20
height=20
fill=yes
colour=0xcb823e

[if_2653:com_2760]
type=^iftype_rectangle
x=235
y=260
width=20
height=20
fill=yes
colour=0xcdad53

[if_2653:com_2761]
type=^iftype_rectangle
x=255
y=260
width=20
height=20
fill=yes
colour=0x885f29

[if_2653:com_2762]
type=^iftype_rectangle
x=275
y=260
width=20
height=20
fill=yes
colour=0x50321e

[if_2653:com_2763]
type=^iftype_rectangle
x=295
y=260
width=20
height=20
fill=yes
colour=0x8383

[if_2653:com_2764]
type=^iftype_rectangle
x=315
y=260
width=20
height=20
fill=yes
colour=0x8300

[if_2653:com_2765]
type=^iftype_rectangle
x=335
y=260
width=20
height=20
fill=yes
colour=0x9f2800

[if_2653:com_2766]
type=^iftype_rectangle
x=355
y=260
width=20
height=20
fill=yes
colour=0xbe00c0

[if_2653:com_2767]
type=^iftype_text
x=198
y=233
width=114
height=14
halign=yes
font=^p12
shadow=yes
text=Please select colour
colour=0xffff00

[if_2653:com_2768]
type=^iftype_graphic
x=85
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2769]
type=^iftype_graphic
x=170
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2770]
type=^iftype_graphic
x=260
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2771]
type=^iftype_graphic
x=345
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2772]
type=^iftype_graphic
x=430
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2773]
type=^iftype_graphic
x=85
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2774]
type=^iftype_graphic
x=170
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2775]
type=^iftype_graphic
x=260
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2776]
type=^iftype_graphic
x=340
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2653:com_2777]
type=^iftype_graphic
buttontype=^if_selectbutton
x=135
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2778]
type=^iftype_graphic
buttontype=^if_selectbutton
x=155
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2779]
type=^iftype_graphic
buttontype=^if_selectbutton
x=175
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2780]
type=^iftype_graphic
buttontype=^if_selectbutton
x=195
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2781]
type=^iftype_graphic
buttontype=^if_selectbutton
x=215
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2782]
type=^iftype_graphic
buttontype=^if_selectbutton
x=235
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2783]
type=^iftype_graphic
buttontype=^if_selectbutton
x=255
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2784]
type=^iftype_graphic
buttontype=^if_selectbutton
x=275
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2785]
type=^iftype_graphic
buttontype=^if_selectbutton
x=295
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2786]
type=^iftype_graphic
buttontype=^if_selectbutton
x=315
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2787]
type=^iftype_graphic
buttontype=^if_selectbutton
x=335
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2788]
type=^iftype_graphic
buttontype=^if_selectbutton
x=355
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2653:com_2789]
type=^iftype_graphic
buttontype=^if_selectbutton
x=55
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261

[if_2653:com_2790]
type=^iftype_graphic
buttontype=^if_selectbutton
x=141
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261

[if_2653:com_2791]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=82
width=50
height=50
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261

[if_2653:com_2792]
type=^iftype_graphic
buttontype=^if_selectbutton
x=310
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261

[if_2653:com_2793]
type=^iftype_graphic
buttontype=^if_selectbutton
x=394
y=84
width=50
height=50
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261

[if_2653:com_2794]
type=^iftype_graphic
buttontype=^if_selectbutton
x=54
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261

[if_2653:com_2795]
type=^iftype_graphic
buttontype=^if_selectbutton
x=137
y=162
width=50
height=50
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261

[if_2653:com_2796]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261

[if_2653:com_2797]
type=^iftype_graphic
buttontype=^if_selectbutton
x=307
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_261
