[if_2798]
type=^iftype_layer
width=512
height=334

[if_2798:com_2799]
type=^iftype_graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[if_2798:com_2800]
type=^iftype_model
buttontype=^if_button
x=56
y=13
width=64
height=64
zoom=100
xan=100
yan=100

[if_2798:com_2801]
type=^iftype_model
buttontype=^if_button
x=-49
y=13
width=64
height=64
zoom=400

[if_2798:com_2802]
type=^iftype_model
buttontype=^if_button
x=104
y=13
width=64
height=64
zoom=400

[if_2798:com_2803]
type=^iftype_text
buttontype=^if_button
x=12
y=76
width=152
height=17
halign=yes
font=^q8
text=
colour=0x0

[if_2798:com_2804]
type=^iftype_text
buttontype=^if_button
x=-92
y=76
width=152
height=17
halign=yes
font=^q8
text=
colour=0x0

[if_2798:com_2805]
type=^iftype_text
buttontype=^if_button
x=60
y=76
width=152
height=17
halign=yes
font=^q8
text=
colour=0x0

[if_2798:com_2806]
type=^iftype_text
x=8
y=3
width=464
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000

[if_2798:com_2807]
type=^iftype_text
buttontype=^if_button
x=-116
y=5
width=72
height=14
font=^p12
shadow=yes
text=Close window
colour=0xffff00
