[if_2851]
type=^iftype_layer
width=512
height=334

[if_2851:com_2852]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2853]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2854]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2855]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2856]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2857]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2858]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2859]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2860]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2861]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2862]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2863]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2864]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2865]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2866]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2867]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2868]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2869]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2870]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2871]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2872]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2873]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2874]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2875]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2876]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2877]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2878]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2879]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2880]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2881]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_2851:com_2882]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2851:com_2883]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2884]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2885]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2886]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2887]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2888]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2889]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_2851:com_2890]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2891]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2892]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2893]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2894]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2895]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2896]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_2851:com_2897]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2898]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2899]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2900]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2901]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2902]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2903]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2904]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2905]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2906]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2907]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2908]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2909]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2910]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2911]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2912]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2913]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2914]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2915]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2916]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2917]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2918]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2919]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2920]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2921]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2922]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_2851:com_2923]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_2851:com_2924]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2925]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_2851:com_2926]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_2851:com_2927]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2928]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2929]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2930]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2931]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2932]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2933]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2934]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2935]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2936]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2937]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2938]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2939]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2851:com_2940]
type=^iftype_text
buttontype=^if_closebutton
x=-92
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_2851:com_2941]
type=^iftype_text
x=-102
y=30
width=199
height=14
halign=yes
font=^b12
shadow=yes
text=Thessalias' Makeovers (Torso)
colour=0xffff00

[if_2851:com_2942]
type=^iftype_rectangle
x=59
y=-7
width=403
height=28
fill=yes
colour=0x0

[if_2851:com_2943]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=60
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_263
fill=yes
colour=0x7b6e32
option=Khaki

[if_2851:com_2944]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=85
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_263
fill=yes
colour=0x262323
option=Black

[if_2851:com_2945]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=110
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_263
fill=yes
colour=0x752f3b
option=Crimson

[if_2851:com_2946]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-121
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_263
fill=yes
colour=0x3b3b4e
option=Navy

[if_2851:com_2947]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-96
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_263
fill=yes
colour=0xaa9045
option=Straw

[if_2851:com_2948]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-71
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_263
fill=yes
colour=0xbeb89c
option=White

[if_2851:com_2949]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-46
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_263
fill=yes
colour=0x8b3b2a
option=Red

[if_2851:com_2950]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-21
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_263
fill=yes
colour=0x2d5272
option=Blue

[if_2851:com_2951]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=4
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_263
fill=yes
colour=0x2d723e
option=Green

[if_2851:com_2952]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=29
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_263
fill=yes
colour=0xa3970d
option=Yellow

[if_2851:com_2953]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=54
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,^varp_263
fill=yes
colour=0x83537b
option=Purple

[if_2851:com_2954]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=79
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,^varp_263
fill=yes
colour=0x9d642f
option=Orange

[if_2851:com_2955]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=104
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,^varp_263
fill=yes
colour=0xa17067
option=Rose

[if_2851:com_2956]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-127
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,^varp_263
fill=yes
colour=0x829472
option=Lime

[if_2851:com_2957]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-102
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,^varp_263
fill=yes
colour=0x728c94
option=Cyan

[if_2851:com_2958]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-77
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,^varp_263
fill=yes
colour=0x1c6135
option=Emerald

[if_2851:com_2959]
type=^iftype_text
buttontype=^if_button
x=-59
y=33
width=127
height=14
font=^b12
shadow=yes
text=CONFIRM (500 gold)
colour=0xff00
overcolour=0xff0000

[if_2851:com_2960]
type=^iftype_graphic
x=59
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2961]
type=^iftype_graphic
x=84
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2962]
type=^iftype_graphic
x=109
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2963]
type=^iftype_graphic
x=-122
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2964]
type=^iftype_graphic
x=-96
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2965]
type=^iftype_graphic
x=-71
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2966]
type=^iftype_graphic
x=-46
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2967]
type=^iftype_graphic
x=-21
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2968]
type=^iftype_graphic
x=4
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2969]
type=^iftype_graphic
x=29
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2970]
type=^iftype_graphic
x=54
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2971]
type=^iftype_graphic
x=79
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2972]
type=^iftype_graphic
x=104
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2973]
type=^iftype_graphic
x=-127
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2974]
type=^iftype_graphic
x=-102
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2975]
type=^iftype_graphic
x=-77
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,^varp_263
graphic=
activegraphic=headicons,1

[if_2851:com_2976]
type=^iftype_text
x=-48
y=64
width=98
height=14
font=^p12
shadow=yes
text=Select body style
colour=0xffff00

[if_2851:com_2977]
type=^iftype_text
x=-49
y=-108
width=98
height=14
font=^p12
shadow=yes
text=Select arms style
colour=0xffff00

[if_2851:com_2978]
type=^iftype_text
x=-36
y=-31
width=73
height=14
font=^p12
shadow=yes
text=Select colour
colour=0xffff00

[if_2851:com_2979]
type=^iftype_model
x=50
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2980]
type=^iftype_model
x=114
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2981]
type=^iftype_model
x=-80
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2982]
type=^iftype_model
x=-16
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2983]
type=^iftype_model
x=46
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2984]
type=^iftype_model
x=102
y=-71
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2985]
type=^iftype_model
x=-92
y=-71
width=32
height=32
model=model_297
zoom=800

[if_2851:com_2986]
type=^iftype_model
x=50
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2987]
type=^iftype_model
x=114
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2988]
type=^iftype_model
x=-80
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2989]
type=^iftype_model
x=-16
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2990]
type=^iftype_model
x=46
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2991]
type=^iftype_model
x=102
y=9
width=32
height=32
model=model_292
zoom=800

[if_2851:com_2992]
type=^iftype_model
x=50
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2993]
type=^iftype_model
x=114
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2994]
type=^iftype_model
x=-80
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2995]
type=^iftype_model
x=-16
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2996]
type=^iftype_model
x=46
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2997]
type=^iftype_model
x=102
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2998]
type=^iftype_model
x=-92
y=-71
width=32
height=32
model=model_173
zoom=800

[if_2851:com_2999]
type=^iftype_model
x=50
y=9
width=32
height=32
model=model_151
zoom=800

[if_2851:com_3000]
type=^iftype_model
x=114
y=9
width=32
height=32
model=model_167
zoom=800

[if_2851:com_3001]
type=^iftype_model
x=-80
y=9
width=32
height=32
model=model_170
zoom=800

[if_2851:com_3002]
type=^iftype_model
x=-16
y=9
width=32
height=32
model=model_162
zoom=800

[if_2851:com_3003]
type=^iftype_model
x=46
y=9
width=32
height=32
model=model_163
zoom=800

[if_2851:com_3004]
type=^iftype_model
x=102
y=9
width=32
height=32
model=model_158
zoom=800

[if_2851:com_3005]
type=^iftype_model
x=113
y=-71
width=32
height=32
model=model_322
zoom=800

[if_2851:com_3006]
type=^iftype_model
x=-81
y=-71
width=32
height=32
model=model_320
zoom=800

[if_2851:com_3007]
type=^iftype_model
x=-17
y=-71
width=32
height=32
model=model_326
zoom=800

[if_2851:com_3008]
type=^iftype_model
x=45
y=-71
width=32
height=32
model=model_324
zoom=800

[if_2851:com_3009]
type=^iftype_model
x=101
y=-71
width=32
height=32
model=model_327
zoom=800

[if_2851:com_3010]
type=^iftype_graphic
buttontype=^if_selectbutton
x=53
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Plain

[if_2851:com_3011]
type=^iftype_graphic
buttontype=^if_selectbutton
x=117
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Light buttons

[if_2851:com_3012]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-77
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Jacket

[if_2851:com_3013]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-13
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Dark buttons

[if_2851:com_3014]
type=^iftype_graphic
buttontype=^if_selectbutton
x=49
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Stitching

[if_2851:com_3015]
type=^iftype_graphic
buttontype=^if_selectbutton
x=105
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Shirt

[if_2851:com_3016]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-90
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_261
graphic=
activegraphic=headicons,1
option=Two-toned

[if_2851:com_3017]
type=^iftype_graphic
buttontype=^if_selectbutton
x=52
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Regular

[if_2851:com_3018]
type=^iftype_graphic
buttontype=^if_selectbutton
x=116
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Musclebound

[if_2851:com_3019]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-78
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Loose sleeved

[if_2851:com_3020]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-14
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Large cuffed

[if_2851:com_3021]
type=^iftype_graphic
buttontype=^if_selectbutton
x=48
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Thin sleeved

[if_2851:com_3022]
type=^iftype_graphic
buttontype=^if_selectbutton
x=104
y=-76
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_262
graphic=
activegraphic=headicons,1
option=Shoulder pads
