[if_3023]
type=^iftype_layer
width=512
height=334

[if_3023:com_3024]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_3023:com_3025]
type=^iftype_model
x=-17
y=-101
width=32
height=32
model=model_3044
zoom=525

[if_3023:com_3026]
type=^iftype_text
x=82
y=82
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3027]
type=^iftype_text
x=82
y=98
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3028]
type=^iftype_text
x=82
y=114
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3029]
type=^iftype_text
x=82
y=-125
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3030]
type=^iftype_text
x=82
y=-108
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3031]
type=^iftype_text
x=82
y=-91
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3032]
type=^iftype_text
x=82
y=-74
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3033]
type=^iftype_text
x=82
y=-57
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3034]
type=^iftype_text
x=82
y=-40
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3035]
type=^iftype_text
x=82
y=-23
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3036]
type=^iftype_text
x=82
y=-6
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000

[if_3023:com_3037]
type=^iftype_text
x=82
y=11
width=354
height=14
halign=yes
font=^q8
shadow=yes
colour=0xff0000
