[if_3038]
type=^iftype_layer
width=512
height=334

[if_3038:com_3039]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3040]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3041]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3042]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3043]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3044]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3045]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3046]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3047]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3048]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3049]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3050]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3051]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3052]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3053]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3054]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3055]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3056]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3057]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3058]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3059]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3060]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3061]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3062]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3063]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3064]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3065]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3066]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3067]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3068]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_3038:com_3069]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_3038:com_3070]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3071]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3072]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3073]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3074]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3075]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3076]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_3038:com_3077]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3078]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3079]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3080]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3081]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3082]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3083]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_3038:com_3084]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3085]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3086]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3087]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3088]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3089]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3090]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3091]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3092]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3093]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3094]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3095]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3096]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3097]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3098]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3099]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3100]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3101]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3102]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3103]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3104]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3105]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3106]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3107]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3108]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3109]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_3038:com_3110]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_3038:com_3111]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3112]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_3038:com_3113]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3038:com_3114]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3115]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3116]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3117]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3118]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3119]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3120]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3121]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3122]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3123]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3124]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3125]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3126]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_3038:com_3127]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_3038:com_3128]
type=^iftype_text
x=154
y=30
width=199
height=14
halign=yes
font=^b12
shadow=yes
text=Thessalias' Makeovers (Torso)
colour=0xffff00

[if_3038:com_3129]
type=^iftype_rectangle
x=59
y=249
width=403
height=28
fill=yes

[if_3038:com_3130]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=60
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_263
fill=yes
colour=0x7b6e32
option=Khaki

[if_3038:com_3131]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=85
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_263
fill=yes
colour=0x262323
option=Black

[if_3038:com_3132]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=110
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_263
fill=yes
colour=0x752f3b
option=Crimson

[if_3038:com_3133]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=135
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_263
fill=yes
colour=0x3b3b4e
option=Navy

[if_3038:com_3134]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=160
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_263
fill=yes
colour=0xaa9045
option=Straw

[if_3038:com_3135]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=185
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_263
fill=yes
colour=0xbeb89c
option=White

[if_3038:com_3136]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=210
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_263
fill=yes
colour=0x8b3b2a
option=Red

[if_3038:com_3137]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=235
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_263
fill=yes
colour=0x2d5272
option=Blue

[if_3038:com_3138]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=260
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_263
fill=yes
colour=0x2d723e
option=Green

[if_3038:com_3139]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=285
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_263
fill=yes
colour=0xa3970d
option=Yellow

[if_3038:com_3140]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=310
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_263
fill=yes
colour=0x83537b
option=Purple

[if_3038:com_3141]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=335
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_263
fill=yes
colour=0x9d642f
option=Orange

[if_3038:com_3142]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=360
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_263
fill=yes
colour=0xa17067
option=Rose

[if_3038:com_3143]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=385
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,varp_263
fill=yes
colour=0x829472
option=Lime

[if_3038:com_3144]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=410
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,varp_263
fill=yes
colour=0x728c94
option=Cyan

[if_3038:com_3145]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=435
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,varp_263
fill=yes
colour=0x1c6135
option=Emerald

[if_3038:com_3146]
type=^iftype_text
buttontype=^if_button
x=197
y=289
width=127
height=14
font=^b12
shadow=yes
text=CONFIRM (500 gold)
colour=0xff00
overcolour=0xff0000

[if_3038:com_3147]
type=^iftype_graphic
x=59
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3148]
type=^iftype_graphic
x=84
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3149]
type=^iftype_graphic
x=109
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3150]
type=^iftype_graphic
x=134
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3151]
type=^iftype_graphic
x=160
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3152]
type=^iftype_graphic
x=185
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3153]
type=^iftype_graphic
x=210
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3154]
type=^iftype_graphic
x=235
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3155]
type=^iftype_graphic
x=260
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3156]
type=^iftype_graphic
x=285
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3157]
type=^iftype_graphic
x=310
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3158]
type=^iftype_graphic
x=335
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3159]
type=^iftype_graphic
x=360
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3160]
type=^iftype_graphic
x=385
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3161]
type=^iftype_graphic
x=410
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3162]
type=^iftype_graphic
x=435
y=250
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,varp_263
activegraphic=headicons,1

[if_3038:com_3163]
type=^iftype_text
x=208
y=64
width=98
height=14
font=^p12
shadow=yes
text=Select body style
colour=0xffff00

[if_3038:com_3164]
type=^iftype_text
x=207
y=148
width=98
height=14
font=^p12
shadow=yes
text=Select arms style
colour=0xffff00

[if_3038:com_3165]
type=^iftype_text
x=220
y=225
width=73
height=14
font=^p12
shadow=yes
text=Select colour
colour=0xffff00

[if_3038:com_3166]
type=^iftype_model
x=50
y=180
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3167]
type=^iftype_model
x=145
y=180
width=32
height=32
model=model_469
zoom=800

[if_3038:com_3168]
type=^iftype_model
x=240
y=180
width=32
height=32
model=model_470
zoom=800

[if_3038:com_3169]
type=^iftype_model
x=325
y=180
width=32
height=32
model=model_471
zoom=800

[if_3038:com_3170]
type=^iftype_model
x=420
y=180
width=32
height=32
model=model_474
zoom=800

[if_3038:com_3171]
type=^iftype_model
x=50
y=260
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3172]
type=^iftype_model
x=145
y=260
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3173]
type=^iftype_model
x=240
y=260
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3174]
type=^iftype_model
x=325
y=260
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3175]
type=^iftype_model
x=420
y=260
width=32
height=32
model=model_456
zoom=800

[if_3038:com_3176]
type=^iftype_model
x=50
y=180
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3177]
type=^iftype_model
x=145
y=180
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3178]
type=^iftype_model
x=240
y=180
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3179]
type=^iftype_model
x=325
y=180
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3180]
type=^iftype_model
x=420
y=180
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3181]
type=^iftype_model
x=50
y=260
width=32
height=32
model=model_332
zoom=800

[if_3038:com_3182]
type=^iftype_model
x=145
y=260
width=32
height=32
model=model_351
zoom=800

[if_3038:com_3183]
type=^iftype_model
x=240
y=260
width=32
height=32
model=model_346
zoom=800

[if_3038:com_3184]
type=^iftype_model
x=325
y=260
width=32
height=32
model=model_348
zoom=800

[if_3038:com_3185]
type=^iftype_model
x=420
y=260
width=32
height=32
model=model_343
zoom=800

[if_3038:com_3186]
type=^iftype_graphic
buttontype=^if_selectbutton
x=53
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
activegraphic=headicons,1
option=Plain

[if_3038:com_3187]
type=^iftype_graphic
buttontype=^if_selectbutton
x=148
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
activegraphic=headicons,1
option=Crop-top

[if_3038:com_3188]
type=^iftype_graphic
buttontype=^if_selectbutton
x=243
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
activegraphic=headicons,1
option=Polo-neck

[if_3038:com_3189]
type=^iftype_graphic
buttontype=^if_selectbutton
x=328
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
activegraphic=headicons,1
option=Simple

[if_3038:com_3190]
type=^iftype_graphic
buttontype=^if_selectbutton
x=423
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261
activegraphic=headicons,1
option=Torn

[if_3038:com_3191]
type=^iftype_graphic
buttontype=^if_selectbutton
x=52
y=180
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_262
activegraphic=headicons,1
option=Short sleeves

[if_3038:com_3192]
type=^iftype_graphic
buttontype=^if_selectbutton
x=148
y=180
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_262
activegraphic=headicons,1
option=Bare arms

[if_3038:com_3193]
type=^iftype_graphic
buttontype=^if_selectbutton
x=243
y=180
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_262
activegraphic=headicons,1
option=Muscley

[if_3038:com_3194]
type=^iftype_graphic
buttontype=^if_selectbutton
x=328
y=180
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_262
activegraphic=headicons,1
option=Long sleeved

[if_3038:com_3195]
type=^iftype_graphic
buttontype=^if_selectbutton
x=423
y=180
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_262
activegraphic=headicons,1
option=Large cuffs
