[if_3281]
type=^iftype_layer
width=512
height=334

[if_3281:com_3282]
type=^iftype_text
x=175
y=6
width=149
height=14
font=^p12
shadow=yes
text=You Journey on the ship....
colour=0xffff00

[if_3281:com_3283]
type=^iftype_model
x=254
y=140
width=38
height=37
model=model_3040
zoom=485
xan=229
yan=1983

[if_3281:com_3284]
type=^iftype_text
x=102
y=74
width=62
height=17
font=^q8
shadow=yes
text=Kandarin
colour=0xf3cc99

[if_3281:com_3285]
type=^iftype_text
x=387
y=49
width=56
height=17
font=^q8
shadow=yes
text=Asgarnia
colour=0xf3cc99

[if_3281:com_3286]
type=^iftype_text
x=272
y=116
width=56
height=17
font=^q8
shadow=yes
text=Karamja
colour=0xf3cc99

[if_3281:com_3287]
type=^iftype_text
x=202
y=105
width=55
height=17
font=^q8
shadow=yes
text=Crandor
colour=0xf3cc99

[if_3281:com_3288]
type=^iftype_text
x=190
y=78
width=56
height=17
font=^q8
shadow=yes
text=Entrana
colour=0xf3cc99

[if_3281:com_3289]
type=^iftype_text
x=340
y=74
width=31
height=17
font=^q8
shadow=yes
text=Port
colour=0xf3cc99

[if_3281:com_3290]
type=^iftype_text
x=338
y=90
width=38
height=17
font=^q8
shadow=yes
text=Sarim
colour=0xf3cc99

[if_3281:com_3291]
type=^iftype_model
x=380
y=93
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3292]
type=^iftype_model
x=249
y=73
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3293]
type=^iftype_model
x=353
y=164
width=32
height=32
model=model_3046
zoom=1500
xan=390
yan=1833

[if_3281:com_3294]
type=^iftype_model
x=49
y=156
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3295]
type=^iftype_text
x=38
y=115
width=31
height=17
font=^q8
shadow=yes
text=Port
colour=0xf3cc99

[if_3281:com_3296]
type=^iftype_text
x=24
y=132
width=62
height=17
font=^q8
shadow=yes
text=Khazzard
colour=0xf3cc99

[if_3281:com_3297]
type=^iftype_text
x=338
y=171
width=26
height=17
font=^q8
shadow=yes
text=Ship
colour=0xf3cc99

[if_3281:com_3298]
type=^iftype_text
x=332
y=186
width=33
height=17
font=^q8
shadow=yes
text=Yard
colour=0xf3cc99

[if_3281:com_3299]
type=^iftype_model
x=119
y=101
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3300]
type=^iftype_model
x=167
y=199
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3301]
type=^iftype_text
x=197
y=195
width=36
height=17
font=^q8
shadow=yes
text=Cairn
colour=0xf3cc99

[if_3281:com_3302]
type=^iftype_text
x=197
y=210
width=23
height=17
font=^q8
shadow=yes
text=Isle
colour=0xf3cc99

[if_3281:com_3303]
type=^iftype_model
x=153
y=117
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3304]
type=^iftype_text
x=131
y=139
width=70
height=17
font=^q8
shadow=yes
text=Brimhaven
colour=0xf3cc99

[if_3281:com_3305]
type=^iftype_text
x=59
y=99
width=64
height=17
font=^q8
shadow=yes
text=Ardougne
colour=0xf3cc99

[if_3281:com_3306]
type=^iftype_model
x=249
y=96
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[if_3281:com_3307]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_632
zoom=485
xan=229
yan=1983

[if_3281:com_3308]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_633
zoom=485
xan=229
yan=1983

[if_3281:com_3309]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_630
zoom=485
xan=229
yan=1983

[if_3281:com_3310]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_631
zoom=485
xan=229
yan=1983

[if_3281:com_3311]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_634
zoom=485
xan=229
yan=1983

[if_3281:com_3312]
type=^iftype_model
x=255
y=139
width=36
height=37
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_635
zoom=485
xan=229
yan=1983

[if_3281:com_3313]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_636
zoom=485
xan=229
yan=1983

[if_3281:com_3314]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_637
zoom=485
xan=229
yan=1983

[if_3281:com_3315]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_75
activemodel=model_3065
zoom=485
xan=229
yan=1983

[if_3281:com_3316]
type=^iftype_model
x=255
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_638
zoom=485
xan=229
yan=1983

[if_3281:com_3317]
type=^iftype_model
x=256
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_639
zoom=485
xan=229
yan=1983

[if_3281:com_3318]
type=^iftype_model
x=256
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_640
zoom=485
xan=229
yan=1983

[if_3281:com_3319]
type=^iftype_model
x=256
y=140
width=36
height=37
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_75
activemodel=model_3065
activeseq=seq_641
zoom=485
xan=229
yan=1983

[if_3281:com_3320]
type=^iftype_model
x=334
y=116
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199
