[if_3321]
type=^iftype_layer
width=512
height=334

[if_3321:com_3322]
type=^iftype_inventory
x=16
y=8
width=4
height=7
invxof=10
invyof=4
invoption1=Offer 1
invoption2=Offer 5
invoption3=Offer 10
invoption4=Offer All
invoption5=Offer X
