[if_3443]
type=^iftype_layer
width=512
height=334

[if_3443:com_3444]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3445]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3446]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3447]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3448]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3449]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3450]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3451]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3452]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3453]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3454]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3455]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3456]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3457]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3458]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3459]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3460]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3461]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3462]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3463]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3464]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3465]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3466]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3467]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3468]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3469]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3470]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3471]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3472]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3473]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3443:com_3474]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_3443:com_3475]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3476]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3477]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3478]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3479]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3480]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3481]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3482]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3483]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3484]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3485]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3486]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3487]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3488]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_3443:com_3489]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3490]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3491]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3492]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3493]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3494]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3495]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3496]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3497]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3498]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3499]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3500]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3501]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3502]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3503]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3504]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3505]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3506]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3507]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3508]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3509]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3510]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3511]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_3443:com_3512]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_3443:com_3513]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3514]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_3443:com_3515]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3516]
type=^iftype_graphic
x=32
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3517]
type=^iftype_graphic
x=68
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3518]
type=^iftype_graphic
x=-74
y=34
width=25
height=30
graphic=steelborder,0

[if_3443:com_3519]
type=^iftype_graphic
x=-116
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3520]
type=^iftype_graphic
x=-4
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3521]
type=^iftype_graphic
x=-80
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3522]
type=^iftype_graphic
x=-54
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3523]
type=^iftype_graphic
x=-40
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3524]
type=^iftype_graphic
x=-76
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3525]
type=^iftype_graphic
x=-112
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3526]
type=^iftype_graphic
x=108
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3527]
type=^iftype_graphic
x=72
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3528]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3529]
type=^iftype_graphic
x=37
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3530]
type=^iftype_graphic
x=104
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3531]
type=^iftype_graphic
x=18
y=42
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3532]
type=^iftype_inventory_text
x=121
y=96
width=1
height=14
halign=yes
font=^b12
shadow=yes
colour=0xffffff
invyof=2

[if_3443:com_3533]
type=^iftype_text
x=60
y=62
width=146
height=14
font=^b12
shadow=yes
text=You are about to give:
colour=0xffff00

[if_3443:com_3534]
type=^iftype_text
x=34
y=62
width=168
height=14
font=^b12
shadow=yes
text=In return you will receive:
colour=0xffff00

[if_3443:com_3535]
type=^iftype_text
x=-117
y=27
width=240
height=14
halign=yes
font=^p12
shadow=yes
text=Are you sure you want to make this trade?
colour=0xffff

[if_3443:com_3536]
type=^iftype_text
x=107
y=43
width=298
height=11
font=^p11
shadow=yes
text=There is NO WAY to reverse a trade if you change your mind
colour=0xffffff

[if_3443:com_3537]
type=^iftype_graphic
x=-17
y=-13
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3538]
type=^iftype_inventory_text
x=77
y=96
width=2
height=14
halign=yes
font=^p12
shadow=yes
colour=0xffffff
invyof=2

[if_3443:com_3539]
type=^iftype_inventory_text
x=61
y=96
width=2
height=14
halign=yes
font=^p12
shadow=yes
colour=0xffffff
invyof=2

[if_3443:com_3540]
type=^iftype_graphic
x=-17
y=22
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3541]
type=^iftype_graphic
x=-15
y=19
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3542]
type=^iftype_inventory_text
x=-120
y=96
width=1
height=14
halign=yes
font=^b12
shadow=yes
colour=0xffffff
invyof=2

[if_3443:com_3543]
type=^iftype_text
buttontype=^if_closebutton
x=-87
y=27
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_3443:com_3544]
type=^iftype_graphic
x=51
y=34
width=25
height=30
graphic=steelborder,1

[if_3443:com_3545]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3443:com_3546]
type=^iftype_rectangle
buttontype=^if_button
x=-68
y=40
width=66
height=18
fill=yes

[if_3443:com_3547]
type=^iftype_text
x=-53
y=41
width=39
height=14
font=^p12
shadow=yes
text=Accept
colour=0xc000

[if_3443:com_3548]
type=^iftype_rectangle
buttontype=^if_closebutton
x=4
y=40
width=66
height=18
fill=yes

[if_3443:com_3549]
type=^iftype_text
x=18
y=41
width=40
height=14
font=^p12
shadow=yes
text=Decline
colour=0xc00000

[if_3443:com_3550]
type=^iftype_graphic
x=-17
y=99
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3551]
type=^iftype_graphic
x=-17
y=63
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3552]
type=^iftype_graphic
x=-17
y=-85
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3553]
type=^iftype_graphic
x=-49
y=19
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3554]
type=^iftype_graphic
x=-17
y=-49
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3555]
type=^iftype_graphic
x=-17
y=-121
width=36
height=36
graphic=miscgraphics,2

[if_3443:com_3556]
type=^iftype_graphic
x=15
y=19
width=36
height=36
graphic=steelborder2,0

[if_3443:com_3557]
type=^iftype_text
x=72
y=83
width=129
height=14
halign=yes
font=^b12
shadow=yes
text=Absolutely nothing!
colour=0xffffff

[if_3443:com_3558]
type=^iftype_text
x=55
y=84
width=129
height=14
halign=yes
font=^b12
shadow=yes
text=Absolutely nothing!
colour=0xffffff
