[if_3559]
type=^iftype_layer
width=512
height=334

[if_3559:com_3560]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3561]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3562]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3563]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3564]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3565]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3566]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3567]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3568]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3569]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3570]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3571]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3572]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3573]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3574]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3575]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3576]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3577]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3578]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3579]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3580]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3581]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3582]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3583]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3584]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3585]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3586]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3587]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3588]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3589]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3559:com_3590]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_3559:com_3591]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3592]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3593]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3594]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3595]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3596]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3597]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_3559:com_3598]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3599]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3600]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3601]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3602]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3603]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3604]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_3559:com_3605]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3606]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3607]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3608]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3609]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3610]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3611]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3612]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3613]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3614]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3615]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3616]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3617]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3618]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3619]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3620]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3621]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3622]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3623]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3624]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3625]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3626]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3627]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3628]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3629]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3630]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_3559:com_3631]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_3559:com_3632]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3633]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_3559:com_3634]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3635]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3636]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3637]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3638]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3639]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3640]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3641]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3642]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3643]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3644]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3645]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3646]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3647]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3648]
type=^iftype_layer
x=36
y=20
width=440
height=299

[if_3559:com_3649]
type=^iftype_text
x=28
y=29
width=457
height=14
font=^b12
shadow=yes
text=Welcome to RuneScape - Use the buttons below to design your player
colour=0xffff00

[if_3559:com_3650]
type=^iftype_model
contenttype=327
x=-66
y=-101
width=136
height=168
model=model_2930
zoom=650
xan=150

[if_3559:com_3651]
type=^iftype_rectangle
buttontype=^if_button
contenttype=326
x=-33
y=10
width=66
height=31
fill=yes
option=Accept

[if_3559:com_3652]
type=^iftype_text
x=-19
y=18
width=39
height=14
font=^p12
shadow=yes
text=Accept
colour=0xc000

[if_3559:com_3653]
type=^iftype_graphic
x=-39
y=4
width=25
height=30
graphic=steelborder,0

[if_3559:com_3654]
type=^iftype_graphic
x=14
y=4
width=25
height=30
graphic=steelborder,1

[if_3559:com_3655]
type=^iftype_graphic
x=-39
y=17
width=25
height=30
graphic=steelborder,2

[if_3559:com_3656]
type=^iftype_graphic
x=14
y=17
width=25
height=30
graphic=steelborder,3

[if_3559:com_3657]
type=^iftype_graphic
buttontype=^if_button
contenttype=314
x=70
y=74
width=45
height=36
graphic=leftarrow,0
option=Recolour hair

[if_3559:com_3658]
type=^iftype_text
x=90
y=-105
width=31
height=14
font=^p12
shadow=yes
text=Torso
colour=0xffff00

[if_3559:com_3659]
type=^iftype_graphic
buttontype=^if_button
contenttype=300
x=27
y=68
width=45
height=36
graphic=leftarrow,0
option=Change head

[if_3559:com_3660]
type=^iftype_graphic
buttontype=^if_button
contenttype=302
x=27
y=103
width=45
height=36
graphic=leftarrow,0
option=Change jaw

[if_3559:com_3661]
type=^iftype_graphic
buttontype=^if_button
contenttype=304
x=27
y=-118
width=45
height=36
graphic=leftarrow,0
option=Change torso

[if_3559:com_3662]
type=^iftype_graphic
buttontype=^if_button
contenttype=306
x=27
y=-83
width=45
height=36
graphic=leftarrow,0
option=Change arms

[if_3559:com_3663]
type=^iftype_graphic
buttontype=^if_button
contenttype=308
x=27
y=-48
width=45
height=36
graphic=leftarrow,0
option=Change hands

[if_3559:com_3664]
type=^iftype_graphic
buttontype=^if_button
contenttype=310
x=27
y=-13
width=45
height=36
graphic=leftarrow,0
option=Change legs

[if_3559:com_3665]
type=^iftype_graphic
buttontype=^if_button
contenttype=312
x=27
y=22
width=45
height=36
graphic=leftarrow,0
option=Change feet

[if_3559:com_3666]
type=^iftype_graphic
buttontype=^if_button
contenttype=301
x=-116
y=68
width=45
height=36
graphic=rightarrow,0
option=Change head

[if_3559:com_3667]
type=^iftype_graphic
buttontype=^if_button
contenttype=303
x=-116
y=103
width=45
height=36
graphic=rightarrow,0
option=Change jaw

[if_3559:com_3668]
type=^iftype_graphic
buttontype=^if_button
contenttype=305
x=-116
y=-118
width=45
height=36
graphic=rightarrow,0
option=Change torso

[if_3559:com_3669]
type=^iftype_graphic
buttontype=^if_button
contenttype=307
x=-116
y=-83
width=45
height=36
graphic=rightarrow,0
option=Change arms

[if_3559:com_3670]
type=^iftype_graphic
buttontype=^if_button
contenttype=309
x=-116
y=-48
width=45
height=36
graphic=rightarrow,0
option=Change hands

[if_3559:com_3671]
type=^iftype_graphic
buttontype=^if_button
contenttype=311
x=-116
y=-13
width=45
height=36
graphic=rightarrow,0
option=Change legs

[if_3559:com_3672]
type=^iftype_graphic
buttontype=^if_button
contenttype=313
x=-116
y=22
width=45
height=36
graphic=rightarrow,0
option=Change feet

[if_3559:com_3673]
type=^iftype_text
x=90
y=-72
width=29
height=14
font=^p12
shadow=yes
text=Arms
colour=0xffff00

[if_3559:com_3674]
type=^iftype_text
x=91
y=-2
width=27
height=14
font=^p12
shadow=yes
text=Legs
colour=0xffff00

[if_3559:com_3675]
type=^iftype_text
x=91
y=79
width=28
height=14
font=^p12
shadow=yes
text=Head
colour=0xffff00

[if_3559:com_3676]
type=^iftype_text
x=88
y=-37
width=35
height=14
font=^p12
shadow=yes
text=Hands
colour=0xffff00

[if_3559:com_3677]
type=^iftype_text
x=91
y=32
width=25
height=14
font=^p12
shadow=yes
text=Feet
colour=0xffff00

[if_3559:com_3678]
type=^iftype_text
x=94
y=114
width=21
height=14
font=^p12
shadow=yes
text=Jaw
colour=0xffff00

[if_3559:com_3679]
type=^iftype_graphic
buttontype=^if_button
contenttype=315
x=-72
y=74
width=45
height=36
graphic=rightarrow,0
option=Recolour hair

[if_3559:com_3680]
type=^iftype_graphic
buttontype=^if_button
contenttype=318
x=70
y=-112
width=45
height=36
graphic=leftarrow,0
option=Recolour legs

[if_3559:com_3681]
type=^iftype_graphic
buttontype=^if_button
contenttype=316
x=70
y=109
width=45
height=36
graphic=leftarrow,0
option=Recolour torso

[if_3559:com_3682]
type=^iftype_graphic
buttontype=^if_button
contenttype=320
x=70
y=-77
width=45
height=36
graphic=leftarrow,0
option=Recolour feet

[if_3559:com_3683]
type=^iftype_graphic
buttontype=^if_button
contenttype=322
x=70
y=-42
width=45
height=36
graphic=leftarrow,0
option=Recolour skin

[if_3559:com_3684]
type=^iftype_text
x=87
y=55
width=34
height=11
font=^p11
shadow=yes
text=Design
colour=0xffffff

[if_3559:com_3685]
type=^iftype_graphic
buttontype=^if_button
contenttype=317
x=-72
y=109
width=45
height=36
graphic=rightarrow,0
option=Recolour torso

[if_3559:com_3686]
type=^iftype_text
x=-121
y=55
width=33
height=11
font=^p11
shadow=yes
text=Colour
colour=0xffffff

[if_3559:com_3687]
type=^iftype_graphic
buttontype=^if_button
contenttype=319
x=-72
y=-112
width=45
height=36
graphic=rightarrow,0
option=Recolour legs

[if_3559:com_3688]
type=^iftype_graphic
buttontype=^if_button
contenttype=321
x=-72
y=-77
width=45
height=36
graphic=rightarrow,0
option=Recolour feet

[if_3559:com_3689]
type=^iftype_graphic
buttontype=^if_button
contenttype=323
x=-72
y=-42
width=45
height=36
graphic=rightarrow,0
option=Recolour skin

[if_3559:com_3690]
type=^iftype_text
x=-118
y=86
width=22
height=14
font=^p12
shadow=yes
text=Hair
colour=0xffff00

[if_3559:com_3691]
type=^iftype_text
x=-122
y=121
width=31
height=14
font=^p12
shadow=yes
text=Torso
colour=0xffff00

[if_3559:com_3692]
type=^iftype_text
x=-120
y=-101
width=27
height=14
font=^p12
shadow=yes
text=Legs
colour=0xffff00

[if_3559:com_3693]
type=^iftype_text
x=-119
y=-31
width=23
height=14
font=^p12
shadow=yes
text=Skin
colour=0xffff00

[if_3559:com_3694]
type=^iftype_text
x=-119
y=-65
width=25
height=14
font=^p12
shadow=yes
text=Feet
colour=0xffff00

[if_3559:com_3695]
type=^iftype_graphic
x=-21
y=-11
width=36
height=36
graphic=steelborder2,0

[if_3559:com_3696]
type=^iftype_graphic
x=-20
y=26
width=36
height=36
graphic=miscgraphics,3

[if_3559:com_3697]
type=^iftype_text
x=-122
y=2
width=36
height=11
font=^p11
shadow=yes
text=Gender
colour=0xffffff

[if_3559:com_3698]
type=^iftype_graphic
buttontype=^if_button
contenttype=324
x=69
y=15
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Male

[if_3559:com_3699]
type=^iftype_graphic
buttontype=^if_button
contenttype=325
x=-95
y=15
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Female

[if_3559:com_3700]
type=^iftype_text
x=92
y=25
width=26
height=14
font=^p12
shadow=yes
text=Male
colour=0xffff00

[if_3559:com_3701]
type=^iftype_text
x=-77
y=25
width=39
height=14
font=^p12
shadow=yes
text=Female
colour=0xffff00
