[if_363]
type=^iftype_layer
width=512
height=334

[if_363:com_364]
type=^iftype_text
x=21
y=5
width=441
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_363:com_365]
type=^iftype_text
x=21
y=29
width=441
height=17
halign=yes
font=^q8
text=Line2
colour=0x0

[if_363:com_366]
type=^iftype_text
x=21
y=53
width=441
height=17
halign=yes
font=^q8
text=Line3
colour=0x0

[if_363:com_367]
type=^iftype_text
buttontype=^if_pausebutton
x=69
y=77
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000
