[if_3702]
type=^iftype_layer
width=512
height=334

[if_3702:com_3703]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3704]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3705]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3706]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3707]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3708]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3709]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3710]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3711]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3712]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3713]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3714]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3715]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3716]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3717]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3718]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3719]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3720]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3721]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3722]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3723]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3724]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3725]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3726]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3727]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3728]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3729]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3730]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3731]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3732]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_3702:com_3733]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_3702:com_3734]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3735]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3736]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3737]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3738]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3739]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3740]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_3702:com_3741]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3742]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3743]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3744]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3745]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3746]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3747]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_3702:com_3748]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3749]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3750]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3751]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3752]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3753]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3754]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3755]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3756]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3757]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3758]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3759]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3760]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3761]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3762]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3763]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3764]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3765]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3766]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3767]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3768]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3769]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3770]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3771]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3772]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3773]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_3702:com_3774]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_3702:com_3775]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3776]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_3702:com_3777]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_3702:com_3778]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3779]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3780]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3781]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3782]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3783]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3784]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3785]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3786]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3787]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3788]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3789]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3790]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_3702:com_3791]
type=^iftype_layer
x=36
y=20
width=440
height=299

[if_3702:com_3792]
type=^iftype_model
x=-16
y=-88
width=32
height=32
model=model_3056
zoom=500
xan=500

[if_3702:com_3793]
type=^iftype_text
x=-48
y=30
width=98
height=14
font=^b12
shadow=yes
text=Telescope View
colour=0xffff00

[if_3702:com_3794]
type=^iftype_text
buttontype=^if_closebutton
x=-92
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_3702:com_3795]
type=^iftype_model
x=-16
y=-88
width=32
height=32
model=model_3052
zoom=400
xan=500
