[if_381]
type=^iftype_layer
width=512
height=334

[if_381:com_382]
type=^iftype_graphic
x=-92
y=-78
width=36
height=36
graphic=steelborder2,1

[if_381:com_383]
type=^iftype_graphic
x=-10
y=-78
width=36
height=36
graphic=miscgraphics,2

[if_381:com_384]
type=^iftype_graphic
buttontype=^if_button
contenttype=201
x=5
y=-32
width=45
height=36
graphic=leftarrow,0
option=Add friend

[if_381:com_385]
type=^iftype_graphic
buttontype=^if_button
contenttype=202
x=-115
y=-32
width=45
height=36
graphic=rightarrow,0
option=Delete friend

[if_381:com_386]
type=^iftype_text
x=73
y=-20
width=42
height=14
halign=yes
font=^p12
shadow=yes
text=%1/%2
colour=0xffff00

[if_381:com_387]
type=^iftype_graphic
x=5
y=4
width=25
height=30
graphic=steelborder,0

[if_381:com_388]
type=^iftype_graphic
x=-96
y=4
width=25
height=30
graphic=steelborder,1

[if_381:com_389]
type=^iftype_graphic
x=5
y=-64
width=25
height=30
graphic=steelborder,2

[if_381:com_390]
type=^iftype_graphic
x=-96
y=-64
width=25
height=30
graphic=steelborder,3

[if_381:com_391]
type=^iftype_graphic
x=30
y=-11
width=36
height=36
graphic=steelborder2,0

[if_381:com_392]
type=^iftype_graphic
x=66
y=-11
width=36
height=36
graphic=steelborder2,0

[if_381:com_393]
type=^iftype_graphic
x=102
y=-11
width=36
height=36
graphic=steelborder2,0

[if_381:com_394]
type=^iftype_graphic
x=-118
y=-11
width=36
height=36
graphic=steelborder2,0

[if_381:com_395]
type=^iftype_graphic
x=-92
y=34
width=36
height=36
graphic=steelborder2,1

[if_381:com_396]
type=^iftype_graphic
x=-92
y=70
width=36
height=36
graphic=steelborder2,1

[if_381:com_397]
type=^iftype_graphic
x=-92
y=106
width=36
height=36
graphic=steelborder2,1

[if_381:com_398]
type=^iftype_graphic
x=-92
y=-114
width=36
height=36
graphic=steelborder2,1

[if_381:com_399]
type=^iftype_graphic
x=-10
y=34
width=36
height=36
graphic=miscgraphics,2

[if_381:com_400]
type=^iftype_graphic
x=-10
y=70
width=36
height=36
graphic=miscgraphics,2

[if_381:com_401]
type=^iftype_graphic
x=-10
y=106
width=36
height=36
graphic=miscgraphics,2

[if_381:com_402]
type=^iftype_graphic
x=-10
y=-114
width=36
height=36
graphic=miscgraphics,2

[if_381:com_403]
type=^iftype_graphic
x=16
y=-55
width=36
height=36
graphic=miscgraphics,3

[if_381:com_404]
type=^iftype_graphic
x=52
y=-55
width=36
height=36
graphic=miscgraphics,3

[if_381:com_405]
type=^iftype_graphic
x=88
y=-55
width=36
height=36
graphic=miscgraphics,3

[if_381:com_406]
type=^iftype_graphic
x=124
y=-55
width=36
height=36
graphic=miscgraphics,3

[if_381:com_407]
type=^iftype_layer
x=13
y=-108
width=165
height=65

[if_381:com_408]
layer=if_381:com_407
type=^iftype_rectangle
y=4
width=9
height=9
fill=yes

[if_381:com_409]
layer=if_381:com_407
type=^iftype_text
x=16
width=36
height=14
font=^p12
shadow=yes
text=part1c
colour=0xffff00

[if_381:com_410]
layer=if_381:com_407
type=^iftype_text
x=16
y=16
width=38
height=14
font=^p12
shadow=yes
text=part2c
colour=0xffff00

[if_381:com_412]
layer=if_381:com_407
type=^iftype_text
x=16
y=32
width=37
height=14
font=^p12
shadow=yes
text=part3c
colour=0xffff00

[if_381:com_413]
layer=if_381:com_407
type=^iftype_text
x=16
y=48
width=37
height=14
font=^p12
shadow=yes
text=part4c
colour=0xffff00

[if_381:com_411]
type=^iftype_layer
x=13
y=12
width=165
height=65

[if_381:com_414]
layer=if_381:com_411
type=^iftype_rectangle
y=4
width=9
height=9
fill=yes

[if_381:com_415]
layer=if_381:com_411
type=^iftype_text
x=16
width=37
height=14
font=^p12
shadow=yes
text=part1a
colour=0xffff00

[if_381:com_416]
layer=if_381:com_411
type=^iftype_text
x=16
y=16
width=39
height=14
font=^p12
shadow=yes
text=part2a
colour=0xffff00

[if_381:com_417]
layer=if_381:com_411
type=^iftype_text
x=16
y=32
width=38
height=14
font=^p12
shadow=yes
text=part3a
colour=0xffff00

[if_381:com_418]
layer=if_381:com_411
type=^iftype_text
x=16
y=48
width=38
height=14
font=^p12
shadow=yes
text=part4a
colour=0xffff00

[if_381:com_419]
type=^iftype_layer
x=13
y=80
width=165
height=65

[if_381:com_420]
layer=if_381:com_419
type=^iftype_rectangle
y=4
width=9
height=9
fill=yes

[if_381:com_421]
layer=if_381:com_419
type=^iftype_text
x=16
width=37
height=14
font=^p12
shadow=yes
text=part1b
colour=0xffff00

[if_381:com_422]
layer=if_381:com_419
type=^iftype_text
x=16
y=16
width=39
height=14
font=^p12
shadow=yes
text=part2b
colour=0xffff00

[if_381:com_423]
layer=if_381:com_419
type=^iftype_text
x=16
y=32
width=38
height=14
font=^p12
shadow=yes
text=part3b
colour=0xffff00

[if_381:com_424]
layer=if_381:com_419
type=^iftype_text
x=16
y=48
width=38
height=14
font=^p12
shadow=yes
text=part4b
colour=0xffff00
