[if_4267]
type=^iftype_layer
width=512
height=334

[if_4267:com_4268]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1

[if_4267:com_4269]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2

[if_4267:com_4270]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_4267:com_4271]
type=^iftype_model
x=35
y=38
width=32
height=32
model=model_2349
zoom=328
xan=242
yan=1979
