[if_4277]
type=^iftype_layer
width=512
height=334

[if_4277:com_4278]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_4277:com_4279]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2
colour=0x0

[if_4277:com_4280]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_4277:com_4281]
type=^iftype_model
x=29
y=29
width=32
height=32
model=model_3328
zoom=685
xan=533
yan=2040
