[if_4443]
type=^iftype_layer
width=512
height=334

[if_4443:com_5453]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_4443:com_6114]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2
colour=0x0

[if_4443:com_6147]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_4443:com_6204]
type=^iftype_model
x=28
y=34
width=32
height=32
model=model_2711
zoom=405
xan=206
yan=195

[if_4443:com_6205]
type=^iftype_model
x=42
y=17
width=32
height=32
model=model_2562
zoom=397
xan=422
yan=1618
