[if_4446]
type=^iftype_layer
width=512
height=334

[if_4446:com_4447]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2778
zoom=624
xan=521
yan=1288

[if_4446:com_4448]
type=^iftype_text
x=4
y=2
width=47
height=14
font=^p12
shadow=yes
text=Weapon:
colour=0xffff00

[if_4446:com_4449]
type=^iftype_text
x=52
y=2
width=17
height=14
font=^p12
shadow=yes
text=%1
colour=0xffff00

[if_4446:com_4450]
type=^iftype_text
x=4
y=18
width=114
height=14
font=^p12
shadow=yes
text=Choose Attack Style
colour=0xc000

[if_4446:com_4451]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_4446:com_4452]
layer=if_4446:com_4451
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=97
width=72
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4446:com_4453]
layer=if_4446:com_4451
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=51
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4446:com_4454]
layer=if_4446:com_4451
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=5
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4446:com_4455]
layer=if_4446:com_4451
type=^iftype_graphic
x=22
y=103
width=34
height=24
graphic=combaticons2,12

[if_4446:com_4456]
layer=if_4446:com_4451
type=^iftype_graphic
x=21
y=11
width=34
height=24
graphic=combaticons2,10

[if_4446:com_4457]
layer=if_4446:com_4451
type=^iftype_graphic
x=22
y=57
width=34
height=24
graphic=combaticons2,11

[if_4446:com_4458]
layer=if_4446:com_4451
type=^iftype_text
x=78
y=15
width=51
height=14
font=^p12
shadow=yes
text=Accurate
colour=0xffff00

[if_4446:com_4459]
layer=if_4446:com_4451
type=^iftype_text
x=78
y=60
width=31
height=14
font=^p12
shadow=yes
text=Rapid
colour=0xffff00

[if_4446:com_4460]
layer=if_4446:com_4451
type=^iftype_text
x=78
y=107
width=60
height=14
font=^p12
shadow=yes
text=Longrange
colour=0xffff00
