[if_446]
type=^iftype_layer
width=512
height=334

[if_446:com_447]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_448]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_449]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_450]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_451]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_452]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_453]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_454]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_455]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_456]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_457]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_458]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_459]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_460]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_461]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_462]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_463]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_464]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_465]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_466]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_467]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_468]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_469]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_470]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_471]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_472]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_446:com_473]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_446:com_474]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_446:com_475]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_446:com_476]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_446:com_477]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_446:com_478]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_446:com_479]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_446:com_480]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_446:com_481]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_446:com_482]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_446:com_483]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_446:com_484]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_446:com_485]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_446:com_486]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_446:com_487]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_446:com_488]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_446:com_489]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_446:com_490]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_446:com_491]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_446:com_492]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_493]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_494]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_495]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_496]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_497]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_498]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_499]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_500]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_501]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_502]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_503]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_504]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_505]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_506]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_507]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_508]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_509]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_510]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_511]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_512]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_513]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_514]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_515]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_516]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_517]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_446:com_518]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_446:com_519]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_446:com_520]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_446:com_521]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_446:com_522]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_523]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_524]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_525]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_526]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_527]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_528]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_529]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_530]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_531]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_532]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_533]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_534]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_446:com_535]
type=^iftype_model
x=244
y=296
width=32
height=32
model=model_1451
zoom=360
xan=100
yan=1000

[if_446:com_536]
type=^iftype_model
x=253
y=172
width=25
height=25
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_537]
type=^iftype_text
x=221
y=29
width=79
height=14
font=^b12
shadow=yes
text=Target View.
colour=0xffff00

[if_446:com_538]
type=^iftype_model
x=60
y=114
width=25
height=25
scriptc1=^op_geq
scriptv1=11
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_539]
type=^iftype_model
x=256
y=131
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_540]
type=^iftype_model
x=290
y=193
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_541]
type=^iftype_model
x=247
y=233
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_542]
type=^iftype_model
x=193
y=189
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_543]
type=^iftype_model
x=191
y=90
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_544]
type=^iftype_model
x=215
y=126
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_545]
type=^iftype_model
x=298
y=101
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_546]
type=^iftype_model
x=294
y=144
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_547]
type=^iftype_model
x=328
y=163
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_548]
type=^iftype_model
x=275
y=61
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_158
model=model_1105
activemodel=model_2379
zoom=400
xan=100
yan=150

[if_446:com_549]
type=^iftype_text
x=54
y=86
width=33
height=14
font=^p12
shadow=yes
text=Shots
colour=0xffff00

[if_446:com_550]
type=^iftype_text
x=411
y=147
width=35
height=14
font=^p12
shadow=yes
text=Score:
colour=0xffff00

[if_446:com_551]
type=^iftype_text
x=420
y=169
width=17
height=14
script1op1=^load_var,varp_157
halign=yes
font=^p12
shadow=yes
text=%1
colour=0xff99

[if_446:com_552]
type=^iftype_text
x=90
y=86
width=27
height=14
font=^p12
shadow=yes
text=Left:
colour=0xffff00

[if_446:com_553]
type=^iftype_text
x=158
y=156
width=14
height=14
font=^p12
shadow=yes
text=10
colour=0xff99

[if_446:com_554]
type=^iftype_text
x=183
y=156
width=16
height=14
font=^p12
shadow=yes
text=20
colour=0xccff

[if_446:com_555]
type=^iftype_text
x=207
y=156
width=15
height=14
font=^p12
shadow=yes
text=30
colour=0xcc00

[if_446:com_556]
type=^iftype_text
x=231
y=156
width=15
height=14
font=^p12
shadow=yes
text=50
colour=0x88ff

[if_446:com_557]
type=^iftype_model
x=90
y=114
width=25
height=25
scriptc1=^op_geq
scriptv1=10
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_558]
type=^iftype_text
x=251
y=156
width=22
height=14
font=^p12
shadow=yes
text=100
colour=0xff0000

[if_446:com_559]
type=^iftype_model
x=60
y=145
width=25
height=25
scriptc1=^op_geq
scriptv1=9
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_560]
type=^iftype_model
x=90
y=145
width=25
height=25
scriptc1=^op_geq
scriptv1=8
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_561]
type=^iftype_model
x=60
y=175
width=25
height=25
scriptc1=^op_geq
scriptv1=7
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_562]
type=^iftype_model
x=90
y=175
width=25
height=25
scriptc1=^op_geq
scriptv1=6
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_563]
type=^iftype_model
x=60
y=205
width=25
height=25
scriptc1=^op_geq
scriptv1=5
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_564]
type=^iftype_model
x=90
y=205
width=25
height=25
scriptc1=^op_geq
scriptv1=4
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_565]
type=^iftype_model
x=60
y=235
width=25
height=25
scriptc1=^op_geq
scriptv1=3
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_566]
type=^iftype_model
x=90
y=235
width=25
height=25
scriptc1=^op_geq
scriptv1=2
script1op1=^load_var,varp_156
activemodel=model_3142
zoom=800
xan=150
yan=1200

[if_446:com_567]
type=^iftype_text
x=241
y=114
width=50
height=14
halign=yes
font=^b12
shadow=yes
text=Missed!
colour=0xffff00

[if_446:com_568]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff
