[if_4564]
type=^iftype_layer
width=512
height=334

[if_4564:com_4565]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4566]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4567]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4568]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4569]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4570]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4571]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4572]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4573]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4574]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4575]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4576]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4577]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4578]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4579]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4580]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4581]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4582]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4583]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4584]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4585]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4586]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4587]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4588]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4589]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4590]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4591]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4592]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4593]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4594]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_4564:com_4595]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_4564:com_4596]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4597]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4598]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4599]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4600]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4601]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4602]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_4564:com_4603]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4604]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4605]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4606]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4607]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4608]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4609]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_4564:com_4610]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4611]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4612]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4613]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4614]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4615]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4616]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4617]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4618]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4619]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4620]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4621]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4622]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4623]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4624]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4625]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4626]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4627]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4628]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4629]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4630]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4631]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4632]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4633]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4634]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4635]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_4564:com_4636]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_4564:com_4637]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4638]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_4564:com_4639]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_4564:com_4640]
type=^iftype_inventory
x=76
y=65
width=8
height=5
invxof=15
invyof=15
invoption1=Withdraw 1
invoption2=Withdraw All

[if_4564:com_4641]
type=^iftype_text
x=211
y=31
width=88
height=14
halign=yes
font=^b12
shadow=yes
text=Trawler Catch
colour=0xaaaaaa

[if_4564:com_4642]
type=^iftype_text
buttontype=^if_closebutton
x=433
y=32
width=55
height=11
font=^p11
shadow=yes
text=Dump Items
colour=0xaa4444
overcolour=0xffffff

[if_4564:com_4643]
type=^iftype_text
x=73
y=292
width=367
height=14
font=^p12
shadow=yes
text=Click Dump Items to close the window and discard remaining items.
colour=0xaaaaaa

[if_4564:com_4644]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4645]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4646]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4647]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4648]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4649]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4650]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4651]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4652]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4653]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4654]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4655]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_4564:com_4656]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0
