[if_4679]
type=^iftype_layer
width=512
height=334

[if_4679:com_4680]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2778
zoom=624
xan=521
yan=1288

[if_4679:com_4681]
type=^iftype_text
x=4
y=2
width=47
height=14
font=^p12
shadow=yes
text=Weapon:
colour=0xffff00

[if_4679:com_4682]
type=^iftype_text
x=52
y=2
width=17
height=14
font=^p12
shadow=yes
text=%1
colour=0xffff00

[if_4679:com_4683]
type=^iftype_text
x=4
y=18
width=114
height=14
font=^p12
shadow=yes
text=Choose Attack Style
colour=0xc000

[if_4679:com_4684]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_4679:com_4685]
layer=if_4679:com_4684
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=5
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4679:com_4686]
layer=if_4679:com_4684
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=-113
width=72
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4679:com_4687]
layer=if_4679:com_4684
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=97
width=72
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4679:com_4688]
layer=if_4679:com_4684
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=51
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4679:com_4689]
layer=if_4679:com_4684
type=^iftype_graphic
x=22
y=-107
width=34
height=24
graphic=combaticons,17

[if_4679:com_4690]
layer=if_4679:com_4684
type=^iftype_graphic
x=22
y=11
width=34
height=24
graphic=combaticons,8

[if_4679:com_4691]
layer=if_4679:com_4684
type=^iftype_graphic
x=21
y=57
width=34
height=24
graphic=combaticons,18

[if_4679:com_4692]
layer=if_4679:com_4684
type=^iftype_graphic
x=22
y=103
width=34
height=24
graphic=combaticons,9

[if_4679:com_4693]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=5
width=29
height=11
font=^p11
shadow=yes
text=Lunge
colour=0xffff00

[if_4679:com_4694]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=51
width=29
height=11
font=^p11
shadow=yes
text=Swipe
colour=0xffff00

[if_4679:com_4695]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=97
width=31
height=11
font=^p11
shadow=yes
text=Pound
colour=0xffff00

[if_4679:com_4696]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=-113
width=26
height=11
font=^p11
shadow=yes
text=Block
colour=0xffff00

[if_4679:com_4697]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=18
width=58
height=11
font=^p11
text=(Controlled)
colour=0xffff00

[if_4679:com_4698]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=110
width=58
height=11
font=^p11
text=(Controlled)
colour=0xffff00

[if_4679:com_4699]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=64
width=58
height=11
font=^p11
text=(Controlled)
colour=0xffff00

[if_4679:com_4700]
layer=if_4679:com_4684
type=^iftype_text
x=78
y=-100
width=58
height=11
font=^p11
text=(Defensive)
colour=0xffff00

[if_4679:com_4701]
type=^iftype_text
x=82
y=90
width=29
height=11
font=^p11
text=(Stab)
colour=0xffff00

[if_4679:com_4702]
type=^iftype_text
x=82
y=-120
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_4679:com_4703]
type=^iftype_text
x=82
y=-28
width=29
height=11
font=^p11
text=(Stab)
colour=0xffff00

[if_4679:com_4704]
type=^iftype_text
x=82
y=-74
width=36
height=11
font=^p11
text=(Crush)
colour=0xffff00
