[if_4705]
type=^iftype_layer
width=512
height=334

[if_4705:com_4706]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2778
zoom=624
xan=521
yan=1288

[if_4705:com_4707]
type=^iftype_text
x=4
y=10
width=47
height=14
font=^p12
shadow=yes
text=Weapon:
colour=0xffff00

[if_4705:com_4708]
type=^iftype_text
x=52
y=10
width=17
height=14
font=^p12
shadow=yes
text=%1
colour=0xffff00

[if_4705:com_4709]
type=^iftype_text
x=4
y=40
width=114
height=14
font=^p12
shadow=yes
text=Choose Attack Style
colour=0xc000

[if_4705:com_4710]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_4705:com_4711]
layer=if_4705:com_4710
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=5
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4705:com_4712]
layer=if_4705:com_4710
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=-113
width=72
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4705:com_4713]
layer=if_4705:com_4710
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=97
width=72
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4705:com_4714]
layer=if_4705:com_4710
type=^iftype_graphic
buttontype=^if_selectbutton
x=5
y=51
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_43
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_4705:com_4715]
layer=if_4705:com_4710
type=^iftype_graphic
x=22
y=-107
width=34
height=24
graphic=combaticons,4

[if_4705:com_4716]
layer=if_4705:com_4710
type=^iftype_graphic
x=22
y=11
width=34
height=24
graphic=combaticons,6

[if_4705:com_4717]
layer=if_4705:com_4710
type=^iftype_graphic
x=21
y=57
width=34
height=24
graphic=combaticons,5

[if_4705:com_4718]
layer=if_4705:com_4710
type=^iftype_graphic
x=22
y=103
width=34
height=24
graphic=combaticons,5

[if_4705:com_4719]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=5
width=25
height=11
font=^p11
shadow=yes
text=Chop
colour=0xffff00

[if_4705:com_4720]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=51
width=28
height=11
font=^p11
shadow=yes
text=Slash
colour=0xffff00

[if_4705:com_4721]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=97
width=32
height=11
font=^p11
shadow=yes
text=Smash
colour=0xffff00

[if_4705:com_4722]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=-113
width=26
height=11
font=^p11
shadow=yes
text=Block
colour=0xffff00

[if_4705:com_4723]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=18
width=50
height=11
font=^p11
text=(Accurate)
colour=0xffff00

[if_4705:com_4724]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=110
width=64
height=11
font=^p11
text=(Aggressive)
colour=0xffff00

[if_4705:com_4725]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=64
width=64
height=11
font=^p11
text=(Aggressive)
colour=0xffff00

[if_4705:com_4726]
layer=if_4705:com_4710
type=^iftype_text
x=78
y=-100
width=58
height=11
font=^p11
text=(Defensive)
colour=0xffff00

[if_4705:com_4727]
type=^iftype_text
x=82
y=90
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_4705:com_4728]
type=^iftype_text
x=82
y=-120
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_4705:com_4729]
type=^iftype_text
x=82
y=-28
width=34
height=11
font=^p11
text=(Slash)
colour=0xffff00

[if_4705:com_4730]
type=^iftype_text
x=82
y=-74
width=36
height=11
font=^p11
text=(Crush)
colour=0xffff00
