[if_4731]
type=^iftype_layer
width=512
height=334

[if_4731:com_4732]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4733]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4734]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4735]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4736]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4737]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4738]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4739]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4740]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4741]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4742]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4743]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4744]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4745]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4746]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4747]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4748]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4749]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4750]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4751]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4752]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4753]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4754]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4755]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4756]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4757]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4758]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4759]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4760]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4761]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_4731:com_4762]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_4731:com_4763]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4764]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4765]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4766]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4767]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4768]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4769]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_4731:com_4770]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4771]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4772]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4773]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4774]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4775]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4776]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_4731:com_4777]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4778]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4779]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4780]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4781]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4782]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4783]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4784]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4785]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4786]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4787]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4788]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4789]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4790]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4791]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4792]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4793]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4794]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4795]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4796]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4797]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4798]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4799]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4800]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4801]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4802]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_4731:com_4803]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_4731:com_4804]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4805]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_4731:com_4806]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_4731:com_4807]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4808]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4809]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4810]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4811]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4812]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4813]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4814]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4815]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4816]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4817]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4818]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4819]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_4731:com_4820]
type=^iftype_text
buttontype=^if_closebutton
x=-92
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_4731:com_4821]
type=^iftype_text
x=-102
y=30
width=194
height=14
halign=yes
font=^b12
shadow=yes
text=Thessalias' Makeovers (Legs)
colour=0xffff00

[if_4731:com_4822]
type=^iftype_rectangle
x=59
y=-7
width=403
height=28
fill=yes

[if_4731:com_4823]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=85
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_263
fill=yes
colour=0x7b6e32
option=Khaki

[if_4731:com_4824]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=110
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_263
fill=yes
colour=0x262323
option=Black

[if_4731:com_4825]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-121
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_263
fill=yes
colour=0x752f3b
option=Crimson

[if_4731:com_4826]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-96
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_263
fill=yes
colour=0x3b3b4e
option=Navy

[if_4731:com_4827]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-71
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_263
fill=yes
colour=0xaa9045
option=Straw

[if_4731:com_4828]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-46
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_263
fill=yes
colour=0xbeb89c
option=White

[if_4731:com_4829]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-21
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_263
fill=yes
colour=0x8b3b2a
option=Red

[if_4731:com_4830]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=4
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_263
fill=yes
colour=0x2d5272
option=Blue

[if_4731:com_4831]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=29
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_263
fill=yes
colour=0x2d723e
option=Green

[if_4731:com_4832]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=54
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,^varp_263
fill=yes
colour=0xa3970d
option=Yellow

[if_4731:com_4833]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=79
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,^varp_263
fill=yes
colour=0x83537b
option=Purple

[if_4731:com_4834]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=104
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,^varp_263
fill=yes
colour=0x9d642f
option=Orange

[if_4731:com_4835]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-127
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,^varp_263
fill=yes
colour=0xa17067
option=Rose

[if_4731:com_4836]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-102
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,^varp_263
fill=yes
colour=0x829472
option=Lime

[if_4731:com_4837]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-77
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,^varp_263
fill=yes
colour=0x728c94
option=Cyan

[if_4731:com_4838]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=60
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_263
fill=yes
colour=0x1c6135
option=Emerald

[if_4731:com_4839]
type=^iftype_text
buttontype=^if_button
x=-59
y=33
width=127
height=14
font=^b12
shadow=yes
text=CONFIRM (500 gold)
colour=0xff00
overcolour=0xff0000

[if_4731:com_4840]
type=^iftype_graphic
x=59
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4841]
type=^iftype_graphic
x=84
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4842]
type=^iftype_graphic
x=109
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4843]
type=^iftype_graphic
x=-122
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4844]
type=^iftype_graphic
x=-96
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4845]
type=^iftype_graphic
x=-71
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4846]
type=^iftype_graphic
x=-46
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4847]
type=^iftype_graphic
x=-21
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4848]
type=^iftype_graphic
x=4
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4849]
type=^iftype_graphic
x=29
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4850]
type=^iftype_graphic
x=54
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4851]
type=^iftype_graphic
x=79
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4852]
type=^iftype_graphic
x=104
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4853]
type=^iftype_graphic
x=-127
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4854]
type=^iftype_graphic
x=-102
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4855]
type=^iftype_graphic
x=-77
y=-6
width=25
height=25
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,^varp_263
activegraphic=headicons,1

[if_4731:com_4856]
type=^iftype_text
x=-36
y=-31
width=73
height=14
font=^p12
shadow=yes
text=Select colour
colour=0xffff00

[if_4731:com_4857]
type=^iftype_model
x=50
y=-76
width=32
height=32
model=model_419
zoom=600

[if_4731:com_4858]
type=^iftype_model
x=100
y=-76
width=32
height=32
model=model_433
zoom=600

[if_4731:com_4859]
type=^iftype_model
x=-106
y=-76
width=32
height=32
model=model_431
zoom=600

[if_4731:com_4860]
type=^iftype_model
x=-56
y=-76
width=32
height=32
model=model_421
zoom=600

[if_4731:com_4861]
type=^iftype_model
x=-6
y=-76
width=32
height=32
model=model_428
zoom=600

[if_4731:com_4862]
type=^iftype_model
x=44
y=-76
width=32
height=32
model=model_438
zoom=600

[if_4731:com_4863]
type=^iftype_model
x=94
y=-76
width=32
height=32
model=model_437
zoom=600

[if_4731:com_4864]
type=^iftype_model
x=-112
y=-76
width=32
height=32
model=model_429
zoom=600

[if_4731:com_4865]
type=^iftype_graphic
buttontype=^if_selectbutton
x=50
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261
option=Plain

[if_4731:com_4866]
type=^iftype_graphic
buttontype=^if_selectbutton
x=100
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
option=Shorts

[if_4731:com_4867]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-106
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_261
option=Flares

[if_4731:com_4868]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-56
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_261
option=Turn-ups

[if_4731:com_4869]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-6
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_261
option=Turn-ups

[if_4731:com_4870]
type=^iftype_graphic
buttontype=^if_selectbutton
x=44
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_261
option=Turn-ups

[if_4731:com_4871]
type=^iftype_graphic
buttontype=^if_selectbutton
x=94
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_261
option=Turn-ups

[if_4731:com_4872]
type=^iftype_graphic
buttontype=^if_selectbutton
x=-112
y=90
width=30
height=100
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_261
option=Turn-ups

[if_4731:com_4873]
type=^iftype_graphic
x=50
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4874]
type=^iftype_graphic
x=100
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4875]
type=^iftype_graphic
x=-106
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4876]
type=^iftype_graphic
x=-6
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4877]
type=^iftype_graphic
x=-56
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4878]
type=^iftype_graphic
x=44
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4879]
type=^iftype_graphic
x=94
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4880]
type=^iftype_graphic
x=-112
y=100
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_261
activegraphic=headicons,1

[if_4731:com_4881]
type=^iftype_text
x=-45
y=62
width=87
height=14
font=^p12
shadow=yes
text=Select leg style
colour=0xffff00
