[if_4882]
type=^iftype_layer
width=512
height=334

[if_4882:com_4883]
type=^iftype_model
x=34
y=34
width=32
height=32
zoom=796
xan=40
yan=1882

[if_4882:com_4884]
type=^iftype_text
x=111
width=350
height=17
halign=yes
font=^q8
text=Name
colour=0x800000

[if_4882:com_4885]
type=^iftype_text
x=111
y=40
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_4882:com_4886]
type=^iftype_text
buttontype=^if_pausebutton
x=111
y=80
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000
