[if_4908]
type=^iftype_layer
width=512
height=334

[if_4908:com_4909]
type=^iftype_graphic
x=164
y=178
width=36
height=36
graphic=steelborder2,1

[if_4908:com_4910]
type=^iftype_graphic
x=-10
y=178
width=36
height=36
graphic=miscgraphics,2

[if_4908:com_4911]
type=^iftype_graphic
buttontype=^if_button
contenttype=201
x=5
y=224
width=45
height=36
graphic=leftarrow,0
option=Add friend

[if_4908:com_4912]
type=^iftype_graphic
buttontype=^if_button
contenttype=202
x=141
y=224
width=45
height=36
graphic=rightarrow,0
option=Delete friend

[if_4908:com_4913]
type=^iftype_text
x=73
y=236
width=42
height=14
halign=yes
font=^p12
shadow=yes
text=%1/%2
colour=0xffff00

[if_4908:com_4914]
type=^iftype_model
x=13
y=12
width=65
height=65
zoom=400

[if_4908:com_4915]
type=^iftype_graphic
x=5
y=4
width=25
height=30
graphic=steelborder,0

[if_4908:com_4916]
type=^iftype_graphic
x=160
y=4
width=25
height=30
graphic=steelborder,1

[if_4908:com_4917]
type=^iftype_graphic
x=5
y=192
width=25
height=30
graphic=steelborder,2

[if_4908:com_4918]
type=^iftype_graphic
x=160
y=192
width=25
height=30
graphic=steelborder,3

[if_4908:com_4919]
type=^iftype_graphic
x=30
y=-11
width=36
height=36
graphic=steelborder2,0

[if_4908:com_4920]
type=^iftype_graphic
x=66
y=-11
width=36
height=36
graphic=steelborder2,0

[if_4908:com_4921]
type=^iftype_graphic
x=102
y=-11
width=36
height=36
graphic=steelborder2,0

[if_4908:com_4922]
type=^iftype_graphic
x=138
y=-11
width=36
height=36
graphic=steelborder2,0

[if_4908:com_4923]
type=^iftype_graphic
x=164
y=34
width=36
height=36
graphic=steelborder2,1

[if_4908:com_4924]
type=^iftype_graphic
x=164
y=70
width=36
height=36
graphic=steelborder2,1

[if_4908:com_4925]
type=^iftype_graphic
x=164
y=106
width=36
height=36
graphic=steelborder2,1

[if_4908:com_4926]
type=^iftype_graphic
x=164
y=142
width=36
height=36
graphic=steelborder2,1

[if_4908:com_4927]
type=^iftype_graphic
x=-10
y=34
width=36
height=36
graphic=miscgraphics,2

[if_4908:com_4928]
type=^iftype_graphic
x=-10
y=70
width=36
height=36
graphic=miscgraphics,2

[if_4908:com_4929]
type=^iftype_graphic
x=-10
y=106
width=36
height=36
graphic=miscgraphics,2

[if_4908:com_4930]
type=^iftype_graphic
x=-10
y=142
width=36
height=36
graphic=miscgraphics,2

[if_4908:com_4931]
type=^iftype_graphic
x=16
y=201
width=36
height=36
graphic=miscgraphics,3

[if_4908:com_4932]
type=^iftype_graphic
x=52
y=201
width=36
height=36
graphic=miscgraphics,3

[if_4908:com_4933]
type=^iftype_graphic
x=88
y=201
width=36
height=36
graphic=miscgraphics,3

[if_4908:com_4934]
type=^iftype_graphic
x=124
y=201
width=36
height=36
graphic=miscgraphics,3

[if_4908:com_4935]
type=^iftype_text
x=81
y=16
width=28
height=17
font=^q8
shadow=yes
text=line1
colour=0xc000

[if_4908:com_4936]
type=^iftype_text
x=81
y=36
width=28
height=17
font=^q8
shadow=yes
text=line2
colour=0xc000

[if_4908:com_4937]
type=^iftype_text
x=81
y=56
width=28
height=17
font=^q8
shadow=yes
text=line3
colour=0xc000

[if_4908:com_4938]
type=^iftype_layer
x=13
y=80
width=165
height=65

[if_4908:com_4939]
layer=com_4938
type=^iftype_rectangle
y=4
width=9
height=9
fill=yes

[if_4908:com_4940]
layer=com_4938
type=^iftype_text
x=16
width=37
height=14
font=^p12
shadow=yes
text=part1a
colour=0xffff00

[if_4908:com_4941]
layer=com_4938
type=^iftype_text
x=16
y=16
width=39
height=14
font=^p12
shadow=yes
text=part2a
colour=0xffff00

[if_4908:com_4942]
layer=com_4938
type=^iftype_text
x=16
y=32
width=38
height=14
font=^p12
shadow=yes
text=part3a
colour=0xffff00

[if_4908:com_4943]
layer=com_4938
type=^iftype_text
x=16
y=48
width=38
height=14
font=^p12
shadow=yes
text=part4a
colour=0xffff00

[if_4908:com_4944]
type=^iftype_layer
x=13
y=148
width=165
height=65

[if_4908:com_4945]
layer=com_4944
type=^iftype_rectangle
y=4
width=9
height=9
fill=yes

[if_4908:com_4946]
layer=com_4944
type=^iftype_text
x=16
width=37
height=14
font=^p12
shadow=yes
text=part1b
colour=0xffff00

[if_4908:com_4947]
layer=com_4944
type=^iftype_text
x=16
y=16
width=39
height=14
font=^p12
shadow=yes
text=part2b
colour=0xffff00

[if_4908:com_4948]
layer=com_4944
type=^iftype_text
x=16
y=32
width=38
height=14
font=^p12
shadow=yes
text=part3b
colour=0xffff00

[if_4908:com_4949]
layer=com_4944
type=^iftype_text
x=16
y=48
width=38
height=14
font=^p12
shadow=yes
text=part4b
colour=0xffff00
