[if_4958]
type=^iftype_layer
width=512
height=334

[if_4958:com_4959]
type=^iftype_model
x=-121
y=16
width=35
height=32
model=model_2644
zoom=624
xan=521
yan=1288

[if_4958:com_4960]
type=^iftype_text
x=4
y=2
width=58
height=14
font=^p12
shadow=yes
text=GnomeBall
colour=0xffff00

[if_4958:com_4961]
type=^iftype_text
x=4
y=22
width=35
height=14
font=^p12
shadow=yes
text=Score:
colour=0xff99

[if_4958:com_4962]
type=^iftype_text
x=4
y=43
width=81
height=14
font=^p12
shadow=yes
text=Choose Action
colour=0xc000

[if_4958:com_4963]
type=^iftype_layer
x=4
y=60
width=145
height=190

[if_4958:com_4964]
layer=if_4958:com_4963
type=^iftype_graphic
buttontype=^if_targetbutton
x=25
y=115
width=25
height=39
graphic=gnomeball_buttons,2
optioncircumfix=Tackle
optionflags=10

[if_4958:com_4965]
layer=if_4958:com_4963
type=^iftype_graphic
buttontype=^if_button
x=25
y=15
width=25
height=39
graphic=gnomeball_buttons,1
option=Shoot

[if_4958:com_4966]
layer=if_4958:com_4963
type=^iftype_graphic
buttontype=^if_targetbutton
x=25
y=65
width=25
height=39
graphic=gnomeball_buttons,0
optioncircumfix=Pass to
optionflags=10

[if_4958:com_4967]
layer=if_4958:com_4963
type=^iftype_text
x=78
y=25
width=33
height=14
font=^p12
shadow=yes
text=Shoot
colour=0xffff00

[if_4958:com_4968]
layer=if_4958:com_4963
type=^iftype_text
x=78
y=75
width=28
height=14
font=^p12
shadow=yes
text=Pass
colour=0xffff00

[if_4958:com_4969]
layer=if_4958:com_4963
type=^iftype_text
x=78
y=125
width=34
height=14
font=^p12
shadow=yes
text=Tackle
colour=0xffff00

[if_4958:com_4970]
type=^iftype_text
x=42
y=22
width=17
height=14
script1op1=^load_var,^varp_143
font=^p12
shadow=yes
text=%1
colour=0xff99
