[if_4971]
type=^iftype_layer
width=512
height=334

[if_4971:com_4972]
type=^iftype_layer
x=36
y=20
width=440
height=299

[if_4971:com_4973]
type=^iftype_model
x=-17
y=-111
width=35
height=35
model=model_3035
zoom=525
xan=395

[if_4971:com_4974]
type=^iftype_graphic
buttontype=^if_button
x=34
y=3
width=45
height=36
graphic=leftarrow,0

[if_4971:com_4975]
type=^iftype_graphic
buttontype=^if_button
x=-80
y=3
width=45
height=36
graphic=rightarrow,0

[if_4971:com_4976]
type=^iftype_text
x=26
y=77
width=175
height=182
font=^b12
text=line16\nline17\nline18\nline19\nline20\nline21\nline22\nline23\nline24\nline25\nline26\nline27\nline28\nline29\nline30\n

[if_4971:com_4977]
type=^iftype_text
x=66
y=77
width=180
height=182
font=^b12
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12\nline13\nline14\nline15

[if_4971:com_4978]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_4971:com_4979]
layer=if_4971:com_4978
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4980]
layer=if_4971:com_4978
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4981]
layer=if_4971:com_4978
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4982]
layer=if_4971:com_4978
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4983]
layer=if_4971:com_4978
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4984]
layer=if_4971:com_4978
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_4971:com_4985]
layer=if_4971:com_4978
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4986]
layer=if_4971:com_4978
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4987]
layer=if_4971:com_4978
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4988]
layer=if_4971:com_4978
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4989]
layer=if_4971:com_4978
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4990]
layer=if_4971:com_4978
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4991]
layer=if_4971:com_4978
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4992]
layer=if_4971:com_4978
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4993]
layer=if_4971:com_4978
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4994]
layer=if_4971:com_4978
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4995]
layer=if_4971:com_4978
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4996]
layer=if_4971:com_4978
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_4997]
layer=if_4971:com_4978
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_4971:com_4998]
layer=if_4971:com_4978
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_4999]
layer=if_4971:com_4978
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5000]
layer=if_4971:com_4978
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5001]
layer=if_4971:com_4978
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5002]
layer=if_4971:com_4978
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5003]
layer=if_4971:com_4978
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5004]
layer=if_4971:com_4978
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5005]
layer=if_4971:com_4978
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5006]
layer=if_4971:com_4978
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5007]
layer=if_4971:com_4978
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5008]
layer=if_4971:com_4978
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5009]
layer=if_4971:com_4978
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5010]
layer=if_4971:com_4978
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_4971:com_5011]
layer=if_4971:com_4978
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_4971:com_5012]
layer=if_4971:com_4978
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_4971:com_5013]
layer=if_4971:com_4978
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_4971:com_5014]
layer=if_4971:com_4978
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_4971:com_5015]
type=^iftype_text
x=-8
y=30
width=19
height=14
halign=yes
font=^b12
shadow=yes
text=%1
colour=0xffff00

[if_4971:com_5016]
type=^iftype_text
buttontype=^if_closebutton
x=-90
y=33
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff
