[if_5292]
type=^iftype_layer
width=512
height=334

[if_5292:com_5293]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5294]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5295]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5296]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5297]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5298]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5299]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5300]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5301]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5302]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5303]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5304]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5305]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5306]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5307]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5308]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5309]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5310]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5311]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5312]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5313]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5314]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5315]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5316]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5317]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5318]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5319]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5320]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5321]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5322]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5323]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_5292:com_5324]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_5292:com_5325]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5326]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5327]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5328]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5329]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5330]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_5292:com_5331]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5332]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5333]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5334]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5335]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5336]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5337]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_5292:com_5338]
type=^iftype_graphic
x=73
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5339]
type=^iftype_graphic
x=109
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5340]
type=^iftype_graphic
x=145
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5341]
type=^iftype_graphic
x=181
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5342]
type=^iftype_graphic
x=217
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5343]
type=^iftype_graphic
x=253
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5344]
type=^iftype_graphic
x=289
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5345]
type=^iftype_graphic
x=325
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5346]
type=^iftype_graphic
x=361
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5347]
type=^iftype_graphic
x=397
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5348]
type=^iftype_graphic
x=433
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5349]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5350]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5351]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5352]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5353]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5354]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5355]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5356]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5357]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5358]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5359]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5360]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5361]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5362]
type=^iftype_graphic
x=37
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5363]
type=^iftype_graphic
x=12
y=295
width=25
height=30
graphic=steelborder,2

[if_5292:com_5364]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_5292:com_5365]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5366]
type=^iftype_graphic
x=475
y=295
width=25
height=30
graphic=steelborder,3

[if_5292:com_5367]
type=^iftype_graphic
x=439
y=304
width=36
height=36
graphic=miscgraphics,3

[if_5292:com_5368]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5369]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5370]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5371]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5372]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5373]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5374]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5375]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5376]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5377]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5378]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5379]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5380]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_5292:com_5381]
type=^iftype_layer
x=36
y=20
width=440
height=299

[if_5292:com_5383]
type=^iftype_text
x=181
y=30
width=151
height=14
font=^b12
shadow=yes
text=The Bank of RuneScape
colour=0xff981f

[if_5292:com_5384]
type=^iftype_text
buttontype=^if_closebutton
x=419
y=32
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_5292:com_5385]
type=^iftype_layer
x=37
y=55
width=427
height=229
scrollheight=1145

[if_5292:com_5382]
layer=com_5385
type=^iftype_inventory
x=38
y=3
width=8
height=30
invdummy=yes
invxof=15
invyof=6
invoption1=Withdraw 1
invoption2=Withdraw 5
invoption3=Withdraw 10
invoption4=Withdraw All
invoption5=Withdraw X

[if_5292:com_5386]
type=^iftype_graphic
buttontype=^if_selectbutton
x=294
y=283
width=72
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_115
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_5292:com_5387]
type=^iftype_graphic
buttontype=^if_selectbutton
x=150
y=283
width=72
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_115
graphic=combatboxes,0
activegraphic=combatboxes,1

[if_5292:com_5388]
type=^iftype_text
x=161
y=287
width=50
height=14
font=^p12
shadow=yes
text=Withdraw
colour=0xff981f

[if_5292:com_5389]
type=^iftype_text
x=165
y=300
width=41
height=14
font=^p12
shadow=yes
text=as item
colour=0xff981f

[if_5292:com_5390]
type=^iftype_text
x=305
y=287
width=50
height=14
font=^p12
shadow=yes
text=Withdraw
colour=0xff981f

[if_5292:com_5391]
type=^iftype_text
x=308
y=300
width=43
height=14
font=^p12
shadow=yes
text=as note
colour=0xff981f
