[if_5454]
type=^iftype_layer
width=512
height=334

[if_5454:com_5455]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5456]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5457]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5458]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5459]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5460]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5461]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5462]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5463]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5464]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5465]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5466]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5467]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5468]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5469]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5470]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5471]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5472]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5473]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5474]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5475]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5476]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5477]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5478]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5479]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5480]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5481]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5482]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5483]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5484]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_5454:com_5485]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_5454:com_5486]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5487]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5488]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5489]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5490]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5491]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5492]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_5454:com_5493]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5494]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5495]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5496]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5497]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5498]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5499]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_5454:com_5500]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5501]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5502]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5503]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5504]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5505]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5506]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5507]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5508]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5509]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5510]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5511]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5512]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5513]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5514]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5515]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5516]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5517]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5518]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5519]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5520]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5521]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5522]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5523]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5524]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5525]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_5454:com_5526]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_5454:com_5527]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5528]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_5454:com_5529]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_5454:com_5530]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5531]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5532]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5533]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5534]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5535]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5536]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5537]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5538]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5539]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5540]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5541]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5542]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_5454:com_5543]
type=^iftype_text
buttontype=^if_closebutton
x=-92
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_5454:com_5544]
type=^iftype_text
buttontype=^if_button
x=-74
y=18
width=137
height=14
font=^b12
shadow=yes
text=CONFIRM (3000 Gold)
colour=0xffff00
overcolour=0xff00

[if_5454:com_5545]
type=^iftype_rectangle
x=-27
y=64
width=35
height=202
fill=yes

[if_5454:com_5546]
type=^iftype_model
x=90
y=-96
width=32
height=32
model=model_63
zoom=500
yan=1800

[if_5454:com_5547]
type=^iftype_model
x=124
y=-91
width=32
height=32
model=model_103
zoom=500
yan=200

[if_5454:com_5548]
type=^iftype_model
x=90
y=-96
width=32
height=32
model=model_81
zoom=500
yan=1800

[if_5454:com_5549]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=90
width=32
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_262
fill=yes
colour=0xbb8f6a

[if_5454:com_5550]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=115
width=32
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_262
fill=yes
colour=0xa47f5d

[if_5454:com_5551]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=-116
width=32
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_262
fill=yes
colour=0x9e7a49

[if_5454:com_5552]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=-91
width=32
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_262
fill=yes
colour=0x8e6e42

[if_5454:com_5553]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=-66
width=32
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_262
fill=yes
colour=0x79582a

[if_5454:com_5554]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=-41
width=32
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_262
fill=yes
colour=0x644e24

[if_5454:com_5555]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=-16
width=32
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_262
fill=yes
colour=0x4c3d09

[if_5454:com_5556]
type=^iftype_rectangle
buttontype=^if_selectbutton
x=-26
y=65
width=32
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_262
fill=yes
colour=0xd5a985

[if_5454:com_5557]
type=^iftype_text
buttontype=^if_selectbutton
x=78
y=17
width=33
height=14
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261
font=^b12
shadow=yes
text=MALE
activecolour=0xff00

[if_5454:com_5558]
type=^iftype_text
x=-89
y=29
width=166
height=14
font=^p12
shadow=yes
text=Select skin colour and gender
colour=0xffff00

[if_5454:com_5559]
type=^iftype_text
buttontype=^if_selectbutton
x=121
y=17
width=47
height=14
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
font=^b12
shadow=yes
text=FEMALE
activecolour=0xff00

[if_5454:com_5560]
type=^iftype_graphic
x=-23
y=65
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5561]
type=^iftype_graphic
x=-23
y=90
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5562]
type=^iftype_graphic
x=-23
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5563]
type=^iftype_graphic
x=-23
y=-116
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5564]
type=^iftype_graphic
x=-23
y=-91
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5565]
type=^iftype_graphic
x=-23
y=-66
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5566]
type=^iftype_graphic
x=-23
y=-41
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5567]
type=^iftype_graphic
x=-23
y=-16
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_262
activegraphic=headicons,1

[if_5454:com_5568]
type=^iftype_graphic
buttontype=^if_selectbutton
x=60
y=94
width=100
height=150
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_261

[if_5454:com_5569]
type=^iftype_graphic
buttontype=^if_selectbutton
x=85
y=87
width=100
height=150
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_261
