[if_5596]
type=^iftype_layer
width=512
height=334

[if_5596:com_5597]
type=^iftype_model
x=-16
y=-115
width=32
height=32
model=model_3033
zoom=491
xan=484
yan=3

[if_5596:com_5598]
type=^iftype_model
x=96
y=97
width=32
height=32
model=model_1842
zoom=591
xan=155
yan=2037

[if_5596:com_5599]
type=^iftype_model
x=98
y=-102
width=32
height=32
model=model_2386
zoom=385
xan=218
yan=115

[if_5596:com_5600]
type=^iftype_model
x=93
y=-2
width=32
height=32
model=model_2504
zoom=478
xan=148
yan=1752

[if_5596:com_5601]
type=^iftype_text
x=-93
y=92
width=256
height=17
font=^q8
text=Use rope to repair the Trawler's nets.
colour=0x4a4028

[if_5596:com_5602]
type=^iftype_text
x=-96
y=-104
width=221
height=17
font=^q8
text=Use Swamp Paste to repair leaks
colour=0x4a4028

[if_5596:com_5603]
type=^iftype_text
x=-95
y=-82
width=113
height=17
font=^q8
text=in the Ship's hull.
colour=0x4a4028

[if_5596:com_5604]
type=^iftype_text
x=-95
y=-29
width=232
height=17
font=^q8
text=If all else fails you can always try
colour=0x4a4028

[if_5596:com_5605]
type=^iftype_text
x=-94
y=-7
width=202
height=17
font=^q8
text=and bail the water out as well!
colour=0x4a4028

[if_5596:com_5606]
type=^iftype_text
x=-37
y=60
width=85
height=17
font=^q8
shadow=yes
text=How to play:
colour=0xe5bd5d

[if_5596:com_5607]
type=^iftype_text
buttontype=^if_closebutton
x=-82
y=7
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff
