[if_5608]
type=^iftype_layer
width=512
height=334

[if_5608:com_5609]
type=^iftype_graphic
buttontype=^if_togglebutton
x=19
y=6
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_83
activegraphic=prayerglow,0

[if_5608:com_5610]
type=^iftype_graphic
buttontype=^if_togglebutton
x=79
y=6
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_84
activegraphic=prayerglow,0

[if_5608:com_5611]
type=^iftype_graphic
buttontype=^if_togglebutton
x=-117
y=6
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_85
activegraphic=prayerglow,0

[if_5608:com_5612]
type=^iftype_graphic
buttontype=^if_togglebutton
x=19
y=42
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_86
activegraphic=prayerglow,0

[if_5608:com_5613]
type=^iftype_graphic
buttontype=^if_togglebutton
x=79
y=42
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_87
activegraphic=prayerglow,0

[if_5608:com_5614]
type=^iftype_graphic
buttontype=^if_togglebutton
x=-117
y=42
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_88
activegraphic=prayerglow,0

[if_5608:com_5615]
type=^iftype_graphic
buttontype=^if_togglebutton
x=19
y=78
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_89
activegraphic=prayerglow,0

[if_5608:com_5616]
type=^iftype_graphic
buttontype=^if_togglebutton
x=79
y=78
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_90
activegraphic=prayerglow,0

[if_5608:com_5617]
type=^iftype_graphic
buttontype=^if_togglebutton
x=-117
y=78
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_91
activegraphic=prayerglow,0

[if_5608:com_5618]
type=^iftype_graphic
buttontype=^if_togglebutton
x=19
y=114
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_92
activegraphic=prayerglow,0

[if_5608:com_5619]
type=^iftype_graphic
buttontype=^if_togglebutton
x=79
y=114
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_93
activegraphic=prayerglow,0

[if_5608:com_5620]
type=^iftype_graphic
buttontype=^if_togglebutton
x=-117
y=114
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_94
activegraphic=prayerglow,0

[if_5608:com_5621]
type=^iftype_graphic
buttontype=^if_togglebutton
x=19
y=-106
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_95
activegraphic=prayerglow,0

[if_5608:com_5622]
type=^iftype_graphic
buttontype=^if_togglebutton
x=79
y=-106
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_96
activegraphic=prayerglow,0

[if_5608:com_5623]
type=^iftype_graphic
buttontype=^if_togglebutton
x=-117
y=-106
width=34
height=34
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_97
activegraphic=prayerglow,0

[if_5608:com_5624]
type=^iftype_layer
x=3
y=-78
width=186
height=88

[if_5608:com_5625]
type=^iftype_rectangle
x=6
y=-69
width=178
height=72
colour=0x726451

[if_5608:com_5626]
type=^iftype_rectangle
x=7
y=-68
width=176
height=70
colour=0x726451

[if_5608:com_5627]
type=^iftype_rectangle
x=7
y=-68
width=177
height=71
colour=0x2e2b23

[if_5608:com_5628]
type=^iftype_rectangle
x=8
y=-67
width=174
height=68
fill=yes

[if_5608:com_5629]
type=^iftype_graphic
x=21
y=8
width=30
height=30
overlayer=com_5646
scriptc1=^op_leq
scriptv1=0
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,0
activegraphic=prayeron,0

[if_5608:com_5630]
type=^iftype_graphic
x=81
y=8
width=30
height=30
overlayer=com_5650
scriptc1=^op_leq
scriptv1=3
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,1
activegraphic=prayeron,1

[if_5608:com_5631]
type=^iftype_graphic
x=-115
y=8
width=30
height=30
overlayer=com_5654
scriptc1=^op_leq
scriptv1=6
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,2
activegraphic=prayeron,2

[if_5608:com_5632]
type=^iftype_graphic
x=21
y=44
width=30
height=30
overlayer=com_5658
scriptc1=^op_leq
scriptv1=9
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,3
activegraphic=prayeron,3

[if_5608:com_5633]
type=^iftype_graphic
x=81
y=44
width=30
height=30
overlayer=com_5662
scriptc1=^op_leq
scriptv1=12
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,4
activegraphic=prayeron,4

[if_5608:com_5634]
type=^iftype_graphic
x=-115
y=44
width=30
height=30
overlayer=com_5666
scriptc1=^op_leq
scriptv1=15
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,5
activegraphic=prayeron,5

[if_5608:com_5635]
type=^iftype_graphic
x=21
y=80
width=30
height=30
overlayer=com_5670
scriptc1=^op_leq
scriptv1=18
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,6
activegraphic=prayeron,6

[if_5608:com_5636]
type=^iftype_graphic
x=81
y=80
width=30
height=30
overlayer=com_5674
scriptc1=^op_leq
scriptv1=21
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,7
activegraphic=prayeron,7

[if_5608:com_5637]
type=^iftype_graphic
x=-115
y=80
width=30
height=30
overlayer=com_5678
scriptc1=^op_leq
scriptv1=24
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,8
activegraphic=prayeron,8

[if_5608:com_5638]
type=^iftype_graphic
x=21
y=116
width=30
height=30
overlayer=com_5682
scriptc1=^op_leq
scriptv1=27
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,9
activegraphic=prayeron,9

[if_5608:com_5639]
type=^iftype_graphic
x=81
y=116
width=30
height=30
overlayer=com_5686
scriptc1=^op_leq
scriptv1=30
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,10
activegraphic=prayeron,10

[if_5608:com_5640]
type=^iftype_graphic
x=-115
y=116
width=30
height=30
overlayer=com_5690
scriptc1=^op_leq
scriptv1=33
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,11
activegraphic=prayeron,11

[if_5608:com_5641]
type=^iftype_graphic
x=21
y=-104
width=30
height=30
overlayer=com_5694
scriptc1=^op_leq
scriptv1=36
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,12
activegraphic=prayeron,12

[if_5608:com_5642]
type=^iftype_graphic
x=81
y=-104
width=30
height=30
overlayer=com_5698
scriptc1=^op_leq
scriptv1=39
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,13
activegraphic=prayeron,13

[if_5608:com_5643]
type=^iftype_graphic
x=-115
y=-104
width=30
height=30
overlayer=com_5702
scriptc1=^op_leq
scriptv1=42
script1op1=^load_stat_base_level,^prayer
graphic=prayeroff,14
activegraphic=prayeron,14

[if_5608:com_5644]
type=^iftype_text
x=8
y=-33
width=174
height=14
script1op1=^load_stat_level,^prayer
script2op1=^load_stat_base_level,^prayer
halign=yes
font=^p12
text=Prayer: %1/%2
colour=0xffff00

[if_5608:com_5645]
type=^iftype_graphic
x=83
y=-64
width=25
height=25
graphic=staticons,4

[if_5608:com_5646]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5647]
layer=if_5608:com_5646
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5648]
layer=if_5608:com_5646
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 1\nThick Skin
colour=0xffff00

[if_5608:com_5649]
layer=if_5608:com_5646
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your defence by 5%
colour=0x6b6f33

[if_5608:com_5650]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5651]
layer=if_5608:com_5650
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5652]
layer=if_5608:com_5650
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 4\nBurst of Strength
colour=0xffff00

[if_5608:com_5653]
layer=if_5608:com_5650
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your strength by 5%
colour=0x6b6f33

[if_5608:com_5654]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5655]
layer=if_5608:com_5654
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5656]
layer=if_5608:com_5654
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 7\nClarity of Thought
colour=0xffff00

[if_5608:com_5657]
layer=if_5608:com_5654
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your attack by 5%
colour=0x6b6f33

[if_5608:com_5658]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5659]
layer=if_5608:com_5658
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5660]
layer=if_5608:com_5658
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 10\nRock Skin
colour=0xffff00

[if_5608:com_5661]
layer=if_5608:com_5658
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your defence by 10%
colour=0x6b6f33

[if_5608:com_5662]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5663]
layer=if_5608:com_5662
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5664]
layer=if_5608:com_5662
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 13\nSuperhuman Strength
colour=0xffff00

[if_5608:com_5665]
layer=if_5608:com_5662
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your strength by 10%
colour=0x6b6f33

[if_5608:com_5666]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5667]
layer=if_5608:com_5666
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5668]
layer=if_5608:com_5666
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 16\nImproved Reflexes
colour=0xffff00

[if_5608:com_5669]
layer=if_5608:com_5666
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your attack by 10%
colour=0x6b6f33

[if_5608:com_5670]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5671]
layer=if_5608:com_5670
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5672]
layer=if_5608:com_5670
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 19\nRapid Restore
colour=0xffff00

[if_5608:com_5673]
layer=if_5608:com_5670
type=^iftype_text
x=3
y=41
width=174
height=20
halign=yes
font=^p11
shadow=yes
text=2x restore rate for all stats\nexcept hitpoints and prayer
colour=0x6b6f33

[if_5608:com_5674]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5675]
layer=if_5608:com_5674
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5676]
layer=if_5608:com_5674
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 22\nRapid Heal
colour=0xffff00

[if_5608:com_5677]
layer=if_5608:com_5674
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=2x restore rate for hitpoints stat
colour=0x6b6f33

[if_5608:com_5678]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5679]
layer=if_5608:com_5678
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5680]
layer=if_5608:com_5678
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 25\nProtect Items
colour=0xffff00

[if_5608:com_5681]
layer=if_5608:com_5678
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Keep 1 extra item if you die
colour=0x6b6f33

[if_5608:com_5682]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5683]
layer=if_5608:com_5682
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5684]
layer=if_5608:com_5682
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 28\nSteel Skin
colour=0xffff00

[if_5608:com_5685]
layer=if_5608:com_5682
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your defence by 15%
colour=0x6b6f33

[if_5608:com_5686]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5687]
layer=if_5608:com_5686
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5688]
layer=if_5608:com_5686
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 31\nUltimate Strength
colour=0xffff00

[if_5608:com_5689]
layer=if_5608:com_5686
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your strength by 15%
colour=0x6b6f33

[if_5608:com_5690]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5691]
layer=if_5608:com_5690
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5692]
layer=if_5608:com_5690
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 34\nIncredible Reflexes
colour=0xffff00

[if_5608:com_5693]
layer=if_5608:com_5690
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Increases your attack by 15%
colour=0x6b6f33

[if_5608:com_5694]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5695]
layer=if_5608:com_5694
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5696]
layer=if_5608:com_5694
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 37\nProtect from Magic
colour=0xffff00

[if_5608:com_5697]
layer=if_5608:com_5694
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Protection from magical attacks
colour=0x6b6f33

[if_5608:com_5698]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5699]
layer=if_5608:com_5698
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5700]
layer=if_5608:com_5698
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 40\nProtect From Missiles
colour=0xffff00

[if_5608:com_5701]
layer=if_5608:com_5698
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Protection from ranged attacks
colour=0x6b6f33

[if_5608:com_5702]
type=^iftype_layer
x=5
y=-72
width=182
height=76
hide=yes

[if_5608:com_5703]
layer=if_5608:com_5702
type=^iftype_rectangle
x=3
y=5
width=174
height=68
fill=yes

[if_5608:com_5704]
layer=if_5608:com_5702
type=^iftype_text
x=3
y=8
width=174
height=26
halign=yes
font=^p12
shadow=yes
text=Level 43\nProtect from Melee
colour=0xffff00

[if_5608:com_5705]
layer=if_5608:com_5702
type=^iftype_text
x=3
y=41
width=174
height=11
halign=yes
font=^p11
shadow=yes
text=Protection from close attacks
colour=0x6b6f33
