[if_569]
type=^iftype_layer
width=512
height=334

[if_569:com_570]
type=^iftype_model
x=-17
y=-111
width=35
height=35
model=model_3035
zoom=525
xan=395

[if_569:com_571]
type=^iftype_layer
x=44
y=80
width=135
height=167
hide=yes

[if_569:com_574]
layer=if_569:com_571
type=^iftype_text
width=135
height=17
halign=yes
font=^q8
text=Cocktail Index
colour=0x80

[if_569:com_575]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=30
width=135
height=17
halign=yes
font=^q8
text=Blurberry Special
colour=0x0

[if_569:com_576]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=50
width=135
height=17
halign=yes
font=^q8
text=Chocolate Saturday
colour=0x0

[if_569:com_577]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=70
width=135
height=17
halign=yes
font=^q8
text=Drunk Dragon
colour=0x0

[if_569:com_578]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=90
width=135
height=17
halign=yes
font=^q8
text=Fruit Blast
colour=0x0

[if_569:com_579]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=110
width=135
height=17
halign=yes
font=^q8
text=Pineapple Punch
colour=0x0

[if_569:com_580]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=-126
width=135
height=17
halign=yes
font=^q8
text=Short Green Guy
colour=0x0

[if_569:com_581]
layer=if_569:com_571
type=^iftype_text
buttontype=^if_button
y=-106
width=135
height=17
halign=yes
font=^q8
text=Wizard Blizzard
colour=0x0

[if_569:com_573]
type=^iftype_layer
x=-80
y=3
width=45
height=36

[if_569:com_572]
layer=if_569:com_573
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=rightarrow,0

[if_569:com_582]
type=^iftype_layer
x=47
y=80
width=409
height=209

[if_569:com_583]
layer=if_569:com_582
type=^iftype_text
x=15
width=163
height=17
halign=yes
font=^q8
text=Gnome Bowls
colour=0x80

[if_569:com_584]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=12
y=32
width=163
height=17
halign=yes
font=^q8
text=Chocolate Bomb
colour=0x0

[if_569:com_585]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=11
y=48
width=163
height=17
halign=yes
font=^q8
text=Tangled Toad's Legs
colour=0x0

[if_569:com_586]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=10
y=64
width=163
height=17
halign=yes
font=^q8
text=Worm Hole
colour=0x0

[if_569:com_587]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=9
y=80
width=163
height=17
halign=yes
font=^q8
text=Veg Ball
colour=0x0

[if_569:com_588]
layer=if_569:com_582
type=^iftype_text
x=6
y=112
width=163
height=17
halign=yes
font=^q8
text=Gnome Crunchies
colour=0x80

[if_569:com_589]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=3
y=-112
width=163
height=17
halign=yes
font=^q8
text=Worm Crunchies
colour=0x0

[if_569:com_590]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=2
y=-96
width=163
height=17
halign=yes
font=^q8
text=Choc Chip Crunchies
colour=0x0

[if_569:com_591]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=1
y=-80
width=163
height=17
halign=yes
font=^q8
text=Spicy Crunchies
colour=0x0

[if_569:com_592]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
y=-64
width=163
height=17
halign=yes
font=^q8
text=Toad Crunchies
colour=0x0

[if_569:com_593]
layer=if_569:com_582
type=^iftype_text
x=-17
width=163
height=17
halign=yes
font=^q8
text=Gnome Battas
colour=0x80

[if_569:com_594]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=-14
y=32
width=163
height=17
halign=yes
font=^q8
text=Worm Batta
colour=0x0

[if_569:com_595]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=-13
y=48
width=163
height=17
halign=yes
font=^q8
text=Toad's Legs Batta
colour=0x0

[if_569:com_596]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=-12
y=64
width=163
height=17
halign=yes
font=^q8
text=Cheese & Tomato Batta
colour=0x0

[if_569:com_597]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=-11
y=80
width=163
height=17
halign=yes
font=^q8
text=Fruit Batta
colour=0x0

[if_569:com_598]
layer=if_569:com_582
type=^iftype_text
buttontype=^if_button
x=-10
y=96
width=163
height=17
halign=yes
font=^q8
text=Vegetable Batta
colour=0x0

[if_569:com_599]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_569:com_600]
layer=if_569:com_599
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_569:com_601]
layer=if_569:com_599
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_569:com_602]
layer=if_569:com_599
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_569:com_603]
layer=if_569:com_599
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_569:com_604]
layer=if_569:com_599
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_569:com_605]
layer=if_569:com_599
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_569:com_606]
layer=if_569:com_599
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_607]
layer=if_569:com_599
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_608]
layer=if_569:com_599
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_609]
layer=if_569:com_599
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_610]
layer=if_569:com_599
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_611]
layer=if_569:com_599
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_612]
layer=if_569:com_599
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_613]
layer=if_569:com_599
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_614]
layer=if_569:com_599
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_615]
layer=if_569:com_599
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_616]
layer=if_569:com_599
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_617]
layer=if_569:com_599
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_618]
layer=if_569:com_599
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_569:com_619]
layer=if_569:com_599
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_620]
layer=if_569:com_599
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_621]
layer=if_569:com_599
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_622]
layer=if_569:com_599
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_623]
layer=if_569:com_599
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_624]
layer=if_569:com_599
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_625]
layer=if_569:com_599
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_626]
layer=if_569:com_599
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_627]
layer=if_569:com_599
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_628]
layer=if_569:com_599
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_629]
layer=if_569:com_599
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_630]
layer=if_569:com_599
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_631]
layer=if_569:com_599
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_569:com_632]
layer=if_569:com_599
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_569:com_633]
layer=if_569:com_599
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_569:com_634]
layer=if_569:com_599
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_569:com_635]
layer=if_569:com_599
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_569:com_636]
type=^iftype_text
x=75
y=30
width=360
height=14
halign=yes
font=^b12
shadow=yes
text=The Blurberry Cocktail Guide
colour=0xffff00

[if_569:com_637]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff
