[if_5706]
type=^iftype_layer
width=512
height=334

[if_5706:com_5707]
type=^iftype_model
x=40
y=60
width=32
height=32
zoom=400
xan=40
yan=1882

[if_5706:com_5708]
type=^iftype_text
x=111
y=30
width=350
height=17
halign=yes
font=^q8
text=Line1

[if_5706:com_5709]
type=^iftype_text
buttontype=^if_pausebutton
x=111
y=80
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000
