[if_5715]
type=^iftype_layer
width=512
height=334

[if_5715:com_5716]
type=^iftype_layer
contenttype=503
x=3
y=20
width=168
height=204
scrollheight=400

[if_5715:com_5742]
layer=if_5715:com_5716
type=^iftype_text
contenttype=401
x=7
y=8
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5743]
layer=if_5715:com_5716
type=^iftype_text
contenttype=402
x=7
y=23
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5744]
layer=if_5715:com_5716
type=^iftype_text
contenttype=403
x=7
y=38
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5745]
layer=if_5715:com_5716
type=^iftype_text
contenttype=404
x=7
y=53
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5746]
layer=if_5715:com_5716
type=^iftype_text
contenttype=405
x=7
y=68
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5747]
layer=if_5715:com_5716
type=^iftype_text
contenttype=406
x=7
y=83
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5748]
layer=if_5715:com_5716
type=^iftype_text
contenttype=407
x=7
y=98
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5749]
layer=if_5715:com_5716
type=^iftype_text
contenttype=408
x=7
y=113
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5750]
layer=if_5715:com_5716
type=^iftype_text
contenttype=409
x=7
y=-128
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5751]
layer=if_5715:com_5716
type=^iftype_text
contenttype=410
x=7
y=-113
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5752]
layer=if_5715:com_5716
type=^iftype_text
contenttype=411
x=7
y=-98
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5753]
layer=if_5715:com_5716
type=^iftype_text
contenttype=412
x=7
y=-83
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5754]
layer=if_5715:com_5716
type=^iftype_text
contenttype=413
x=7
y=-68
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5755]
layer=if_5715:com_5716
type=^iftype_text
contenttype=414
x=7
y=-53
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5756]
layer=if_5715:com_5716
type=^iftype_text
contenttype=415
x=7
y=-38
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5757]
layer=if_5715:com_5716
type=^iftype_text
contenttype=416
x=7
y=-23
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5758]
layer=if_5715:com_5716
type=^iftype_text
contenttype=417
x=7
y=-8
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5759]
layer=if_5715:com_5716
type=^iftype_text
contenttype=418
x=7
y=7
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5760]
layer=if_5715:com_5716
type=^iftype_text
contenttype=419
x=7
y=22
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5761]
layer=if_5715:com_5716
type=^iftype_text
contenttype=420
x=7
y=37
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5762]
layer=if_5715:com_5716
type=^iftype_text
contenttype=421
x=7
y=52
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5763]
layer=if_5715:com_5716
type=^iftype_text
contenttype=422
x=7
y=67
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5764]
layer=if_5715:com_5716
type=^iftype_text
contenttype=423
x=7
y=82
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5765]
layer=if_5715:com_5716
type=^iftype_text
contenttype=424
x=7
y=97
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5766]
layer=if_5715:com_5716
type=^iftype_text
contenttype=425
x=7
y=112
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5767]
layer=if_5715:com_5716
type=^iftype_text
contenttype=426
x=7
y=127
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5768]
layer=if_5715:com_5716
type=^iftype_text
contenttype=427
x=7
y=-114
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5769]
layer=if_5715:com_5716
type=^iftype_text
contenttype=428
x=7
y=-99
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5770]
layer=if_5715:com_5716
type=^iftype_text
contenttype=429
x=7
y=-84
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5771]
layer=if_5715:com_5716
type=^iftype_text
contenttype=430
x=7
y=-69
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5772]
layer=if_5715:com_5716
type=^iftype_text
contenttype=431
x=7
y=-54
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5773]
layer=if_5715:com_5716
type=^iftype_text
contenttype=432
x=7
y=-39
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5774]
layer=if_5715:com_5716
type=^iftype_text
contenttype=433
x=7
y=-24
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5775]
layer=if_5715:com_5716
type=^iftype_text
contenttype=434
x=7
y=-9
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5776]
layer=if_5715:com_5716
type=^iftype_text
contenttype=435
x=7
y=6
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5777]
layer=if_5715:com_5716
type=^iftype_text
contenttype=436
x=7
y=21
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5778]
layer=if_5715:com_5716
type=^iftype_text
contenttype=437
x=7
y=36
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5779]
layer=if_5715:com_5716
type=^iftype_text
contenttype=438
x=7
y=51
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5780]
layer=if_5715:com_5716
type=^iftype_text
contenttype=439
x=7
y=66
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5781]
layer=if_5715:com_5716
type=^iftype_text
contenttype=440
x=7
y=81
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5782]
layer=if_5715:com_5716
type=^iftype_text
contenttype=441
x=7
y=96
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5783]
layer=if_5715:com_5716
type=^iftype_text
contenttype=442
x=7
y=111
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5784]
layer=if_5715:com_5716
type=^iftype_text
contenttype=443
x=7
y=126
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5785]
layer=if_5715:com_5716
type=^iftype_text
contenttype=444
x=7
y=-115
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5786]
layer=if_5715:com_5716
type=^iftype_text
contenttype=445
x=7
y=-100
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5787]
layer=if_5715:com_5716
type=^iftype_text
contenttype=446
x=7
y=-85
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5788]
layer=if_5715:com_5716
type=^iftype_text
contenttype=447
x=7
y=-70
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5789]
layer=if_5715:com_5716
type=^iftype_text
contenttype=448
x=7
y=-55
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5790]
layer=if_5715:com_5716
type=^iftype_text
contenttype=449
x=7
y=-40
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5791]
layer=if_5715:com_5716
type=^iftype_text
contenttype=450
x=7
y=-25
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5792]
layer=if_5715:com_5716
type=^iftype_text
contenttype=451
x=7
y=-10
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5793]
layer=if_5715:com_5716
type=^iftype_text
contenttype=452
x=7
y=5
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5794]
layer=if_5715:com_5716
type=^iftype_text
contenttype=453
x=7
y=20
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5795]
layer=if_5715:com_5716
type=^iftype_text
contenttype=454
x=7
y=35
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5796]
layer=if_5715:com_5716
type=^iftype_text
contenttype=455
x=7
y=50
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5797]
layer=if_5715:com_5716
type=^iftype_text
contenttype=456
x=7
y=65
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5798]
layer=if_5715:com_5716
type=^iftype_text
contenttype=457
x=7
y=80
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5799]
layer=if_5715:com_5716
type=^iftype_text
contenttype=458
x=7
y=95
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5800]
layer=if_5715:com_5716
type=^iftype_text
contenttype=459
x=7
y=110
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5801]
layer=if_5715:com_5716
type=^iftype_text
contenttype=460
x=7
y=125
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5802]
layer=if_5715:com_5716
type=^iftype_text
contenttype=461
x=7
y=-116
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5803]
layer=if_5715:com_5716
type=^iftype_text
contenttype=462
x=7
y=-101
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5804]
layer=if_5715:com_5716
type=^iftype_text
contenttype=463
x=7
y=-86
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5805]
layer=if_5715:com_5716
type=^iftype_text
contenttype=464
x=7
y=-71
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5806]
layer=if_5715:com_5716
type=^iftype_text
contenttype=465
x=7
y=-56
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5807]
layer=if_5715:com_5716
type=^iftype_text
contenttype=466
x=7
y=-41
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5808]
layer=if_5715:com_5716
type=^iftype_text
contenttype=467
x=7
y=-26
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5809]
layer=if_5715:com_5716
type=^iftype_text
contenttype=468
x=7
y=-11
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5810]
layer=if_5715:com_5716
type=^iftype_text
contenttype=469
x=7
y=4
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5811]
layer=if_5715:com_5716
type=^iftype_text
contenttype=470
x=7
y=19
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5812]
layer=if_5715:com_5716
type=^iftype_text
contenttype=471
x=7
y=34
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5813]
layer=if_5715:com_5716
type=^iftype_text
contenttype=472
x=7
y=49
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5814]
layer=if_5715:com_5716
type=^iftype_text
contenttype=473
x=7
y=64
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5815]
layer=if_5715:com_5716
type=^iftype_text
contenttype=474
x=7
y=79
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5816]
layer=if_5715:com_5716
type=^iftype_text
contenttype=475
x=7
y=94
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5817]
layer=if_5715:com_5716
type=^iftype_text
contenttype=476
x=7
y=109
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5818]
layer=if_5715:com_5716
type=^iftype_text
contenttype=477
x=7
y=124
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5819]
layer=if_5715:com_5716
type=^iftype_text
contenttype=478
x=7
y=-117
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5820]
layer=if_5715:com_5716
type=^iftype_text
contenttype=479
x=7
y=-102
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5821]
layer=if_5715:com_5716
type=^iftype_text
contenttype=480
x=7
y=-87
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5822]
layer=if_5715:com_5716
type=^iftype_text
contenttype=481
x=7
y=-72
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5823]
layer=if_5715:com_5716
type=^iftype_text
contenttype=482
x=7
y=-57
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5824]
layer=if_5715:com_5716
type=^iftype_text
contenttype=483
x=7
y=-42
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5825]
layer=if_5715:com_5716
type=^iftype_text
contenttype=484
x=7
y=-27
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5826]
layer=if_5715:com_5716
type=^iftype_text
contenttype=485
x=7
y=-12
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5827]
layer=if_5715:com_5716
type=^iftype_text
contenttype=486
x=7
y=3
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5828]
layer=if_5715:com_5716
type=^iftype_text
contenttype=487
x=7
y=18
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5829]
layer=if_5715:com_5716
type=^iftype_text
contenttype=488
x=7
y=33
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5830]
layer=if_5715:com_5716
type=^iftype_text
contenttype=489
x=7
y=48
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5831]
layer=if_5715:com_5716
type=^iftype_text
contenttype=490
x=7
y=63
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5832]
layer=if_5715:com_5716
type=^iftype_text
contenttype=491
x=7
y=78
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5833]
layer=if_5715:com_5716
type=^iftype_text
contenttype=492
x=7
y=93
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5834]
layer=if_5715:com_5716
type=^iftype_text
contenttype=493
x=7
y=108
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5835]
layer=if_5715:com_5716
type=^iftype_text
contenttype=494
x=7
y=123
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5836]
layer=if_5715:com_5716
type=^iftype_text
contenttype=495
x=7
y=-118
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5837]
layer=if_5715:com_5716
type=^iftype_text
contenttype=496
x=7
y=-103
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5838]
layer=if_5715:com_5716
type=^iftype_text
contenttype=497
x=7
y=-88
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5839]
layer=if_5715:com_5716
type=^iftype_text
contenttype=498
x=7
y=-73
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5840]
layer=if_5715:com_5716
type=^iftype_text
contenttype=499
x=7
y=-58
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5841]
layer=if_5715:com_5716
type=^iftype_text
contenttype=500
x=7
y=-43
width=153
height=14
font=^p12
shadow=yes
text=
colour=0xffffff

[if_5715:com_5717]
type=^iftype_text
x=51
y=4
width=68
height=14
font=^b12
shadow=yes
text=Ignore list
colour=0xffff00

[if_5715:com_5718]
type=^iftype_graphic
buttontype=^if_button
contenttype=501
x=15
y=-32
width=72
height=36
graphic=combatboxes,0
option=Add friend

[if_5715:com_5719]
type=^iftype_graphic
buttontype=^if_button
contenttype=502
x=95
y=-32
width=72
height=36
graphic=combatboxes,0
option=Delete friend

[if_5715:com_5720]
type=^iftype_text
x=23
y=-22
width=56
height=14
font=^p12
shadow=yes
text=Add Name
colour=0xffff00
activecolour=0xffffff

[if_5715:com_5721]
type=^iftype_text
x=105
y=-22
width=51
height=14
font=^p12
shadow=yes
text=Del Name
colour=0xffff00
activecolour=0xffffff

[if_5715:com_5722]
type=^iftype_graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[if_5715:com_5723]
type=^iftype_graphic
x=-110
y=20
width=25
height=30
graphic=steelborder,1

[if_5715:com_5724]
type=^iftype_graphic
x=3
y=-62
width=25
height=30
graphic=steelborder,2

[if_5715:com_5725]
type=^iftype_graphic
x=-110
y=-62
width=25
height=30
graphic=steelborder,3

[if_5715:com_5726]
type=^iftype_graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5727]
type=^iftype_graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5728]
type=^iftype_graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5729]
type=^iftype_graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5730]
type=^iftype_graphic
x=-106
y=50
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5731]
type=^iftype_graphic
x=-106
y=86
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5732]
type=^iftype_graphic
x=-106
y=122
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5733]
type=^iftype_graphic
x=-106
y=-98
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5734]
type=^iftype_graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5735]
type=^iftype_graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5736]
type=^iftype_graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5737]
type=^iftype_graphic
x=-12
y=-98
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5738]
type=^iftype_graphic
x=28
y=-53
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5739]
type=^iftype_graphic
x=64
y=-53
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5740]
type=^iftype_graphic
x=100
y=-53
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5741]
type=^iftype_graphic
x=111
y=-53
width=36
height=36
graphic=miscgraphics,3
