[if_5848]
type=^iftype_layer
width=512
height=334

[if_5848:com_5849]
type=^iftype_model
x=34
y=60
width=32
height=32
zoom=400
xan=40
yan=1882

[if_5848:com_5850]
type=^iftype_text
x=111
y=25
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_5848:com_5851]
type=^iftype_text
x=111
y=9
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_5848:com_5852]
type=^iftype_text
buttontype=^if_pausebutton
x=111
y=80
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_5848:com_5853]
type=^iftype_text
x=111
y=41
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_5848:com_5854]
type=^iftype_text
x=111
y=57
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0
