[if_5875]
type=^iftype_layer
width=512
height=334

[if_5875:com_5876]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5877]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5878]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5879]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5880]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5881]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5882]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5883]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5884]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5885]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5886]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5887]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5888]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5889]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5890]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5891]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5892]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5893]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5894]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5895]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5896]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5897]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5898]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5899]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5900]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5901]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5902]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5903]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5904]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5905]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_5875:com_5906]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_5875:com_5907]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5908]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5909]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5910]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5911]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5912]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5913]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_5875:com_5914]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5915]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5916]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5917]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5918]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5919]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5920]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_5875:com_5921]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5922]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5923]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5924]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5925]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5926]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5927]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5928]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5929]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5930]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5931]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5932]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5933]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5934]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5935]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5936]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5937]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5938]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5939]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5940]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5941]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5942]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5943]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5944]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5945]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5946]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_5875:com_5947]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_5875:com_5948]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5949]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_5875:com_5950]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_5875:com_5951]
type=^iftype_text
x=216
y=28
width=88
height=14
halign=yes
font=^b12
shadow=yes
text=Report abuse
colour=0xffff00

[if_5875:com_5952]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_5875:com_5953]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5954]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5955]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5956]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5957]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5958]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5959]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5960]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5961]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5962]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5963]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5964]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5965]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_5875:com_5966]
type=^iftype_text
x=84
y=55
width=343
height=14
font=^p12
shadow=yes
text=This form is for reporting players who are breaking our rules.
colour=0xffffff

[if_5875:com_5967]
type=^iftype_text
x=74
y=70
width=357
height=14
font=^p12
shadow=yes
text=Using it sends a snapshot of the last 60 secs of activity to us.
colour=0xffffff

[if_5875:com_5968]
type=^iftype_text
x=130
y=85
width=242
height=14
font=^p12
shadow=yes
text=If you misuse this form, you will be banned.
colour=0xff8000

[if_5875:com_5969]
type=^iftype_text
x=75
y=180
width=362
height=14
font=^p12
shadow=yes
text=Then click below to indicate which of our 12 rules is being broken.
colour=0xffff00

[if_5875:com_5970]
type=^iftype_text
x=39
y=196
width=441
height=14
font=^p12
shadow=yes
text=For a detailed explanation of each rule please read the manual on our website.
colour=0xffff00

[if_5875:com_5971]
type=^iftype_text
buttontype=^if_button
contenttype=601
x=59
y=220
width=125
height=14
font=^p12
shadow=yes
text=1: Offensive language
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5972]
type=^iftype_text
buttontype=^if_button
contenttype=602
x=57
y=235
width=96
height=14
font=^p12
shadow=yes
text=2: Item scamming
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5973]
type=^iftype_text
buttontype=^if_button
contenttype=603
x=58
y=250
width=125
height=14
font=^p12
shadow=yes
text=3: Password scamming
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5974]
type=^iftype_text
buttontype=^if_button
contenttype=604
x=58
y=265
width=72
height=14
font=^p12
shadow=yes
text=4: Bug abuse
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5975]
type=^iftype_text
buttontype=^if_button
contenttype=605
x=58
y=280
width=166
height=14
font=^p12
shadow=yes
text=5: Jagex staff impersonation
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5976]
type=^iftype_text
buttontype=^if_button
contenttype=606
x=58
y=295
width=153
height=14
font=^p12
shadow=yes
text=6: Account sharing/trading
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5977]
type=^iftype_text
buttontype=^if_button
contenttype=607
x=276
y=220
width=63
height=14
font=^p12
shadow=yes
text=7: Macroing
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5978]
type=^iftype_text
buttontype=^if_button
contenttype=608
x=274
y=235
width=115
height=14
font=^p12
shadow=yes
text=8: Multiple logging in
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5979]
type=^iftype_text
buttontype=^if_button
contenttype=609
x=274
y=250
width=206
height=14
font=^p12
shadow=yes
text=9: Encouraging others to break rules
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5980]
type=^iftype_text
buttontype=^if_button
contenttype=610
x=268
y=265
width=180
height=14
font=^p12
shadow=yes
text=10: Misuse of customer support
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5981]
type=^iftype_text
buttontype=^if_button
contenttype=611
x=270
y=280
width=139
height=14
font=^p12
shadow=yes
text=11: Advertising / website
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5982]
type=^iftype_text
buttontype=^if_button
contenttype=612
x=268
y=295
width=147
height=14
font=^p12
shadow=yes
text=12: Real world item trading
colour=0xffffff
overcolour=0xff0000

[if_5875:com_5983]
type=^iftype_text
x=91
y=118
width=330
height=14
font=^p12
shadow=yes
text=First please enter the name of the offending player below:
colour=0xffff00

[if_5875:com_5984]
type=^iftype_text
contenttype=600
x=233
y=137
width=58
height=14
halign=yes
font=^b12
shadow=yes
text=Andrew*
colour=0xffffff

[if_5875:com_5985]
type=^iftype_text
buttontype=^if_button
contenttype=613
x=118
y=154
width=284
height=14
halign=yes
font=^p12
shadow=yes
text=Moderator option: Mute player for 48 hours: <OFF>
colour=0xffffff

[if_5875:com_5986]
type=^iftype_model
x=27
y=213
width=31
height=34
model=model_3180
zoom=578
xan=1489
yan=1024

[if_5875:com_5987]
type=^iftype_model
x=437
y=213
width=32
height=32
model=model_3180
zoom=578
xan=1489
yan=1024
