[if_5993]
type=^iftype_layer
width=512
height=334

[if_5993:com_5994]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_5995]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_5996]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_5997]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_5998]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_5999]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6000]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6001]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6002]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6003]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6004]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6005]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6006]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6007]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6008]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6009]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6010]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6011]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_5993:com_6012]
type=^iftype_graphic
x=12
y=77
width=25
height=30
graphic=steelborder,0

[if_5993:com_6013]
type=^iftype_graphic
x=-3
y=86
width=36
height=36
graphic=miscgraphics,2

[if_5993:com_6014]
type=^iftype_graphic
x=-3
y=122
width=36
height=36
graphic=miscgraphics,2

[if_5993:com_6015]
type=^iftype_graphic
x=-3
y=-98
width=36
height=36
graphic=miscgraphics,2

[if_5993:com_6016]
type=^iftype_graphic
x=-3
y=-62
width=36
height=36
graphic=miscgraphics,2

[if_5993:com_6017]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_5993:com_6018]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_5993:com_6019]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_5993:com_6020]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_5993:com_6021]
type=^iftype_model
x=33
y=54
width=435
height=273
model=model_3182
zoom=603
xan=1548
yan=1022

[if_5993:com_6022]
type=^iftype_graphic
x=55
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6023]
type=^iftype_graphic
x=125
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6024]
type=^iftype_graphic
x=-96
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6025]
type=^iftype_graphic
x=-61
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6026]
type=^iftype_graphic
x=-26
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6027]
type=^iftype_graphic
x=9
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6028]
type=^iftype_graphic
x=44
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6029]
type=^iftype_graphic
x=79
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6030]
type=^iftype_graphic
x=114
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6031]
type=^iftype_graphic
x=-107
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6032]
type=^iftype_graphic
x=90
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6033]
type=^iftype_graphic
x=71
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6034]
type=^iftype_graphic
x=106
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6035]
type=^iftype_graphic
x=-115
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6036]
type=^iftype_graphic
x=-80
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6037]
type=^iftype_graphic
x=-45
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6038]
type=^iftype_graphic
x=-10
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6039]
type=^iftype_graphic
x=25
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6040]
type=^iftype_graphic
x=60
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6041]
type=^iftype_graphic
x=95
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6042]
type=^iftype_graphic
x=-126
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6043]
type=^iftype_graphic
x=-91
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6044]
type=^iftype_graphic
x=-8
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6045]
type=^iftype_graphic
x=36
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6046]
type=^iftype_graphic
x=20
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6047]
type=^iftype_graphic
x=12
y=-26
width=25
height=30
graphic=steelborder,2

[if_5993:com_6048]
type=^iftype_graphic
x=-37
y=77
width=25
height=30
graphic=steelborder,1

[if_5993:com_6049]
type=^iftype_graphic
x=-56
y=62
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6050]
type=^iftype_graphic
x=-37
y=-26
width=25
height=30
graphic=steelborder,3

[if_5993:com_6051]
type=^iftype_graphic
x=-72
y=-17
width=36
height=36
graphic=miscgraphics,3

[if_5993:com_6052]
type=^iftype_text
buttontype=^if_closebutton
x=-91
y=85
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_5993:com_6053]
type=^iftype_graphic
x=27
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6054]
type=^iftype_graphic
x=62
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6055]
type=^iftype_graphic
x=97
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6056]
type=^iftype_graphic
x=-124
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6057]
type=^iftype_graphic
x=-89
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6058]
type=^iftype_graphic
x=-54
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6059]
type=^iftype_graphic
x=-43
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6060]
type=^iftype_graphic
x=-78
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6061]
type=^iftype_graphic
x=-113
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6062]
type=^iftype_graphic
x=108
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6063]
type=^iftype_graphic
x=73
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6064]
type=^iftype_graphic
x=38
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6065]
type=^iftype_graphic
x=16
y=90
width=36
height=36
graphic=steelborder2,0

[if_5993:com_6066]
type=^iftype_text
contenttype=650
x=58
y=-114
width=401
height=14
halign=yes
font=^p12
shadow=yes
text=You last logged in 3 days ago from bighouse.onthehill.webcompany.com
colour=0xffffff

[if_5993:com_6067]
type=^iftype_text
x=-84
y=83
width=159
height=17
halign=yes
font=^q8
shadow=yes
text=Welcome to RuneScape
colour=0xffff00

[if_5993:com_6068]
type=^iftype_text
x=79
y=-49
width=62
height=17
font=^q8
shadow=yes
text=You have
colour=0xffffff

[if_5993:com_6069]
type=^iftype_text
contenttype=651
x=-108
y=-49
width=129
height=17
halign=yes
font=^q8
shadow=yes
text=0 unread messages
colour=0xff00

[if_5993:com_6070]
type=^iftype_text
x=31
y=-49
width=164
height=17
font=^q8
shadow=yes
text=in your message centre.
colour=0xffffff

[if_5993:com_6071]
type=^iftype_text
x=94
y=-80
width=327
height=17
font=^q8
shadow=yes
text=Jagex staff will NEVER email you. We use the
colour=0xffffff

[if_5993:com_6072]
type=^iftype_text
x=-126
y=-64
width=259
height=17
font=^q8
shadow=yes
text=message-centre on this website instead.
colour=0xffffff
