[if_6073]
type=^iftype_layer
width=512
height=334

[if_6073:com_6074]
type=^iftype_graphic
x=14
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6075]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6076]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6077]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6078]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6079]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6080]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6081]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6082]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6083]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6084]
type=^iftype_graphic
x=-100
y=46
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6085]
type=^iftype_graphic
x=105
y=45
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6086]
type=^iftype_graphic
x=18
y=45
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6087]
type=^iftype_graphic
x=-69
y=45
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6088]
type=^iftype_graphic
x=100
y=45
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6089]
type=^iftype_graphic
x=13
y=45
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6090]
type=^iftype_graphic
x=-103
y=-24
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6091]
type=^iftype_graphic
x=16
y=-25
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6092]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6093]
type=^iftype_graphic
x=103
y=-21
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6094]
type=^iftype_graphic
x=-71
y=-21
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6095]
type=^iftype_graphic
x=98
y=-23
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6096]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6097]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6098]
type=^iftype_graphic
x=12
y=-25
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6099]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6100]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6186]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6102]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6103]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6073:com_6104]
type=^iftype_graphic
x=12
y=42
width=25
height=30
graphic=steelborder,0

[if_6073:com_6105]
type=^iftype_graphic
x=-3
y=86
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6106]
type=^iftype_graphic
x=-3
y=122
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6107]
type=^iftype_graphic
x=-3
y=-98
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6108]
type=^iftype_graphic
x=-3
y=-62
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6109]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6110]
type=^iftype_graphic
x=-33
y=-27
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6111]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6112]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6113]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6101]
type=^iftype_model
x=31
y=47
width=437
height=242
model=model_3182
zoom=606
xan=1551
yan=1020

[if_6073:com_6115]
type=^iftype_graphic
x=55
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6116]
type=^iftype_graphic
x=125
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6117]
type=^iftype_graphic
x=-96
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6118]
type=^iftype_graphic
x=-61
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6119]
type=^iftype_graphic
x=-26
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6120]
type=^iftype_graphic
x=9
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6121]
type=^iftype_graphic
x=44
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6122]
type=^iftype_graphic
x=79
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6123]
type=^iftype_graphic
x=114
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6124]
type=^iftype_graphic
x=-107
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6125]
type=^iftype_graphic
x=-3
y=-26
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6126]
type=^iftype_graphic
x=90
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6127]
type=^iftype_graphic
x=71
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6128]
type=^iftype_graphic
x=106
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6129]
type=^iftype_graphic
x=-115
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6130]
type=^iftype_graphic
x=-80
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6131]
type=^iftype_graphic
x=-45
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6187]
type=^iftype_graphic
x=-10
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6133]
type=^iftype_graphic
x=25
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6134]
type=^iftype_graphic
x=60
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6135]
type=^iftype_graphic
x=-33
y=61
width=36
height=36
graphic=steelborder2,1

[if_6073:com_6136]
type=^iftype_graphic
x=95
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6137]
type=^iftype_graphic
x=-126
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6138]
type=^iftype_graphic
x=-3
y=67
width=36
height=36
graphic=miscgraphics,2

[if_6073:com_6139]
type=^iftype_graphic
x=-91
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6140]
type=^iftype_graphic
x=-8
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6141]
type=^iftype_graphic
x=36
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6142]
type=^iftype_graphic
x=20
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6143]
type=^iftype_graphic
x=-37
y=42
width=25
height=30
graphic=steelborder,1

[if_6073:com_6144]
type=^iftype_graphic
x=-56
y=27
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6145]
type=^iftype_graphic
x=-37
y=9
width=25
height=30
graphic=steelborder,3

[if_6073:com_6146]
type=^iftype_graphic
x=-72
y=18
width=36
height=36
graphic=miscgraphics,3

[if_6073:com_6132]
type=^iftype_text
buttontype=^if_closebutton
x=-91
y=54
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_6073:com_6148]
type=^iftype_graphic
x=27
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6149]
type=^iftype_graphic
x=62
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6150]
type=^iftype_graphic
x=97
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6151]
type=^iftype_graphic
x=-124
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6152]
type=^iftype_graphic
x=-89
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6153]
type=^iftype_graphic
x=-54
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6154]
type=^iftype_graphic
x=-43
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6155]
type=^iftype_graphic
x=-78
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6188]
type=^iftype_graphic
x=-113
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6189]
type=^iftype_graphic
x=108
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6190]
type=^iftype_graphic
x=73
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6191]
type=^iftype_graphic
x=12
y=9
width=25
height=30
graphic=steelborder,2

[if_6073:com_6192]
type=^iftype_graphic
x=38
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6193]
type=^iftype_graphic
x=17
y=64
width=36
height=36
graphic=steelborder2,0

[if_6073:com_6194]
type=^iftype_text
contenttype=655
x=56
y=118
width=401
height=14
halign=yes
font=^p12
shadow=yes
text=You last logged in 3 days ago from bighouse.onthehill.webcompany.com
colour=0xffffff

[if_6073:com_6195]
type=^iftype_text
x=-83
y=55
width=159
height=17
halign=yes
font=^q8
shadow=yes
text=Welcome to RuneScape
colour=0xffff00

[if_6073:com_6196]
type=^iftype_text
x=78
y=-73
width=62
height=17
font=^q8
shadow=yes
text=You have
colour=0xffffff

[if_6073:com_6197]
type=^iftype_text
contenttype=651
x=-105
y=-73
width=129
height=17
halign=yes
font=^q8
shadow=yes
text=0 unread messages
colour=0xff00

[if_6073:com_6198]
type=^iftype_text
x=32
y=-72
width=164
height=17
font=^q8
shadow=yes
text=in your message centre.
colour=0xffffff

[if_6073:com_6199]
type=^iftype_text
x=91
y=-105
width=327
height=17
font=^q8
shadow=yes
text=Jagex staff will NEVER email you. We use the
colour=0xffffff

[if_6073:com_6200]
type=^iftype_text
x=-123
y=-89
width=259
height=17
font=^q8
shadow=yes
text=message-centre on this website instead.
colour=0xffffff

[if_6073:com_6201]
type=^iftype_text
x=92
y=-26
width=332
height=14
font=^p12
shadow=yes
text=You have not yet saved any password recovery questions.
colour=0xffff00

[if_6073:com_6202]
type=^iftype_text
x=81
y=-10
width=353
height=14
font=^p12
shadow=yes
text=We strongly recommend you do so now to secure your account.
colour=0xffff00

[if_6073:com_6203]
type=^iftype_text
x=73
y=7
width=373
height=14
font=^p12
shadow=yes
text=Do this from the 'account management' area on our front webpage
colour=0xffff00
