[if_6173]
type=^iftype_layer
width=512
height=334

[if_6173:com_6174]
type=^iftype_model
x=34
y=34
width=32
height=32
zoom=796
xan=40
yan=1882

[if_6173:com_6175]
type=^iftype_text
x=111
y=16
width=350
height=17
halign=yes
font=^q8
text=Line1
colour=0x0

[if_6173:com_6176]
type=^iftype_text
x=111
y=32
width=350
height=17
halign=yes
font=^q8
text=Line2
colour=0x0

[if_6173:com_6177]
type=^iftype_text
x=111
y=48
width=350
height=17
halign=yes
font=^q8
text=Line3
colour=0x0

[if_6173:com_6178]
type=^iftype_text
x=111
y=64
width=350
height=17
halign=yes
font=^q8
text=Line4
colour=0x0
