[if_6179]
type=^iftype_layer
width=512
height=334

[if_6179:com_6180]
type=^iftype_text
y=5
width=480
height=17
halign=yes
font=^q8
text=Title
colour=0xff

[if_6179:com_6181]
type=^iftype_text
y=26
width=480
height=17
halign=yes
font=^q8
text=Line1

[if_6179:com_6182]
type=^iftype_text
y=42
width=480
height=17
halign=yes
font=^q8
text=Line2

[if_6179:com_6183]
type=^iftype_text
y=58
width=480
height=17
halign=yes
font=^q8
text=Line3

[if_6179:com_6184]
type=^iftype_text
y=74
width=480
height=17
halign=yes
font=^q8
text=Line4
