[if_6253]
type=^iftype_layer
width=512
height=334

[if_6253:com_6254]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1

[if_6253:com_6255]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2

[if_6253:com_6256]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_6253:com_6257]
type=^iftype_model
x=34
y=37
width=32
height=32
model=model_2339
zoom=598
xan=337
yan=1074
