[if_6412]
type=^iftype_layer
width=512
height=334

[if_6412:com_6413]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6414]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6415]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6416]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6417]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6418]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6419]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6420]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6421]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6422]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6423]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6424]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6425]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6426]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6427]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6428]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6429]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6430]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6431]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6432]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6433]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6434]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6435]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6436]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6437]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6438]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6439]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6440]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6441]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6442]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_6412:com_6443]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_6412:com_6444]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6445]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6446]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6447]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6448]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6449]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6450]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6451]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6452]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6453]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6454]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6455]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6456]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6457]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_6412:com_6458]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6459]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6460]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6461]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6462]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6463]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6464]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6465]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6466]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6467]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6468]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6469]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6470]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6471]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6472]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6473]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6474]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6475]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6476]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6477]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6478]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6479]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6480]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_6412:com_6481]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_6412:com_6482]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6483]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_6412:com_6484]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6485]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6486]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6487]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6488]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6489]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6490]
type=^iftype_graphic
x=-54
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6491]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6492]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6493]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6494]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6495]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6496]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6497]
type=^iftype_graphic
x=37
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6498]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6499]
type=^iftype_graphic
x=18
y=34
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6500]
type=^iftype_layer
x=19
y=55
width=218
height=142
scrollheight=188

[if_6412:com_6503]
layer=if_6412:com_6500
type=^iftype_text
x=42
y=2
width=132
height=14
font=^p12
shadow=yes
text=You are about to stake:
colour=0xaa8822

[if_6412:com_6507]
layer=if_6412:com_6500
type=^iftype_inventory_text
x=50
y=29
width=2
height=14
halign=yes
font=^p12
shadow=yes
colour=0xaaaaaa
invyof=2

[if_6412:com_6509]
layer=if_6412:com_6500
type=^iftype_inventory_text
x=109
y=29
width=1
height=10
halign=yes
font=^p12
shadow=yes
colour=0xaaaaaa
invyof=2

[if_6412:com_6516]
layer=if_6412:com_6500
type=^iftype_text
x=55
y=17
width=110
height=14
halign=yes
font=^p12
shadow=yes
text=Absolutely nothing!
colour=0xaaaaaa

[if_6412:com_6501]
type=^iftype_layer
x=4
y=55
width=218
height=142
scrollheight=188

[if_6412:com_6502]
layer=if_6412:com_6501
type=^iftype_inventory_text
x=109
y=28
width=1
height=10
halign=yes
font=^p12
shadow=yes
colour=0xaaaaaa
invyof=2

[if_6412:com_6504]
layer=if_6412:com_6501
type=^iftype_text
x=37
y=1
width=140
height=14
halign=yes
font=^p12
shadow=yes
text=Your opponent will stake:
colour=0xaa8822

[if_6412:com_6508]
layer=if_6412:com_6501
type=^iftype_inventory_text
x=49
y=28
width=2
height=14
halign=yes
font=^p12
shadow=yes
colour=0xaaaaaa
invyof=2

[if_6412:com_6517]
layer=if_6412:com_6501
type=^iftype_text
x=52
y=16
width=110
height=14
halign=yes
font=^p12
shadow=yes
text=Absolutely nothing!
colour=0xaaaaaa

[if_6412:com_6505]
type=^iftype_text
x=-117
y=29
width=232
height=14
halign=yes
font=^p12
shadow=yes
text=Are you sure you want to fight this duel?
colour=0xffaa44

[if_6412:com_6506]
type=^iftype_text
x=42
y=14
width=57
height=14
font=^p12
shadow=yes
text=Obstacles
colour=0xaa8822

[if_6412:com_6510]
type=^iftype_text
buttontype=^if_closebutton
x=-87
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_6412:com_6511]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6512]
type=^iftype_graphic
x=-17
y=88
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6513]
type=^iftype_graphic
x=-17
y=52
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6514]
type=^iftype_graphic
x=-17
y=-96
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6515]
type=^iftype_graphic
x=-17
y=124
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_6518]
type=^iftype_layer
x=-121
y=-44
width=78
height=42

[if_6412:com_6520]
layer=if_6412:com_6518
type=^iftype_rectangle
buttontype=^if_button
x=6
y=6
width=66
height=31
fill=yes

[if_6412:com_6521]
layer=if_6412:com_6518
type=^iftype_text
x=21
y=14
width=39
height=14
font=^p12
shadow=yes
text=Accept
colour=0x8000
overcolour=0xff00

[if_6412:com_6524]
layer=if_6412:com_6518
type=^iftype_graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6526]
layer=if_6412:com_6518
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_6412:com_6528]
layer=if_6412:com_6518
type=^iftype_graphic
x=53
width=25
height=30
graphic=steelborder,1

[if_6412:com_6530]
layer=if_6412:com_6518
type=^iftype_graphic
y=13
width=25
height=30
graphic=steelborder,2

[if_6412:com_6532]
layer=if_6412:com_6518
type=^iftype_graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[if_6412:com_6533]
layer=if_6412:com_6518
type=^iftype_graphic
x=21
y=22
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6519]
type=^iftype_layer
x=-121
y=6
width=78
height=43

[if_6412:com_6522]
layer=if_6412:com_6519
type=^iftype_rectangle
buttontype=^if_closebutton
x=6
y=6
width=66
height=31
fill=yes

[if_6412:com_6523]
layer=if_6412:com_6519
type=^iftype_text
x=20
y=14
width=40
height=14
font=^p12
shadow=yes
text=Decline
colour=0x800000
overcolour=0xff0000

[if_6412:com_6525]
layer=if_6412:com_6519
type=^iftype_graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6527]
layer=if_6412:com_6519
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_6412:com_6529]
layer=if_6412:com_6519
type=^iftype_graphic
x=53
width=25
height=30
graphic=steelborder,1

[if_6412:com_6531]
layer=if_6412:com_6519
type=^iftype_graphic
y=13
width=25
height=30
graphic=steelborder,2

[if_6412:com_6534]
layer=if_6412:com_6519
type=^iftype_graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[if_6412:com_6569]
layer=if_6412:com_6519
type=^iftype_graphic
x=20
y=22
width=36
height=36
graphic=miscgraphics,3

[if_6412:com_6535]
type=^iftype_text
buttontype=^if_button
x=61
y=-46
width=57
height=14
font=^p12
shadow=yes
text=No Forfeit
colour=0xaa8822

[if_6412:com_6536]
type=^iftype_text
x=-68
y=-6
width=50
height=14
font=^p12
shadow=yes
text=No Magic
colour=0xaa8822

[if_6412:com_6537]
type=^iftype_text
x=-68
y=-46
width=60
height=14
font=^p12
shadow=yes
text=No Ranged
colour=0xaa8822

[if_6412:com_6538]
type=^iftype_text
x=-68
y=-26
width=51
height=14
font=^p12
shadow=yes
text=No Melee
activetext=No Melee
colour=0xaa8822

[if_6412:com_6539]
type=^iftype_text
x=61
y=-6
width=69
height=14
font=^p12
shadow=yes
text=No Weapons
colour=0xaa8822

[if_6412:com_6540]
type=^iftype_text
x=42
y=-46
width=61
height=14
font=^p12
shadow=yes
text=No Potions
colour=0xaa8822

[if_6412:com_6541]
type=^iftype_text
x=42
y=-26
width=45
height=14
font=^p12
shadow=yes
text=No Food
colour=0xaa8822

[if_6412:com_6542]
type=^iftype_text
x=42
y=-6
width=56
height=14
font=^p12
shadow=yes
text=No Prayer
colour=0xaa8822

[if_6412:com_6543]
type=^iftype_text
x=61
y=-26
width=76
height=14
font=^p12
shadow=yes
text=No Movement
colour=0xaa8822

[if_6412:com_6544]
type=^iftype_text
x=61
y=14
width=59
height=14
font=^p12
shadow=yes
text=No Armour
colour=0xaa8822

[if_6412:com_6545]
type=^iftype_graphic
x=18
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6546]
type=^iftype_graphic
x=54
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6547]
type=^iftype_graphic
x=90
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6548]
type=^iftype_graphic
x=126
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6549]
type=^iftype_graphic
x=-94
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6550]
type=^iftype_graphic
x=-58
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6551]
type=^iftype_graphic
x=-22
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6552]
type=^iftype_graphic
x=14
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6553]
type=^iftype_graphic
x=50
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6554]
type=^iftype_graphic
x=86
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6555]
type=^iftype_graphic
x=122
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6556]
type=^iftype_graphic
x=-98
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6557]
type=^iftype_graphic
x=-62
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6558]
type=^iftype_graphic
x=-54
y=-74
width=36
height=36
graphic=steelborder2,0

[if_6412:com_6559]
type=^iftype_graphic
x=36
y=-46
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,0
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6560]
type=^iftype_graphic
x=36
y=-26
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6561]
type=^iftype_graphic
x=36
y=-6
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,2
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6562]
type=^iftype_graphic
x=36
y=14
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,3
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6563]
type=^iftype_graphic
x=-94
y=-46
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,4
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6564]
type=^iftype_graphic
x=-94
y=-26
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,5
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6565]
type=^iftype_graphic
x=-94
y=-6
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,6
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6566]
type=^iftype_graphic
x=16
y=-46
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,7
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6567]
type=^iftype_graphic
x=16
y=-26
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,8
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6568]
type=^iftype_graphic
x=16
y=-6
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,9
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6570]
type=^iftype_graphic
x=16
y=14
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,10
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_6571]
type=^iftype_text
x=-62
y=37
width=130
height=11
font=^p11
shadow=yes
text=Waiting for other player...
colour=0xaaaaaa

[if_6412:com_6572]
type=^iftype_graphic
x=-17
y=-95
width=36
height=36
graphic=miscgraphics,2

[if_6412:com_664]
type=^iftype_text
x=-68
y=14
width=71
height=14
font=^p12
shadow=yes
text=Flower Power
colour=0xaa8822

[if_6412:com_665]
type=^iftype_graphic
x=-94
y=14
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,12
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[if_6412:com_666]
type=^iftype_text
x=61
y=34
width=61
height=14
font=^p12
shadow=yes
text=No Jewelry
colour=0xaa8822

[if_6412:com_667]
type=^iftype_graphic
x=36
y=34
width=14
height=15
scriptc1=^op_neq
scriptv1=1
script1op1=^load_bool,^varp_286,11
graphic=miscgraphics,10
activegraphic=miscgraphics,11
