[if_6733]
type=^iftype_layer
width=512
height=334

[if_6733:com_6734]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6735]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6736]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6737]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6738]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6739]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6740]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6741]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6742]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6743]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6744]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6745]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6746]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6747]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6748]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6749]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6750]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6751]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6752]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6753]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6754]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6755]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6756]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6757]
type=^iftype_graphic
x=103
y=-47
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6758]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6759]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6760]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6761]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6762]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6763]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_6733:com_6764]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_6733:com_6765]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6766]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6767]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6768]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6769]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6770]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6771]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_6733:com_6772]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6773]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6774]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6775]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6776]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6777]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6778]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_6733:com_6779]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6780]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6781]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6782]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6783]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6784]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6785]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6786]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6787]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6788]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6789]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6790]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6791]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6792]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6793]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6794]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6795]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6796]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6797]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6798]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6799]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6800]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6801]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6802]
type=^iftype_graphic
x=36
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6803]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6804]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_6733:com_6805]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_6733:com_6806]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6807]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_6733:com_6808]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6809]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6810]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6811]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6812]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6813]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6814]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6815]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6816]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6817]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6818]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6819]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6820]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6821]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6822]
type=^iftype_inventory
x=109
y=92
width=5
height=6
invxof=10
invyof=1

[if_6733:com_6823]
type=^iftype_model
x=52
y=24
width=32
height=32
model=model_3276
zoom=1031
xan=105
yan=312

[if_6733:com_6824]
type=^iftype_layer
x=103
y=8
width=78
height=42

[if_6733:com_6826]
layer=if_6733:com_6824
type=^iftype_rectangle
buttontype=^if_closebutton
x=6
y=6
width=66
height=31
fill=yes

[if_6733:com_6827]
layer=if_6733:com_6824
type=^iftype_text
x=23
y=14
width=32
height=14
font=^p12
shadow=yes
text=Claim!
colour=0x8000
overcolour=0xff00

[if_6733:com_6828]
layer=if_6733:com_6824
type=^iftype_graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[if_6733:com_6829]
layer=if_6733:com_6824
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_6733:com_6830]
layer=if_6733:com_6824
type=^iftype_graphic
x=53
width=25
height=30
graphic=steelborder,1

[if_6733:com_6831]
layer=if_6733:com_6824
type=^iftype_graphic
y=13
width=25
height=30
graphic=steelborder,2

[if_6733:com_6832]
layer=if_6733:com_6824
type=^iftype_graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[if_6733:com_6833]
layer=if_6733:com_6824
type=^iftype_graphic
x=21
y=22
width=36
height=36
graphic=miscgraphics,3

[if_6733:com_6825]
type=^iftype_text
x=21
y=29
width=106
height=14
font=^p12
shadow=yes
text=You are victorious!
colour=0xffaa44

[if_6733:com_6834]
type=^iftype_text
buttontype=^if_closebutton
x=-89
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_6733:com_6835]
type=^iftype_text
x=110
y=71
width=59
height=14
font=^p12
shadow=yes
text=The Spoils:
colour=0xaa8822

[if_6733:com_6836]
type=^iftype_text
x=67
y=71
width=78
height=14
font=^p12
shadow=yes
text=The Defeated:
colour=0xaa8822

[if_6733:com_6837]
type=^iftype_text
x=67
y=97
width=34
height=14
font=^p12
shadow=yes
text=Name:
colour=0xaa8822

[if_6733:com_6838]
type=^iftype_text
x=67
y=121
width=75
height=14
font=^p12
shadow=yes
text=Combat level:
colour=0xaa8822

[if_6733:com_6839]
type=^iftype_text
x=-106
y=121
width=22
height=14
font=^p12
shadow=yes
text=126
colour=0xaaaaaa

[if_6733:com_6840]
type=^iftype_text
x=109
y=97
width=46
height=14
font=^p12
shadow=yes
text=Crunchy
colour=0xaaaaaa

[if_6733:com_6841]
type=^iftype_model
x=125
y=-46
width=32
height=32
model=model_3278
zoom=1275
xan=2047
yan=514
