[if_6946]
type=^iftype_layer
width=512
height=334

[if_6946:com_6947]
type=^iftype_model
x=273
y=70
width=32
height=32
model=model_3408
zoom=162
xan=500

[if_6946:com_6948]
type=^iftype_model
x=419
y=141
width=32
height=32
model=model_3407
zoom=353
xan=500

[if_6946:com_6949]
type=^iftype_model
x=419
y=141
width=32
height=32
model=model_3403
zoom=898
xan=500

[if_6946:com_6950]
type=^iftype_model
x=419
y=141
width=32
height=32
model=model_3402
zoom=201
xan=500

[if_6946:com_6951]
type=^iftype_text
buttontype=^if_closebutton
x=430
y=8
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0x505050
overcolour=0xffffff

[if_6946:com_6952]
type=^iftype_model
buttontype=^if_button
x=313
y=275
width=30
height=51
model=model_3405
zoom=1389
xan=275
yan=2029

[if_6946:com_6953]
type=^iftype_model
buttontype=^if_button
x=315
y=13
width=27
height=43
model=model_3404
zoom=1418
xan=478
yan=14

[if_6946:com_6954]
type=^iftype_model
buttontype=^if_button
x=258
y=258
width=44
height=52
model=model_3409
zoom=1228
xan=300
yan=285

[if_6946:com_6955]
type=^iftype_model
buttontype=^if_button
x=21
y=264
width=47
height=49
model=model_3406
zoom=1219
xan=308
yan=695

[if_6946:com_6956]
type=^iftype_model
x=152
y=180
width=32
height=32
model=model_3411
zoom=566
xan=500

[if_6946:com_6957]
type=^iftype_model
x=152
y=180
width=32
height=32
model=model_3410
zoom=566
xan=500

[if_6946:com_6958]
type=^iftype_model
x=152
y=180
width=32
height=32
model=model_3412
zoom=566
xan=500

[if_6946:com_6959]
type=^iftype_text
buttontype=^if_button
x=131
y=313
width=71
height=14
font=^p12
shadow=yes
text=Get Location
colour=0x7c6035
overcolour=0xc8b08a
