[if_6960]
type=^iftype_layer
width=512
height=334

[if_6960:com_6961]
type=^iftype_text
buttontype=^if_closebutton
x=-82
y=8
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0xfad782
overcolour=0xffffff

[if_6960:com_6962]
type=^iftype_model
x=-24
y=-98
width=32
height=32
model=model_3395
zoom=639
xan=511
yan=2047

[if_6960:com_6963]
type=^iftype_inventory
x=-17
y=89
width=3
height=2

[if_6960:com_6964]
type=^iftype_model
x=-82
y=-44
width=32
height=32
model=model_1226
zoom=914
xan=104
yan=761
