[if_6965]
type=^iftype_layer
width=512
height=334

[if_6965:com_6966]
type=^iftype_model
x=227
y=162
width=32
height=32
model=model_3395
zoom=599
xan=520
yan=1

[if_6965:com_6967]
type=^iftype_text
buttontype=^if_closebutton
x=430
y=8
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0xfad782
overcolour=0xffffff

[if_6965:com_6968]
type=^iftype_text
x=131
y=62
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6969]
type=^iftype_text
x=131
y=87
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6970]
type=^iftype_text
x=131
y=112
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6971]
type=^iftype_text
x=131
y=137
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6972]
type=^iftype_text
x=131
y=162
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6973]
type=^iftype_text
x=131
y=187
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6974]
type=^iftype_text
x=131
y=212
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e

[if_6965:com_6975]
type=^iftype_text
x=131
y=237
width=256
height=21
font=^q8
shadow=yes
text=The quick brown fox jumped over the 
colour=0xf0bb5e
