[if_716]
type=^iftype_layer
width=512
height=334

[if_716:com_717]
type=^iftype_rectangle
x=2
y=68
width=508
height=172
fill=yes
colour=0x202020

[if_716:com_718]
type=^iftype_rectangle
x=6
y=72
width=499
height=164
fill=yes
colour=0x404040

[if_716:com_719]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_716:com_720]
layer=if_716:com_719
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_716:com_721]
layer=if_716:com_719
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_716:com_722]
layer=if_716:com_719
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_716:com_723]
layer=if_716:com_719
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_716:com_724]
layer=if_716:com_719
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_716:com_725]
layer=if_716:com_719
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_716:com_726]
layer=if_716:com_719
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_727]
layer=if_716:com_719
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_728]
layer=if_716:com_719
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_729]
layer=if_716:com_719
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_730]
layer=if_716:com_719
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_731]
layer=if_716:com_719
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_732]
layer=if_716:com_719
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_733]
layer=if_716:com_719
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_734]
layer=if_716:com_719
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_735]
layer=if_716:com_719
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_736]
layer=if_716:com_719
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_737]
layer=if_716:com_719
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_738]
layer=if_716:com_719
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_716:com_739]
layer=if_716:com_719
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_740]
layer=if_716:com_719
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_741]
layer=if_716:com_719
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_742]
layer=if_716:com_719
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_743]
layer=if_716:com_719
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_744]
layer=if_716:com_719
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_745]
layer=if_716:com_719
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_746]
layer=if_716:com_719
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_747]
layer=if_716:com_719
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_748]
layer=if_716:com_719
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_749]
layer=if_716:com_719
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_750]
layer=if_716:com_719
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_751]
layer=if_716:com_719
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_716:com_752]
layer=if_716:com_719
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_716:com_753]
layer=if_716:com_719
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_716:com_754]
layer=if_716:com_719
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_716:com_755]
layer=if_716:com_719
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_716:com_756]
type=^iftype_model
x=54
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_716:com_757]
type=^iftype_model
x=-78
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_716:com_758]
type=^iftype_model
x=46
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_716:com_759]
type=^iftype_model
x=-86
y=116
width=32
height=32
model=model_3041
zoom=550
xan=400

[if_716:com_760]
type=^iftype_text
x=65
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_716:com_761]
type=^iftype_text
x=-67
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_716:com_762]
type=^iftype_text
x=57
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_716:com_763]
type=^iftype_text
x=-75
y=97
width=9
height=17
halign=yes
font=^q8
shadow=yes
text=A
colour=0xffff00

[if_716:com_764]
type=^iftype_graphic
buttontype=^if_button
x=22
y=-60
width=45
height=36
graphic=leftarrow,0

[if_716:com_765]
type=^iftype_graphic
buttontype=^if_button
x=70
y=-60
width=45
height=36
graphic=rightarrow,0

[if_716:com_766]
type=^iftype_graphic
buttontype=^if_button
x=-110
y=-60
width=45
height=36
graphic=leftarrow,0

[if_716:com_767]
type=^iftype_graphic
buttontype=^if_button
x=-62
y=-60
width=45
height=36
graphic=rightarrow,0

[if_716:com_768]
type=^iftype_graphic
buttontype=^if_button
x=14
y=-60
width=45
height=36
graphic=leftarrow,0

[if_716:com_769]
type=^iftype_graphic
buttontype=^if_button
x=62
y=-60
width=45
height=36
graphic=rightarrow,0

[if_716:com_770]
type=^iftype_graphic
buttontype=^if_button
x=-118
y=-60
width=45
height=36
graphic=leftarrow,0

[if_716:com_771]
type=^iftype_graphic
buttontype=^if_button
x=-70
y=-60
width=45
height=36
graphic=rightarrow,0

[if_716:com_772]
type=^iftype_text
x=-71
y=30
width=147
height=14
halign=yes
font=^b12
shadow=yes
text=Combination Lock Door
colour=0xffff00

[if_716:com_773]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_716:com_774]
type=^iftype_rectangle
buttontype=^if_button
x=-63
y=6
width=128
height=32
fill=yes
colour=0x404040

[if_716:com_775]
type=^iftype_text
x=-29
y=13
width=62
height=17
font=^q8
shadow=yes
text=ENTER
colour=0xffff00
