[if_802]
type=^iftype_layer
width=512
height=334

[if_802:com_803]
type=^iftype_model
x=-12
y=-120
width=32
height=32
model=model_3048
zoom=585
xan=503
yan=1

[if_802:com_804]
type=^iftype_model
x=73
y=51
width=32
height=32
model=model_3043
zoom=1061
xan=539
yan=2044

[if_802:com_805]
type=^iftype_model
x=1
y=43
width=32
height=32
model=model_3030
zoom=2073
xan=424
yan=8

[if_802:com_806]
type=^iftype_model
x=-119
y=34
width=32
height=32
model=model_3038
zoom=1438
xan=506
yan=2043

[if_802:com_807]
type=^iftype_model
x=-83
y=-107
width=32
height=32
model=model_3025
zoom=887
xan=470
yan=8

[if_802:com_808]
type=^iftype_model
x=-30
y=-32
width=32
height=32
model=model_3047
zoom=851
xan=469
yan=11

[if_802:com_809]
type=^iftype_text
x=43
y=118
width=96
height=17
font=^q8
text=Ta Quir Priw
colour=0x2b1c0f

[if_802:com_810]
type=^iftype_text
x=118
y=89
width=103
height=17
font=^q8
text=Lemanto Andra
colour=0x2b1c0f

[if_802:com_811]
type=^iftype_text
x=-71
y=31
width=63
height=17
font=^q8
text=Sindarpos
colour=0x2b1c0f

[if_802:com_812]
type=^iftype_text
x=-39
y=26
width=53
height=17
font=^q8
text=Gandius
colour=0x2b1c0f

[if_802:com_813]
type=^iftype_text
x=100
y=-119
width=67
height=17
font=^q8
text=Kar-Hewo
colour=0x3b1c0f

[if_802:com_819]
type=^iftype_layer
x=-41
y=-36
width=57
height=80
hide=yes

[if_802:com_815]
layer=if_802:com_819
type=^iftype_model
x=11
y=4
width=32
height=32
model=model_3029
zoom=851
xan=469
yan=11

[if_802:com_820]
type=^iftype_layer
x=39
y=31
width=105
height=109
hide=yes

[if_802:com_816]
layer=if_802:com_820
type=^iftype_model
x=34
y=20
width=32
height=32
model=model_3045
zoom=1061
xan=539
yan=2044

[if_802:com_821]
type=^iftype_layer
x=-73
y=28
width=142
height=58
hide=yes

[if_802:com_814]
layer=if_802:com_821
type=^iftype_model
x=74
y=15
width=32
height=32
model=model_3036
zoom=2073
xan=424
yan=8

[if_802:com_822]
type=^iftype_layer
x=114
y=30
width=112
height=81
hide=yes

[if_802:com_817]
layer=if_802:com_822
type=^iftype_model
x=23
y=4
width=32
height=32
model=model_3026
zoom=1438
xan=506
yan=2043

[if_802:com_823]
type=^iftype_layer
x=-115
y=-112
width=95
height=85
hide=yes

[if_802:com_818]
layer=if_802:com_823
type=^iftype_model
x=32
y=5
width=32
height=32
model=model_3027
zoom=887
xan=470
yan=8

[if_802:com_824]
type=^iftype_model
buttontype=^if_button
x=-42
y=-36
width=59
height=81
overlayer=819
zoom=400

[if_802:com_825]
type=^iftype_model
buttontype=^if_button
x=41
y=32
width=101
height=106
overlayer=820
zoom=400

[if_802:com_826]
type=^iftype_model
buttontype=^if_button
x=-71
y=29
width=139
height=56
overlayer=821
zoom=400

[if_802:com_827]
type=^iftype_model
buttontype=^if_button
x=116
y=32
width=107
height=78
overlayer=822
zoom=400

[if_802:com_828]
type=^iftype_model
buttontype=^if_button
x=104
y=-117
width=127
height=61
overlayer=823
zoom=400

[if_802:com_829]
type=^iftype_text
buttontype=^if_closebutton
x=-104
y=3
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0x697f51
overcolour=0xffffff

[if_802:com_830]
type=^iftype_model
x=9
y=82
width=32
height=32
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_785
zoom=689
xan=365
yan=2031

[if_802:com_831]
type=^iftype_model
x=16
y=-127
width=32
height=32
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_785
zoom=689
xan=425
yan=105

[if_802:com_832]
type=^iftype_model
x=-12
y=126
width=32
height=32
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_785
zoom=689
xan=375
yan=1126

[if_802:com_833]
type=^iftype_model
x=31
y=78
width=32
height=32
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_786
zoom=689
xan=404
yan=2039

[if_802:com_834]
type=^iftype_model
x=86
y=76
width=32
height=32
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_786
zoom=689
xan=494
yan=982

[if_802:com_835]
type=^iftype_model
x=-112
y=127
width=32
height=32
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_785
zoom=832
xan=405
yan=1319

[if_802:com_836]
type=^iftype_model
x=-86
y=-114
width=32
height=32
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,^varp_153
activemodel=model_3063
activeseq=seq_785
zoom=832
xan=430
yan=306
