[if_837]
type=^iftype_layer
width=512
height=334

[if_837:com_838]
type=^iftype_model
x=-17
y=-111
width=35
height=35
model=model_3035
zoom=525
xan=395

[if_837:com_840]
type=^iftype_layer
x=34
y=3
width=45
height=36

[if_837:com_839]
layer=if_837:com_840
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=leftarrow,0

[if_837:com_842]
type=^iftype_layer
x=-80
y=3
width=45
height=36

[if_837:com_841]
layer=if_837:com_842
type=^iftype_graphic
buttontype=^if_button
width=45
height=36
graphic=rightarrow,0

[if_837:com_843]
type=^iftype_text
x=60
y=80
width=175
height=17
font=^q8
text=line1
colour=0x0

[if_837:com_844]
type=^iftype_text
x=58
y=96
width=177
height=17
font=^q8
text=line2
colour=0x0

[if_837:com_845]
type=^iftype_text
x=56
y=112
width=179
height=17
font=^q8
text=line3
colour=0x0

[if_837:com_846]
type=^iftype_text
x=54
y=-128
width=181
height=17
font=^q8
text=line4
colour=0x0

[if_837:com_847]
type=^iftype_text
x=51
y=-112
width=184
height=17
font=^q8
text=line5
colour=0x0

[if_837:com_848]
type=^iftype_text
x=49
y=-96
width=186
height=17
font=^q8
text=line6
colour=0x0

[if_837:com_849]
type=^iftype_text
x=47
y=-80
width=188
height=17
font=^q8
text=line7
colour=0x0

[if_837:com_850]
type=^iftype_text
x=45
y=-64
width=190
height=17
font=^q8
text=line8
colour=0x0

[if_837:com_851]
type=^iftype_text
x=42
y=-48
width=193
height=17
font=^q8
text=line9
colour=0x0

[if_837:com_852]
type=^iftype_text
x=40
y=-32
width=195
height=17
font=^q8
text=line10
colour=0x0

[if_837:com_853]
type=^iftype_text
x=38
y=-16
width=197
height=17
font=^q8
text=line11
colour=0x0

[if_837:com_854]
type=^iftype_text
x=27
y=80
width=175
height=17
font=^q8
text=line12
colour=0x0

[if_837:com_855]
type=^iftype_text
x=27
y=96
width=177
height=17
font=^q8
text=line13
colour=0x0

[if_837:com_856]
type=^iftype_text
x=27
y=112
width=179
height=17
font=^q8
text=line14
colour=0x0

[if_837:com_857]
type=^iftype_text
x=27
y=-128
width=181
height=17
font=^q8
text=line15
colour=0x0

[if_837:com_858]
type=^iftype_text
x=27
y=-112
width=183
height=17
font=^q8
text=line16
colour=0x0

[if_837:com_859]
type=^iftype_text
x=27
y=-96
width=185
height=17
font=^q8
text=line17
colour=0x0

[if_837:com_860]
type=^iftype_text
x=27
y=-80
width=187
height=17
font=^q8
text=line18
colour=0x0

[if_837:com_861]
type=^iftype_text
x=27
y=-64
width=189
height=17
font=^q8
text=line19
colour=0x0

[if_837:com_862]
type=^iftype_text
x=27
y=-48
width=191
height=17
font=^q8
text=line20
colour=0x0

[if_837:com_863]
type=^iftype_text
x=27
y=-32
width=193
height=17
font=^q8
text=line21
colour=0x0

[if_837:com_864]
type=^iftype_text
x=27
y=-16
width=195
height=17
font=^q8
text=line22
colour=0x0

[if_837:com_865]
type=^iftype_layer
x=12
y=20
width=488
height=36

[if_837:com_866]
layer=if_837:com_865
type=^iftype_graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[if_837:com_867]
layer=if_837:com_865
type=^iftype_graphic
x=-74
y=6
width=88
height=60
graphic=tradebacking,0

[if_837:com_868]
layer=if_837:com_865
type=^iftype_graphic
x=14
y=6
width=88
height=60
graphic=tradebacking,0

[if_837:com_869]
layer=if_837:com_865
type=^iftype_graphic
x=102
y=6
width=88
height=60
graphic=tradebacking,0

[if_837:com_870]
layer=if_837:com_865
type=^iftype_graphic
x=-118
y=6
width=88
height=60
graphic=tradebacking,0

[if_837:com_871]
layer=if_837:com_865
type=^iftype_graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[if_837:com_872]
layer=if_837:com_865
type=^iftype_graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_873]
layer=if_837:com_865
type=^iftype_graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_874]
layer=if_837:com_865
type=^iftype_graphic
x=-124
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_875]
layer=if_837:com_865
type=^iftype_graphic
x=-88
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_876]
layer=if_837:com_865
type=^iftype_graphic
x=-52
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_877]
layer=if_837:com_865
type=^iftype_graphic
x=-16
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_878]
layer=if_837:com_865
type=^iftype_graphic
x=20
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_879]
layer=if_837:com_865
type=^iftype_graphic
x=56
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_880]
layer=if_837:com_865
type=^iftype_graphic
x=92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_881]
layer=if_837:com_865
type=^iftype_graphic
x=-128
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_882]
layer=if_837:com_865
type=^iftype_graphic
x=-92
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_883]
layer=if_837:com_865
type=^iftype_graphic
x=-84
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_884]
layer=if_837:com_865
type=^iftype_graphic
width=25
height=30
graphic=steelborder,0

[if_837:com_885]
layer=if_837:com_865
type=^iftype_graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_886]
layer=if_837:com_865
type=^iftype_graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_887]
layer=if_837:com_865
type=^iftype_graphic
x=-124
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_888]
layer=if_837:com_865
type=^iftype_graphic
x=-88
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_889]
layer=if_837:com_865
type=^iftype_graphic
x=-52
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_890]
layer=if_837:com_865
type=^iftype_graphic
x=-16
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_891]
layer=if_837:com_865
type=^iftype_graphic
x=20
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_892]
layer=if_837:com_865
type=^iftype_graphic
x=56
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_893]
layer=if_837:com_865
type=^iftype_graphic
x=92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_894]
layer=if_837:com_865
type=^iftype_graphic
x=-128
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_895]
layer=if_837:com_865
type=^iftype_graphic
x=-92
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_896]
layer=if_837:com_865
type=^iftype_graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_897]
layer=if_837:com_865
type=^iftype_graphic
x=-49
width=25
height=30
graphic=steelborder,1

[if_837:com_898]
layer=if_837:com_865
type=^iftype_graphic
x=-85
y=-15
width=36
height=36
graphic=steelborder2,0

[if_837:com_899]
layer=if_837:com_865
type=^iftype_graphic
x=-49
y=7
width=25
height=30
graphic=steelborder,3

[if_837:com_900]
layer=if_837:com_865
type=^iftype_graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[if_837:com_901]
layer=if_837:com_865
type=^iftype_graphic
y=7
width=25
height=30
graphic=steelborder,2

[if_837:com_902]
type=^iftype_text
buttontype=^if_closebutton
x=-90
y=33
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_837:com_903]
type=^iftype_text
x=-8
y=30
width=19
height=14
halign=yes
font=^b12
shadow=yes
text=%1
colour=0xffff00
