[if_904]
type=^iftype_layer
width=512
height=334

[if_904:com_905]
type=^iftype_graphic
buttontype=^if_selectbutton
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_904:com_906]
type=^iftype_graphic
buttontype=^if_selectbutton
x=11
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_904:com_907]
type=^iftype_graphic
buttontype=^if_selectbutton
x=46
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_904:com_908]
type=^iftype_graphic
buttontype=^if_selectbutton
x=57
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_904:com_909]
type=^iftype_graphic
buttontype=^if_selectbutton
x=92
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_904:com_910]
type=^iftype_graphic
buttontype=^if_selectbutton
x=103
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_904:com_911]
type=^iftype_graphic
buttontype=^if_selectbutton
x=139
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_904:com_912]
type=^iftype_graphic
buttontype=^if_selectbutton
x=153
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_904:com_913]
type=^iftype_graphic
buttontype=^if_selectbutton
x=48
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_170
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_914]
type=^iftype_graphic
buttontype=^if_selectbutton
x=10
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_170
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_915]
type=^iftype_graphic
buttontype=^if_selectbutton
x=105
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_171
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_916]
type=^iftype_graphic
buttontype=^if_selectbutton
x=143
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_171
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_917]
type=^iftype_text
x=49
y=4
width=90
height=14
font=^b12
shadow=yes
text=Game Options
colour=0xffff

[if_904:com_918]
type=^iftype_text
x=41
y=24
width=104
height=14
font=^p12
shadow=yes
text=Screen Brightness
colour=0xffffff

[if_904:com_919]
type=^iftype_text
x=12
y=53
width=23
height=11
font=^p11
shadow=yes
text=Dark
colour=0xffff00
activecolour=0xff8000

[if_904:com_920]
type=^iftype_text
x=52
y=53
width=34
height=11
font=^p11
shadow=yes
text=Normal
colour=0xffff00
activecolour=0xff8000

[if_904:com_921]
type=^iftype_text
x=100
y=53
width=31
height=11
font=^p11
shadow=yes
text=Bright
colour=0xffff00
activecolour=0xff8000

[if_904:com_922]
type=^iftype_text
x=142
y=53
width=43
height=11
font=^p11
shadow=yes
text=V-Bright
colour=0xffff00
activecolour=0xff8000

[if_904:com_923]
type=^iftype_text
x=6
y=82
width=85
height=14
font=^p12
shadow=yes
text=Mouse Buttons
colour=0xffffff

[if_904:com_924]
type=^iftype_text
x=56
y=110
width=19
height=14
font=^p12
shadow=yes
text=Two
colour=0xffff00
activecolour=0xff8000

[if_904:com_925]
type=^iftype_text
x=17
y=110
width=22
height=14
font=^p12
shadow=yes
text=One
colour=0xffff00
activecolour=0xff8000

[if_904:com_926]
type=^iftype_text
x=106
y=82
width=72
height=14
font=^p12
shadow=yes
text=Chat Effects
colour=0xffffff

[if_904:com_927]
type=^iftype_text
x=151
y=110
width=20
height=14
font=^p12
shadow=yes
text=Off
colour=0xffff00
activecolour=0xff8000

[if_904:com_928]
type=^iftype_text
x=115
y=110
width=15
height=14
font=^p12
shadow=yes
text=On
colour=0xffff00
activecolour=0xff8000

[if_904:com_929]
type=^iftype_text
x=6
y=196
width=40
height=26
halign=yes
font=^p12
shadow=yes
text=Music\nVolume
colour=0xffffff

[if_904:com_930]
type=^iftype_graphic
buttontype=^if_selectbutton
x=52
y=197
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_168
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_931]
type=^iftype_graphic
buttontype=^if_selectbutton
x=78
y=197
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_168
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_932]
type=^iftype_graphic
buttontype=^if_selectbutton
x=104
y=197
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_168
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_933]
type=^iftype_graphic
buttontype=^if_selectbutton
x=130
y=197
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_168
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_934]
type=^iftype_graphic
buttontype=^if_selectbutton
x=156
y=197
width=25
height=25
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_168
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_935]
type=^iftype_text
x=56
y=204
width=17
height=11
font=^p11
shadow=yes
text=Off
colour=0xffff00
activecolour=0xff8000

[if_904:com_936]
type=^iftype_text
x=88
y=204
width=4
height=11
font=^p11
shadow=yes
text=1
colour=0xffff00

[if_904:com_937]
type=^iftype_text
x=113
y=204
width=7
height=11
font=^p11
shadow=yes
text=2
colour=0xffff00

[if_904:com_938]
type=^iftype_text
x=139
y=204
width=6
height=11
font=^p11
shadow=yes
text=3
colour=0xffff00

[if_904:com_939]
type=^iftype_text
x=166
y=204
width=5
height=11
font=^p11
shadow=yes
text=4
colour=0xffff00

[if_904:com_940]
type=^iftype_text
x=6
y=226
width=40
height=26
halign=yes
font=^p12
shadow=yes
text=Effect\nVolume
colour=0xffffff

[if_904:com_941]
type=^iftype_graphic
buttontype=^if_selectbutton
x=52
y=227
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_169
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_942]
type=^iftype_graphic
buttontype=^if_selectbutton
x=78
y=227
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_169
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_943]
type=^iftype_graphic
buttontype=^if_selectbutton
x=104
y=227
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_169
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_944]
type=^iftype_graphic
buttontype=^if_selectbutton
x=130
y=227
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_169
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_945]
type=^iftype_graphic
buttontype=^if_selectbutton
x=156
y=227
width=25
height=25
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_169
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[if_904:com_946]
type=^iftype_text
x=56
y=234
width=17
height=11
font=^p11
shadow=yes
text=Off
colour=0xffff00
activecolour=0xff8000

[if_904:com_947]
type=^iftype_text
x=88
y=234
width=4
height=11
font=^p11
shadow=yes
text=1
colour=0xffff00

[if_904:com_948]
type=^iftype_text
x=113
y=234
width=7
height=11
font=^p11
shadow=yes
text=2
colour=0xffff00

[if_904:com_949]
type=^iftype_text
x=139
y=234
width=6
height=11
font=^p11
shadow=yes
text=3
colour=0xffff00

[if_904:com_950]
type=^iftype_text
x=166
y=234
width=5
height=11
font=^p11
shadow=yes
text=4
colour=0xffff00

[if_904:com_956]
type=^iftype_text
x=46
y=138
width=100
height=14
font=^p12
shadow=yes
text=Split Private-chat
colour=0xffffff

[if_904:com_957]
type=^iftype_graphic
buttontype=^if_selectbutton
x=56
y=154
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_287
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_958]
type=^iftype_graphic
buttontype=^if_selectbutton
x=98
y=154
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_287
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_904:com_959]
type=^iftype_text
x=66
y=165
width=15
height=14
font=^p12
shadow=yes
text=On
colour=0xffff00

[if_904:com_960]
type=^iftype_text
x=106
y=164
width=20
height=14
font=^p12
shadow=yes
text=Off
colour=0xffff00
