[if_994]
type=^iftype_layer
width=512
height=334

[if_994:com_995]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_996]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_997]
type=^iftype_graphic
x=12
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_998]
type=^iftype_graphic
x=12
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_999]
type=^iftype_graphic
x=12
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1000]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_1001]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_1002]
type=^iftype_graphic
x=100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_1003]
type=^iftype_graphic
x=100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_1004]
type=^iftype_graphic
x=-68
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_1005]
type=^iftype_graphic
x=100
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1006]
type=^iftype_graphic
x=-68
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_1007]
type=^iftype_graphic
x=-68
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_1008]
type=^iftype_graphic
x=-68
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_1009]
type=^iftype_graphic
x=-68
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1010]
type=^iftype_graphic
x=20
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_1011]
type=^iftype_graphic
x=108
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_1012]
type=^iftype_graphic
x=20
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_1013]
type=^iftype_graphic
x=20
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_1014]
type=^iftype_graphic
x=20
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_1015]
type=^iftype_graphic
x=20
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1016]
type=^iftype_graphic
x=108
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_1017]
type=^iftype_graphic
x=108
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_1018]
type=^iftype_graphic
x=108
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_1019]
type=^iftype_graphic
x=108
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1020]
type=^iftype_graphic
x=-100
y=20
width=88
height=60
graphic=tradebacking,0

[if_994:com_1021]
type=^iftype_graphic
x=-100
y=80
width=88
height=60
graphic=tradebacking,0

[if_994:com_1022]
type=^iftype_graphic
x=-100
y=-116
width=88
height=60
graphic=tradebacking,0

[if_994:com_1023]
type=^iftype_graphic
x=-100
y=-56
width=88
height=60
graphic=tradebacking,0

[if_994:com_1024]
type=^iftype_graphic
x=-100
y=4
width=88
height=60
graphic=tradebacking,0

[if_994:com_1025]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_994:com_1026]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1027]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1028]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1029]
type=^iftype_graphic
x=-3
y=-99
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1030]
type=^iftype_graphic
x=-3
y=-63
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1031]
type=^iftype_graphic
x=-3
y=-27
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1032]
type=^iftype_graphic
x=-3
y=9
width=36
height=36
graphic=miscgraphics,2

[if_994:com_1033]
type=^iftype_graphic
x=-33
y=50
width=36
height=36
graphic=steelborder2,1

[if_994:com_1034]
type=^iftype_graphic
x=-33
y=86
width=36
height=36
graphic=steelborder2,1

[if_994:com_1035]
type=^iftype_graphic
x=-33
y=122
width=36
height=36
graphic=steelborder2,1

[if_994:com_1036]
type=^iftype_graphic
x=-33
y=-98
width=36
height=36
graphic=steelborder2,1

[if_994:com_1037]
type=^iftype_graphic
x=-33
y=-62
width=36
height=36
graphic=steelborder2,1

[if_994:com_1038]
type=^iftype_graphic
x=-33
y=-26
width=36
height=36
graphic=steelborder2,1

[if_994:com_1039]
type=^iftype_graphic
x=-33
y=10
width=36
height=36
graphic=steelborder2,1

[if_994:com_1040]
type=^iftype_graphic
x=73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1041]
type=^iftype_graphic
x=109
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1042]
type=^iftype_graphic
x=-111
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1043]
type=^iftype_graphic
x=-75
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1044]
type=^iftype_graphic
x=-39
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1045]
type=^iftype_graphic
x=-3
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1046]
type=^iftype_graphic
x=33
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1047]
type=^iftype_graphic
x=69
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1048]
type=^iftype_graphic
x=105
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1049]
type=^iftype_graphic
x=-115
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1050]
type=^iftype_graphic
x=-79
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1051]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1052]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1053]
type=^iftype_graphic
x=-112
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1054]
type=^iftype_graphic
x=-76
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1055]
type=^iftype_graphic
x=-40
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1056]
type=^iftype_graphic
x=-4
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1057]
type=^iftype_graphic
x=32
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1058]
type=^iftype_graphic
x=68
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1059]
type=^iftype_graphic
x=104
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1060]
type=^iftype_graphic
x=-116
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1061]
type=^iftype_graphic
x=-80
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1062]
type=^iftype_graphic
x=-4
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1063]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1064]
type=^iftype_graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1065]
type=^iftype_graphic
x=12
y=34
width=25
height=30
graphic=steelborder,2

[if_994:com_1066]
type=^iftype_graphic
x=-37
y=20
width=25
height=30
graphic=steelborder,1

[if_994:com_1067]
type=^iftype_graphic
x=-73
y=5
width=36
height=36
graphic=steelborder2,0

[if_994:com_1068]
type=^iftype_graphic
x=-37
y=34
width=25
height=30
graphic=steelborder,3

[if_994:com_1069]
type=^iftype_graphic
x=-73
y=43
width=36
height=36
graphic=miscgraphics,3

[if_994:com_1070]
type=^iftype_graphic
x=32
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1071]
type=^iftype_graphic
x=68
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1072]
type=^iftype_graphic
x=104
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1073]
type=^iftype_graphic
x=-116
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1074]
type=^iftype_graphic
x=-80
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1075]
type=^iftype_graphic
x=-53
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1076]
type=^iftype_graphic
x=-40
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1077]
type=^iftype_graphic
x=-76
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1078]
type=^iftype_graphic
x=-112
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1079]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1080]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1081]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1082]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_994:com_1083]
type=^iftype_text
x=116
y=-65
width=80
height=14
scriptc1=^op_leq
scriptv1=9
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Warhammer
colour=0x0
activecolour=0xffffff

[if_994:com_1084]
type=^iftype_text
buttontype=^if_closebutton
x=-88
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_994:com_1085]
type=^iftype_text
x=18
y=-115
width=80
height=14
scriptc1=^op_leq
scriptv1=4
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Sword
colour=0x0
activecolour=0xffffff

[if_994:com_1086]
type=^iftype_text
x=18
y=-15
width=80
height=14
scriptc1=^op_leq
scriptv1=6
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Long sword
colour=0x0
activecolour=0xffffff

[if_994:com_1087]
type=^iftype_text
x=18
y=-65
width=80
height=14
scriptc1=^op_leq
scriptv1=5
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Scimitar
colour=0x0
activecolour=0xffffff

[if_994:com_1088]
type=^iftype_text
x=18
y=35
width=80
height=14
scriptc1=^op_leq
scriptv1=14
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=2 hand sword
colour=0x0
activecolour=0xffffff

[if_994:com_1089]
type=^iftype_text
x=73
y=-37
width=34
height=14
scriptc1=^op_leq
scriptv1=1
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=2bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1090]
type=^iftype_text
x=73
y=13
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1091]
type=^iftype_text
x=116
y=91
width=80
height=14
scriptc1=^op_leq
scriptv1=1
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Axe
colour=0x0
activecolour=0xffffff

[if_994:com_1092]
type=^iftype_text
x=116
y=-15
width=80
height=14
scriptc1=^op_leq
scriptv1=10
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Battle axe
colour=0x0
activecolour=0xffffff

[if_994:com_1093]
type=^iftype_text
x=116
y=-115
width=80
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Mace
colour=0x0
activecolour=0xffffff

[if_994:com_1094]
type=^iftype_text
x=18
y=91
width=80
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Dagger
colour=0x0
activecolour=0xffffff

[if_994:com_1095]
type=^iftype_text
x=-85
y=-37
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1097]
type=^iftype_layer
x=-102
y=-47
width=80
height=46

[if_994:com_1096]
layer=if_994:com_1097
type=^iftype_text
y=32
width=80
height=14
scriptc1=^op_leq
scriptv1=4
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=other
colour=0x0
activecolour=0xffffff

[if_994:com_1132]
layer=if_994:com_1097
type=^iftype_text
x=55
y=10
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1098]
type=^iftype_text
x=-42
y=91
width=80
height=14
scriptc1=^op_leq
scriptv1=11
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Chain body
colour=0x0
activecolour=0xffffff

[if_994:com_1099]
type=^iftype_text
x=-42
y=-115
width=80
height=14
scriptc1=^op_leq
scriptv1=16
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Plate legs
colour=0x0
activecolour=0xffffff

[if_994:com_1100]
type=^iftype_text
x=-42
y=-65
width=80
height=14
scriptc1=^op_leq
scriptv1=16
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Plate skirt
colour=0x0
activecolour=0xffffff

[if_994:com_1101]
type=^iftype_text
x=-42
y=-15
width=80
height=14
scriptc1=^op_leq
scriptv1=18
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Plate body
colour=0x0
activecolour=0xffffff

[if_994:com_1102]
type=^iftype_text
x=56
y=91
width=80
height=14
scriptc1=^op_leq
scriptv1=3
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Medium helm
colour=0x0
activecolour=0xffffff

[if_994:com_1103]
type=^iftype_text
x=56
y=-115
width=80
height=14
scriptc1=^op_leq
scriptv1=7
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Full helm
colour=0x0
activecolour=0xffffff

[if_994:com_1104]
type=^iftype_text
x=56
y=-65
width=80
height=14
scriptc1=^op_leq
scriptv1=8
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Square shield
colour=0x0
activecolour=0xffffff

[if_994:com_1105]
type=^iftype_text
x=56
y=-15
width=80
height=14
scriptc1=^op_leq
scriptv1=12
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Kite shield
colour=0x0
activecolour=0xffffff

[if_994:com_1106]
type=^iftype_text
x=-106
y=-65
width=88
height=14
scriptc1=^op_leq
scriptv1=7
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Throwing knives
colour=0x0
activecolour=0xffffff

[if_994:com_1107]
type=^iftype_text
x=-102
y=91
width=80
height=14
scriptc1=^op_leq
scriptv1=4
script1op1=^load_var,^varp_211
scriptc2=^op_neq
scriptv2=1
script2op1=^load_var,^varp_261
halign=yes
font=^p12
text=Dart tips
colour=0x0
activecolour=0xffffff

[if_994:com_1108]
type=^iftype_text
x=-102
y=-115
width=80
height=14
scriptc1=^op_leq
scriptv1=5
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Arrow heads
colour=0x0
activecolour=0xffffff

[if_994:com_1109]
type=^iftype_text
x=13
y=69
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1110]
type=^iftype_text
x=13
y=119
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1111]
type=^iftype_text
x=13
y=-87
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1112]
type=^iftype_text
x=13
y=-37
width=33
height=14
scriptc1=^op_leq
scriptv1=4
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=5bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1113]
type=^iftype_text
x=111
y=119
width=34
height=14
scriptc1=^op_leq
scriptv1=1
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=2bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1114]
type=^iftype_text
x=111
y=-87
width=34
height=14
scriptc1=^op_leq
scriptv1=1
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=2bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1115]
type=^iftype_text
x=111
y=-37
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1116]
type=^iftype_text
x=73
y=-87
width=34
height=14
scriptc1=^op_leq
scriptv1=1
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=2bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1117]
type=^iftype_text
x=12
y=30
width=488
height=14
halign=yes
font=^b12
shadow=yes
text=What would you like to make?
colour=0xffff00

[if_994:com_1118]
type=^iftype_text
x=-85
y=-87
width=33
height=14
scriptc1=^op_leq
scriptv1=2
script1op1=^load_var,^varp_210
font=^p12
shadow=yes
text=3bars
colour=0xc00000
activecolour=0xc000

[if_994:com_1119]
type=^iftype_inventory
x=42
y=60
width=1
height=5
invxof=66
invyof=18
invoption1=Make
invoption2=Make 5
invoption3=Make 10

[if_994:com_1120]
type=^iftype_inventory
x=-116
y=60
width=1
height=5
invxof=66
invyof=18
invoption1=Make
invoption2=Make 5
invoption3=Make 10

[if_994:com_1121]
type=^iftype_inventory
x=-18
y=60
width=1
height=5
invxof=66
invyof=18
invoption1=Make
invoption2=Make 5
invoption3=Make 10

[if_994:com_1122]
type=^iftype_inventory
x=80
y=60
width=1
height=5
invxof=66
invyof=18
invoption1=Make
invoption2=Make 5
invoption3=Make 10

[if_994:com_1123]
type=^iftype_inventory
x=-78
y=60
width=1
height=5
invxof=66
invyof=18
invoption1=Make set
invoption2=Make 5 sets
invoption3=Make 10 sets

[if_994:com_1124]
type=^iftype_text
x=73
y=119
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1125]
type=^iftype_text
x=73
y=69
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1126]
type=^iftype_text
x=-85
y=69
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1127]
type=^iftype_text
x=111
y=69
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1128]
type=^iftype_text
x=-47
y=69
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1129]
type=^iftype_text
x=-85
y=119
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1130]
type=^iftype_text
x=-47
y=119
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1131]
type=^iftype_text
x=-47
y=-87
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000

[if_994:com_1133]
type=^iftype_layer
x=-102
y=3
width=80
height=46

[if_994:com_1134]
layer=if_994:com_1133
type=^iftype_text
y=32
width=80
height=14
scriptc1=^op_leq
scriptv1=4
script1op1=^load_var,^varp_211
halign=yes
font=^p12
text=Studs
colour=0x0
activecolour=0xffffff

[if_994:com_1135]
layer=if_994:com_1133
type=^iftype_text
x=55
y=10
width=25
height=14
scriptc1=^op_leq
scriptv1=0
script1op1=^load_var,^varp_210
halign=yes
font=^p12
shadow=yes
text=1bar
colour=0xc00000
activecolour=0xc000
