[if_6308]
type=^iftype_layer
width=512
height=334

[if_6308:com_6309]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6310]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6311]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6312]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6313]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6314]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6315]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6316]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6317]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6318]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6319]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6320]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6321]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6322]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6323]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6324]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6325]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6326]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6327]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6328]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6329]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6330]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6331]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6332]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6333]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6334]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6335]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6336]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6337]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6338]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_6308:com_6339]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_6308:com_6340]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6341]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6342]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6343]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6344]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6345]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6346]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_6308:com_6347]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6348]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6349]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6350]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6351]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6352]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6353]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_6308:com_6354]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6355]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6356]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6357]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6358]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6359]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6360]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6361]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6362]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6363]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6364]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6365]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6366]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6367]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6368]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6369]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6370]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6371]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6372]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6373]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6374]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6375]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6376]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6377]
type=^iftype_graphic
x=36
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6378]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6379]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_6308:com_6380]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_6308:com_6381]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6382]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_6308:com_6383]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_6308:com_6384]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6385]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6386]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6387]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6388]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6389]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6390]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6391]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6392]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6393]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6394]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6395]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6396]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_6308:com_6397]
type=^iftype_model
x=421
y=280
width=32
height=32
model=model_3276
zoom=1031
xan=99
yan=728

[if_6308:com_6398]
type=^iftype_model
x=52
y=280
width=32
height=32
model=model_3276
zoom=1031
xan=105
yan=312

[if_6308:com_6399]
type=^iftype_text
x=209
y=58
width=84
height=14
font=^p12
shadow=yes
text=Last ten duels:
colour=0xaa8822

[if_6308:com_6400]
type=^iftype_text
x=21
y=29
width=65
height=14
font=^p12
shadow=yes
text=Scoreboard
colour=0xffaa44

[if_6308:com_6401]
type=^iftype_text
buttontype=^if_closebutton
x=423
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0x808080
overcolour=0xffffff

[if_6308:com_6402]
type=^iftype_text
x=154
y=78
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6403]
type=^iftype_text
x=154
y=102
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6404]
type=^iftype_text
x=154
y=126
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6405]
type=^iftype_text
x=154
y=150
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6406]
type=^iftype_text
x=154
y=174
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6407]
type=^iftype_text
x=154
y=198
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6408]
type=^iftype_text
x=154
y=222
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6409]
type=^iftype_text
x=154
y=246
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6410]
type=^iftype_text
x=154
y=270
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa

[if_6308:com_6411]
type=^iftype_text
x=154
y=294
width=198
height=14
halign=yes
font=^p12
shadow=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xaaaaaa
