[if_356]
type=^iftype_layer
width=512
height=334

[if_356:com_357]
type=^iftype_text
x=21
y=29
width=441
height=17
halign=yes
font=^q8
text=Line1

[if_356:com_358]
type=^iftype_text
buttontype=^if_pausebutton
x=69
y=77
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000
