[if_5392]
type=^iftype_layer
width=512
height=334

[if_5392:com_5393]
type=^iftype_model
x=240
y=155
width=32
height=32
model=model_3024
zoom=613
xan=345
yan=84

[if_5392:com_5394]
type=^iftype_text
x=6
y=83
width=140
height=17
halign=yes
font=^q8
shadow=yes
text=Southeast Runescape
colour=0xfad782

[if_5392:com_5395]
type=^iftype_text
buttontype=^if_closebutton
x=430
y=8
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0xfad782
overcolour=0xffffff

[if_5392:com_5396]
type=^iftype_model
x=448
y=172
width=32
height=32
model=model_3039
zoom=1767
xan=557
yan=73

[if_5392:com_5397]
type=^iftype_model
x=63
y=42
width=32
height=32
model=model_2774
zoom=400
xan=208
yan=1687

[if_5392:com_5398]
type=^iftype_model
x=134
y=203
width=32
height=32
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5399]
type=^iftype_model
x=156
y=218
width=32
height=32
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5400]
type=^iftype_model
x=232
y=222
width=32
height=32
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5401]
type=^iftype_model
x=253
y=239
width=32
height=32
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5402]
type=^iftype_model
x=290
y=246
width=32
height=32
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5403]
type=^iftype_model
x=336
y=264
width=32
height=32
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5404]
type=^iftype_model
x=147
y=174
width=32
height=32
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5405]
type=^iftype_model
x=177
y=175
width=32
height=32
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5406]
type=^iftype_model
x=227
y=191
width=32
height=32
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5407]
type=^iftype_model
x=261
y=204
width=32
height=32
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5408]
type=^iftype_model
x=304
y=214
width=32
height=32
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5409]
type=^iftype_model
x=343
y=225
width=32
height=32
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5410]
type=^iftype_model
x=159
y=142
width=32
height=32
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5411]
type=^iftype_model
x=193
y=149
width=32
height=32
scriptc1=^op_neq
scriptv1=13
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5412]
type=^iftype_model
x=229
y=157
width=32
height=32
scriptc1=^op_neq
scriptv1=14
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5413]
type=^iftype_model
x=272
y=168
width=32
height=32
scriptc1=^op_neq
scriptv1=15
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5414]
type=^iftype_model
x=311
y=175
width=32
height=32
scriptc1=^op_neq
scriptv1=16
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5415]
type=^iftype_model
x=346
y=185
width=32
height=32
scriptc1=^op_neq
scriptv1=17
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5416]
type=^iftype_model
x=172
y=112
width=32
height=32
scriptc1=^op_neq
scriptv1=18
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5417]
type=^iftype_model
x=205
y=118
width=32
height=32
scriptc1=^op_neq
scriptv1=19
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5418]
type=^iftype_model
x=242
y=126
width=32
height=32
scriptc1=^op_neq
scriptv1=20
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5419]
type=^iftype_model
x=278
y=134
width=32
height=32
scriptc1=^op_neq
scriptv1=21
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5420]
type=^iftype_model
x=316
y=145
width=32
height=32
scriptc1=^op_neq
scriptv1=22
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5421]
type=^iftype_model
x=354
y=151
width=32
height=32
scriptc1=^op_neq
scriptv1=23
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5422]
type=^iftype_model
x=183
y=83
width=32
height=32
scriptc1=^op_neq
scriptv1=24
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5423]
type=^iftype_model
x=215
y=88
width=32
height=32
scriptc1=^op_neq
scriptv1=25
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5424]
type=^iftype_model
x=252
y=96
width=32
height=32
scriptc1=^op_neq
scriptv1=26
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5425]
type=^iftype_model
x=285
y=104
width=32
height=32
scriptc1=^op_neq
scriptv1=27
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5426]
type=^iftype_model
x=326
y=112
width=32
height=32
scriptc1=^op_neq
scriptv1=28
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5427]
type=^iftype_model
x=361
y=120
width=32
height=32
scriptc1=^op_neq
scriptv1=29
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5428]
type=^iftype_model
x=192
y=57
width=32
height=32
scriptc1=^op_neq
scriptv1=30
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5429]
type=^iftype_model
x=222
y=60
width=32
height=32
scriptc1=^op_neq
scriptv1=31
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5430]
type=^iftype_model
x=260
y=67
width=32
height=32
scriptc1=^op_neq
scriptv1=32
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5431]
type=^iftype_model
x=293
y=74
width=32
height=32
scriptc1=^op_neq
scriptv1=33
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5432]
type=^iftype_model
x=329
y=81
width=32
height=32
scriptc1=^op_neq
scriptv1=34
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5433]
type=^iftype_model
x=367
y=89
width=32
height=32
scriptc1=^op_neq
scriptv1=35
script1op1=^load_var,varp_106
activemodel=model_3062
activeseq=seq_646
zoom=1526
xan=528
yan=68

[if_5392:com_5434]
type=^iftype_text
x=309
y=213
width=58
height=14
font=^p12
shadow=yes
text=Lumbridge
colour=0x947440

[if_5392:com_5435]
type=^iftype_text
x=226
y=157
width=45
height=14
font=^p12
shadow=yes
text=Draynor
colour=0x947440

[if_5392:com_5436]
type=^iftype_text
x=352
y=105
width=43
height=14
font=^p12
shadow=yes
text=Varrock
colour=0x947440

[if_5392:com_5437]
type=^iftype_text
x=198
y=91
width=42
height=14
font=^p12
shadow=yes
text=Falador
colour=0x947440

[if_5392:com_5438]
type=^iftype_text
x=230
y=172
width=37
height=14
font=^p12
shadow=yes
text=Village
colour=0x947440

[if_5392:com_5439]
type=^iftype_text
x=157
y=190
width=24
height=14
font=^p12
shadow=yes
text=Port
colour=0x947440

[if_5392:com_5440]
type=^iftype_text
x=152
y=204
width=31
height=14
font=^p12
shadow=yes
text=Sarim
colour=0x947440
