[if_4667]
type=^iftype_layer
width=512
height=334

[if_4667:com_4668]
type=^iftype_graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[if_4667:com_4669]
type=^iftype_graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[if_4667:com_4670]
type=^iftype_model
buttontype=^if_button
x=28
y=13
width=64
height=96
zoom=400

[if_4667:com_4671]
type=^iftype_model
buttontype=^if_button
x=148
y=13
width=64
height=96
zoom=400

[if_4667:com_4672]
type=^iftype_model
buttontype=^if_button
x=268
y=13
width=64
height=96
zoom=400

[if_4667:com_4673]
type=^iftype_model
buttontype=^if_button
x=388
y=13
width=64
height=96
zoom=400

[if_4667:com_4674]
type=^iftype_text
buttontype=^if_button
y=76
width=120
height=17
halign=yes
font=^q8

[if_4667:com_4675]
type=^iftype_text
buttontype=^if_button
x=120
y=76
width=120
height=17
halign=yes
font=^q8

[if_4667:com_4676]
type=^iftype_text
buttontype=^if_button
x=240
y=76
width=120
height=17
halign=yes
font=^q8

[if_4667:com_4677]
type=^iftype_text
buttontype=^if_button
x=360
y=76
width=120
height=17
halign=yes
font=^q8

[if_4667:com_4678]
type=^iftype_text
x=8
y=3
width=464
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000
