[if_6987]
type=^iftype_layer
width=512
height=334

[if_6987:com_6988]
type=^iftype_model
x=227
y=162
width=32
height=32
model=model_3395
zoom=599
xan=520
yan=1

[if_6987:com_6989]
type=^iftype_text
buttontype=^if_closebutton
x=430
y=8
width=74
height=14
font=^p12
shadow=yes
text=Close Window
colour=0xfad782
overcolour=0xffffff

[if_6987:com_6990]
type=^iftype_text
x=160
y=115
width=202
height=17
font=^q8
shadow=yes
text=You'll need to look for a town
colour=0xf0bb5e

[if_6987:com_6991]
type=^iftype_text
x=160
y=141
width=202
height=17
font=^q8
shadow=yes
text=with a central fountain. Look
colour=0xf0bb5e

[if_6987:com_6992]
type=^iftype_text
x=160
y=166
width=202
height=17
font=^q8
shadow=yes
text=inside a crate in the general
colour=0xf0bb5e

[if_6987:com_6993]
type=^iftype_text
x=160
y=193
width=202
height=17
font=^q8
shadow=yes
text=store. 
colour=0xf0bb5e
