[if_4445]
type=^iftype_layer
width=512
height=334

[if_4445:com_5451]
type=^iftype_graphic
buttontype=^if_selectbutton
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_4445:com_5452]
type=^iftype_graphic
buttontype=^if_selectbutton
x=11
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_4445:com_6157]
type=^iftype_graphic
buttontype=^if_selectbutton
x=46
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_4445:com_6273]
type=^iftype_graphic
buttontype=^if_selectbutton
x=57
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_4445:com_6274]
type=^iftype_graphic
buttontype=^if_selectbutton
x=92
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_4445:com_6275]
type=^iftype_graphic
buttontype=^if_selectbutton
x=103
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_4445:com_6276]
type=^iftype_graphic
buttontype=^if_selectbutton
x=139
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_166
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[if_4445:com_6277]
type=^iftype_graphic
buttontype=^if_selectbutton
x=153
y=40
width=36
height=36
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_166
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[if_4445:com_6278]
type=^iftype_graphic
buttontype=^if_selectbutton
x=48
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_170
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_6279]
type=^iftype_graphic
buttontype=^if_selectbutton
x=10
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_170
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_6280]
type=^iftype_graphic
buttontype=^if_selectbutton
x=105
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_171
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_6281]
type=^iftype_graphic
buttontype=^if_selectbutton
x=143
y=100
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_171
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_6282]
type=^iftype_text
x=49
y=4
width=90
height=14
font=^b12
shadow=yes
text=Game Options
colour=0xffff

[if_4445:com_6283]
type=^iftype_text
x=41
y=24
width=104
height=14
font=^p12
shadow=yes
text=Screen Brightness
colour=0xffffff

[if_4445:com_6284]
type=^iftype_text
x=12
y=53
width=23
height=11
font=^p11
shadow=yes
text=Dark
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6285]
type=^iftype_text
x=52
y=53
width=34
height=11
font=^p11
shadow=yes
text=Normal
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6286]
type=^iftype_text
x=100
y=53
width=31
height=11
font=^p11
shadow=yes
text=Bright
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6287]
type=^iftype_text
x=142
y=53
width=43
height=11
font=^p11
shadow=yes
text=V-Bright
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6288]
type=^iftype_text
x=6
y=82
width=85
height=14
font=^p12
shadow=yes
text=Mouse Buttons
colour=0xffffff

[if_4445:com_6289]
type=^iftype_text
x=56
y=110
width=19
height=14
font=^p12
shadow=yes
text=Two
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6290]
type=^iftype_text
x=17
y=110
width=22
height=14
font=^p12
shadow=yes
text=One
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6291]
type=^iftype_text
x=106
y=82
width=72
height=14
font=^p12
shadow=yes
text=Chat Effects
colour=0xffffff

[if_4445:com_6292]
type=^iftype_text
x=151
y=110
width=20
height=14
font=^p12
shadow=yes
text=Off
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6293]
type=^iftype_text
x=115
y=110
width=15
height=14
font=^p12
shadow=yes
text=On
colour=0xffff00
activecolour=0xff8000

[if_4445:com_6294]
type=^iftype_text
x=28
y=202
width=136
height=14
font=^p12
shadow=yes
text=Music + Sounds are only
colour=0xffff00

[if_4445:com_6295]
type=^iftype_text
x=22
y=218
width=148
height=14
font=^p12
shadow=yes
text=available in the high detail
colour=0xffff00

[if_4445:com_6296]
type=^iftype_text
x=34
y=233
width=117
height=14
font=^p12
shadow=yes
text=version of the game.
colour=0xffff00

[if_4445:com_951]
type=^iftype_text
x=46
y=138
width=100
height=14
font=^p12
shadow=yes
text=Split Private-chat
colour=0xffffff

[if_4445:com_952]
type=^iftype_graphic
buttontype=^if_selectbutton
x=56
y=154
width=36
height=36
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_287
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_953]
type=^iftype_graphic
buttontype=^if_selectbutton
x=98
y=154
width=36
height=36
scriptc1=^op_neq
scriptv1=0
script1op1=^load_var,varp_287
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[if_4445:com_954]
type=^iftype_text
x=66
y=165
width=15
height=14
font=^p12
shadow=yes
text=On
colour=0xffff00

[if_4445:com_955]
type=^iftype_text
x=106
y=164
width=20
height=14
font=^p12
shadow=yes
text=Off
colour=0xffff00
