[if_4272]
type=^iftype_layer
width=512
height=334

[if_4272:com_4273]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1

[if_4272:com_4274]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2

[if_4272:com_4275]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_4272:com_4276]
type=^iftype_model
x=20
y=69
width=32
height=32
model=model_1570
zoom=1800
xan=116
yan=1978
