[if_6216]
type=^iftype_layer
width=512
height=334

[if_6216:com_6217]
type=^iftype_text
x=73
y=15
width=390
height=17
halign=yes
font=^q8
text=Line1

[if_6216:com_6218]
type=^iftype_text
x=73
y=44
width=390
height=18
halign=yes
font=^q8
text=Line2

[if_6216:com_6219]
type=^iftype_text
buttontype=^if_pausebutton
x=93
y=74
width=350
height=17
halign=yes
font=^q8
text=Click here to continue
colour=0xffff00
overcolour=0xc000

[if_6216:com_6220]
type=^iftype_model
x=35
y=58
width=32
height=32
model=model_3326
zoom=250
xan=538
