[if_2492]
type=^iftype_layer
width=512
height=334

[if_2492:com_2493]
type=^iftype_text
y=-1
width=480
height=17
halign=yes
font=^q8
text=Select an Option
colour=0x800000

[if_2492:com_2494]
type=^iftype_text
buttontype=^if_button
y=15
width=480
height=16
halign=yes
font=^q8
text=option1
overcolour=0xc000

[if_2492:com_2495]
type=^iftype_text
buttontype=^if_button
y=31
width=480
height=16
halign=yes
font=^q8
text=option2
overcolour=0xc000

[if_2492:com_2496]
type=^iftype_text
buttontype=^if_button
y=47
width=480
height=16
halign=yes
font=^q8
text=option3
overcolour=0xc000

[if_2492:com_2497]
type=^iftype_text
buttontype=^if_button
y=63
width=480
height=16
halign=yes
font=^q8
text=option4
overcolour=0xc000

[if_2492:com_2498]
type=^iftype_text
buttontype=^if_button
y=79
width=480
height=16
halign=yes
font=^q8
text=option5
overcolour=0xc000

[if_2492:com_2501]
type=^iftype_layer
x=126
y=1
width=229
height=13

[if_2492:com_2499]
layer=com_2501
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2492:com_2500]
layer=com_2501
type=^iftype_graphic
x=172
width=57
height=13
graphic=sworddecor,0

[if_2492:com_2502]
type=^iftype_layer
x=2
y=1
width=476
height=13
hide=yes

[if_2492:com_2503]
layer=com_2502
type=^iftype_graphic
width=57
height=13
graphic=sworddecor,1

[if_2492:com_2504]
layer=com_2502
type=^iftype_graphic
x=419
width=57
height=13
graphic=sworddecor,0
