[if_638]
type=^iftype_layer
width=512
height=334

[if_638:com_639]
type=^iftype_layer
x=5
y=20
width=168
height=229
scrollheight=875

[if_638:com_663]
layer=com_639
type=^iftype_text
x=5
y=8
width=84
height=14
font=^b12
shadow=yes
text=FREE QUESTS:
colour=0xf99b15

[if_638:com_7332]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=23
width=130
height=14
font=^p12
shadow=yes
text=Black Knight's Fortress
colour=0xff0000

[if_638:com_7333]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=39
width=96
height=14
font=^p12
shadow=yes
text=Cook's Assistant
colour=0xff0000

[if_638:com_7334]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=55
width=76
height=14
font=^p12
shadow=yes
text=Demon Slayer
colour=0xff0000

[if_638:com_7335]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=223
width=125
height=14
font=^p12
shadow=yes
text=Rune Mysteries Quest
colour=0xff0000

[if_638:com_7336]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=71
width=75
height=14
font=^p12
shadow=yes
text=Doric's Quest
colour=0xff0000

[if_638:com_7337]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=192
width=109
height=14
font=^p12
shadow=yes
text=The Restless Ghost
colour=0xff0000

[if_638:com_7338]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=117
width=94
height=14
font=^p12
shadow=yes
text=Goblin Diplomacy
colour=0xff0000

[if_638:com_7339]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=102
width=105
height=14
font=^p12
shadow=yes
text=Ernest the Chicken
colour=0xff0000

[if_638:com_7340]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=147
width=66
height=14
font=^p12
shadow=yes
text=Imp Catcher
colour=0xff0000

[if_638:com_7341]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=162
width=97
height=13
font=^p12
shadow=yes
text=Pirate's Treasure
colour=0xff0000

[if_638:com_7342]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=177
width=96
height=14
font=^p12
shadow=yes
text=Prince Ali Rescue
colour=0xff0000

[if_638:com_7343]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=208
width=86
height=14
font=^p12
shadow=yes
text=Romeo & Juliet
colour=0xff0000

[if_638:com_7344]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=239
width=83
height=14
font=^p12
shadow=yes
text=Sheep Shearer
colour=0xff0000

[if_638:com_7345]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=255
width=85
height=14
font=^p12
shadow=yes
text=Shield of Arrav
colour=0xff0000

[if_638:com_7346]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=132
width=104
height=14
font=^p12
shadow=yes
text=The Knight's Sword
colour=0xff0000

[if_638:com_7347]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=270
width=84
height=14
font=^p12
shadow=yes
text=Vampire Slayer
colour=0xff0000

[if_638:com_7348]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=287
width=79
height=14
font=^p12
shadow=yes
text=Witch's Potion
colour=0xff0000

[if_638:com_7349]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=816
width=68
height=14
font=^p12
shadow=yes
text=Watch Tower
colour=0xff0000

[if_638:com_682]
layer=com_639
type=^iftype_text
x=10
y=306
width=113
height=14
font=^b12
shadow=yes
text=MEMBERS QUESTS:
colour=0xf99b15

[if_638:com_7350]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=831
width=89
height=14
font=^p12
shadow=yes
text=Waterfall Quest
colour=0xff0000

[if_638:com_7351]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=846
width=82
height=14
font=^p12
shadow=yes
text=Witches House
colour=0xff0000

[if_638:com_7352]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=339
width=57
height=14
font=^p12
shadow=yes
text=Biohazard
colour=0xff0000

[if_638:com_7353]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=354
width=63
height=14
font=^p12
shadow=yes
text=Clock Tower
colour=0xff0000

[if_638:com_7354]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=369
width=76
height=14
font=^p12
shadow=yes
text=Digsite Quest
colour=0xff0000

[if_638:com_7355]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=385
width=73
height=14
font=^p12
shadow=yes
text=Druidic Ritual
colour=0xff0000

[if_638:com_7356]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=401
width=77
height=14
font=^p12
shadow=yes
text=Dwarf Cannon
colour=0xff0000

[if_638:com_7357]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=416
width=69
height=14
font=^p12
shadow=yes
text=Family Crest
colour=0xff0000

[if_638:com_7358]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=432
width=65
height=14
font=^p12
shadow=yes
text=Fight Arena
colour=0xff0000

[if_638:com_7359]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=448
width=88
height=14
font=^p12
shadow=yes
text=Fishing Contest
colour=0xff0000

[if_638:com_7360]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=465
width=83
height=14
font=^p12
shadow=yes
text=Gertrude's Cat
colour=0xff0000

[if_638:com_7361]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=481
width=83
height=14
font=^p12
shadow=yes
text=The Grand Tree
colour=0xff0000

[if_638:com_7362]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=497
width=63
height=14
font=^p12
shadow=yes
text=Hazeel Cult
colour=0xff0000

[if_638:com_7363]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=513
width=73
height=14
font=^p12
shadow=yes
text=Hero's Quest
colour=0xff0000

[if_638:com_7364]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=530
width=53
height=14
font=^p12
shadow=yes
text=Holy Grail
colour=0xff0000

[if_638:com_7365]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=546
width=77
height=14
font=^p12
shadow=yes
text=Jungle Potion
colour=0xff0000

[if_638:com_7366]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=562
width=85
height=14
font=^p12
shadow=yes
text=Legends Quest
colour=0xff0000

[if_638:com_7367]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=578
width=50
height=14
font=^p12
shadow=yes
text=Lost City
colour=0xff0000

[if_638:com_7368]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=594
width=88
height=14
font=^p12
shadow=yes
text=Merlin's Crystal
colour=0xff0000

[if_638:com_7369]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=610
width=77
height=14
font=^p12
shadow=yes
text=Monk's Friend
colour=0xff0000

[if_638:com_7370]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=626
width=90
height=14
font=^p12
shadow=yes
text=Murder Mystery
colour=0xff0000

[if_638:com_7371]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=641
width=109
height=14
font=^p12
shadow=yes
text=Observatory Quest
colour=0xff0000

[if_638:com_7372]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=657
width=63
height=14
font=^p12
shadow=yes
text=Plague City
colour=0xff0000

[if_638:com_7373]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=672
width=96
height=14
font=^p12
shadow=yes
text=Scorpion Catcher
colour=0xff0000

[if_638:com_7374]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=688
width=85
height=14
font=^p12
shadow=yes
text=Sea Slug Quest
colour=0xff0000

[if_638:com_7375]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=704
width=76
height=14
font=^p12
shadow=yes
text=Sheep Herder
colour=0xff0000

[if_638:com_7376]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=720
width=67
height=14
font=^p12
shadow=yes
text=Shilo Village
colour=0xff0000

[if_638:com_7378]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=736
width=80
height=14
font=^p12
shadow=yes
text=Temple of Ikov
colour=0xff0000

[if_638:com_7379]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=753
width=88
height=14
font=^p12
shadow=yes
text=The Tourist Trap
colour=0xff0000

[if_638:com_7380]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=769
width=105
height=14
font=^p12
shadow=yes
text=Tree Gnome Village
colour=0xff0000

[if_638:com_7381]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=785
width=66
height=14
font=^p12
shadow=yes
text=Tribal Totem
colour=0xff0000

[if_638:com_7382]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=801
width=105
height=14
font=^p12
shadow=yes
text=Underground Pass
colour=0xff0000

[if_638:com_7383]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=86
width=79
height=14
font=^p12
shadow=yes
text=Dragon Slayer
colour=0xff0000

[if_638:com_673]
layer=com_639
type=^iftype_text
buttontype=^if_button
x=10
y=323
width=135
height=14
font=^p12
shadow=yes
text=Big Chompy Bird Hunting
colour=0xff0000

[if_638:com_640]
type=^iftype_text
x=41
y=4
width=93
height=14
font=^b12
shadow=yes
text=Quest Journal
colour=0xffff00

[if_638:com_641]
type=^iftype_graphic
x=-12
y=194
width=36
height=36
graphic=miscgraphics,2

[if_638:com_642]
type=^iftype_graphic
x=150
y=194
width=36
height=36
graphic=steelborder2,1

[if_638:com_643]
type=^iftype_graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[if_638:com_644]
type=^iftype_graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[if_638:com_645]
type=^iftype_graphic
x=3
y=219
width=25
height=30
graphic=steelborder,2

[if_638:com_646]
type=^iftype_graphic
x=146
y=219
width=25
height=30
graphic=steelborder,3

[if_638:com_647]
type=^iftype_graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[if_638:com_648]
type=^iftype_graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[if_638:com_649]
type=^iftype_graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[if_638:com_650]
type=^iftype_graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[if_638:com_651]
type=^iftype_graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[if_638:com_652]
type=^iftype_graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[if_638:com_653]
type=^iftype_graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[if_638:com_654]
type=^iftype_graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[if_638:com_655]
type=^iftype_graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[if_638:com_656]
type=^iftype_graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[if_638:com_657]
type=^iftype_graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[if_638:com_658]
type=^iftype_graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[if_638:com_659]
type=^iftype_graphic
x=28
y=228
width=36
height=36
graphic=miscgraphics,3

[if_638:com_660]
type=^iftype_graphic
x=64
y=228
width=36
height=36
graphic=miscgraphics,3

[if_638:com_661]
type=^iftype_graphic
x=98
y=228
width=36
height=36
graphic=miscgraphics,3

[if_638:com_662]
type=^iftype_graphic
x=124
y=228
width=36
height=36
graphic=miscgraphics,3
