[if_1136]
type=^iftype_layer
width=512
height=334

[if_1136:com_1137]
type=^iftype_text
buttontype=^if_closebutton
x=424
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_1136:com_1138]
type=^iftype_model
x=239
y=155
width=32
height=32
model=model_3033
zoom=525
xan=490

[if_1136:com_1139]
type=^iftype_text
x=82
y=82
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1140]
type=^iftype_text
x=82
y=98
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1141]
type=^iftype_text
x=82
y=114
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1142]
type=^iftype_text
x=82
y=131
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1143]
type=^iftype_text
x=82
y=148
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1144]
type=^iftype_text
x=82
y=165
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1145]
type=^iftype_text
x=82
y=182
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1146]
type=^iftype_text
x=82
y=199
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1147]
type=^iftype_text
x=82
y=216
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1148]
type=^iftype_text
x=82
y=233
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1149]
type=^iftype_text
x=82
y=250
width=354
height=14
halign=yes
font=^p12
colour=0xffff00

[if_1136:com_1150]
type=^iftype_text
x=82
y=267
width=354
height=14
halign=yes
font=^p12
colour=0xffff00
