[if_3824]
type=^iftype_layer
width=512
height=334

[if_3824:com_3825]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3826]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3827]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3828]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3829]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3830]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3831]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3832]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3833]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3834]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3835]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3836]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3837]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3838]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3839]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3840]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3841]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3842]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3843]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3844]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3845]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3846]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3847]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3848]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3849]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3850]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3851]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3852]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3853]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3854]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_3824:com_3855]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_3824:com_3856]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3857]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3858]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3859]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3860]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3861]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3862]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_3824:com_3863]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3864]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3865]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3866]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3867]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3868]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3869]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_3824:com_3870]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3871]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3872]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3873]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3874]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3875]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3876]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3877]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3878]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3879]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3880]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3881]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3882]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3883]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3884]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3885]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3886]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3887]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3888]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3889]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3890]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3891]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3892]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3893]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3894]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3895]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_3824:com_3896]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_3824:com_3897]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3898]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_3824:com_3899]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_3824:com_3900]
type=^iftype_inventory
x=76
y=65
width=8
height=5
invxof=15
invyof=15
invoption1=Value
invoption2=Buy 1
invoption3=Buy 5
invoption4=Buy 10

[if_3824:com_3901]
type=^iftype_text
x=225
y=29
width=61
height=14
halign=yes
font=^b12
shadow=yes
text=Axe Shop
colour=0xffff00

[if_3824:com_3902]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_3824:com_3903]
type=^iftype_text
x=63
y=291
width=384
height=14
font=^p12
shadow=yes
text=Right-click on shop to buy item - Right-click on inventory to sell item
colour=0xffff00

[if_3824:com_3904]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3905]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3906]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3907]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3908]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3909]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3910]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3911]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3912]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3913]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3914]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3915]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_3824:com_3916]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0
