[if_2505]
type=^iftype_layer
width=512
height=334

[if_2505:com_2506]
type=^iftype_graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2507]
type=^iftype_graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2508]
type=^iftype_graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2509]
type=^iftype_graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2510]
type=^iftype_graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2511]
type=^iftype_graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2512]
type=^iftype_graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2513]
type=^iftype_graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2514]
type=^iftype_graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2515]
type=^iftype_graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2516]
type=^iftype_graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2517]
type=^iftype_graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2518]
type=^iftype_graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2519]
type=^iftype_graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2520]
type=^iftype_graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2521]
type=^iftype_graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2522]
type=^iftype_graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2523]
type=^iftype_graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2524]
type=^iftype_graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2525]
type=^iftype_graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2526]
type=^iftype_graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2527]
type=^iftype_graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2528]
type=^iftype_graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2529]
type=^iftype_graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2530]
type=^iftype_graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2531]
type=^iftype_graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2532]
type=^iftype_graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2533]
type=^iftype_graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2534]
type=^iftype_graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2535]
type=^iftype_graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[if_2505:com_2536]
type=^iftype_graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[if_2505:com_2537]
type=^iftype_graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2538]
type=^iftype_graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2539]
type=^iftype_graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2540]
type=^iftype_graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2541]
type=^iftype_graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2542]
type=^iftype_graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2543]
type=^iftype_graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[if_2505:com_2544]
type=^iftype_graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2545]
type=^iftype_graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2546]
type=^iftype_graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2547]
type=^iftype_graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2548]
type=^iftype_graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2549]
type=^iftype_graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2550]
type=^iftype_graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[if_2505:com_2551]
type=^iftype_graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2552]
type=^iftype_graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2553]
type=^iftype_graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2554]
type=^iftype_graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2555]
type=^iftype_graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2556]
type=^iftype_graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2557]
type=^iftype_graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2558]
type=^iftype_graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2559]
type=^iftype_graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2560]
type=^iftype_graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2561]
type=^iftype_graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2562]
type=^iftype_graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2563]
type=^iftype_graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2564]
type=^iftype_graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2565]
type=^iftype_graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2566]
type=^iftype_graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2567]
type=^iftype_graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2568]
type=^iftype_graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2569]
type=^iftype_graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2570]
type=^iftype_graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2571]
type=^iftype_graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2572]
type=^iftype_graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2573]
type=^iftype_graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2574]
type=^iftype_graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2575]
type=^iftype_graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2576]
type=^iftype_graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[if_2505:com_2577]
type=^iftype_graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[if_2505:com_2578]
type=^iftype_graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2579]
type=^iftype_graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[if_2505:com_2580]
type=^iftype_graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[if_2505:com_2581]
type=^iftype_model
x=65
y=95
width=32
height=32
model=model_120
zoom=1200
yan=200

[if_2505:com_2582]
type=^iftype_text
x=190
y=30
width=130
height=14
halign=yes
font=^b12
shadow=yes
text=Hairdressers' Salon
colour=0xffff00

[if_2505:com_2583]
type=^iftype_text
buttontype=^if_closebutton
x=420
y=29
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xff0000
overcolour=0xffffff

[if_2505:com_2584]
type=^iftype_model
x=150
y=95
width=32
height=32
model=model_103
zoom=1200
yan=200

[if_2505:com_2585]
type=^iftype_graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2586]
type=^iftype_graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2587]
type=^iftype_graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2588]
type=^iftype_graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2589]
type=^iftype_graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2590]
type=^iftype_graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2591]
type=^iftype_graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2592]
type=^iftype_graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2593]
type=^iftype_graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2594]
type=^iftype_graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2595]
type=^iftype_graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2596]
type=^iftype_graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2597]
type=^iftype_graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[if_2505:com_2598]
type=^iftype_model
x=235
y=95
width=32
height=32
model=model_110
zoom=1200
yan=200

[if_2505:com_2599]
type=^iftype_model
x=320
y=95
width=32
height=32
model=model_113
zoom=1200
yan=200

[if_2505:com_2600]
type=^iftype_model
x=65
y=175
width=32
height=32
model=model_118
zoom=1200
yan=200

[if_2505:com_2601]
type=^iftype_model
x=150
y=175
width=32
height=32
model=model_114
zoom=1200
yan=200

[if_2505:com_2602]
type=^iftype_model
x=235
y=175
width=32
height=32
model=model_125
zoom=1200
yan=200

[if_2505:com_2603]
type=^iftype_model
x=320
y=175
width=32
height=32
model=model_105
zoom=1200
yan=200

[if_2505:com_2604]
type=^iftype_model
x=405
y=95
width=32
height=32
model=model_115
zoom=1200
yan=200

[if_2505:com_2605]
type=^iftype_model
x=405
y=175
width=32
height=32
model=model_104
zoom=1200
yan=200

[if_2505:com_2606]
type=^iftype_text
buttontype=^if_button
x=390
y=290
width=55
height=14
font=^b12
shadow=yes
text=CONFIRM
colour=0xff00
overcolour=0xff0000

[if_2505:com_2607]
type=^iftype_rectangle
x=134
y=259
width=243
height=23
fill=yes

[if_2505:com_2608]
type=^iftype_rectangle
x=135
y=260
width=20
height=20
fill=yes
colour=0x494034

[if_2505:com_2609]
type=^iftype_rectangle
x=155
y=260
width=20
height=20
fill=yes
colour=0xd6d1d1

[if_2505:com_2610]
type=^iftype_rectangle
x=175
y=260
width=20
height=20
fill=yes
colour=0x76756c

[if_2505:com_2611]
type=^iftype_rectangle
x=195
y=260
width=20
height=20
fill=yes
colour=0x2f2a2a

[if_2505:com_2612]
type=^iftype_rectangle
x=215
y=260
width=20
height=20
fill=yes
colour=0xcb823e

[if_2505:com_2613]
type=^iftype_rectangle
x=235
y=260
width=20
height=20
fill=yes
colour=0xcdad53

[if_2505:com_2614]
type=^iftype_rectangle
x=255
y=260
width=20
height=20
fill=yes
colour=0x885f29

[if_2505:com_2615]
type=^iftype_rectangle
x=275
y=260
width=20
height=20
fill=yes
colour=0x50321e

[if_2505:com_2616]
type=^iftype_rectangle
x=295
y=260
width=20
height=20
fill=yes
colour=0x8383

[if_2505:com_2617]
type=^iftype_rectangle
x=315
y=260
width=20
height=20
fill=yes
colour=0x8300

[if_2505:com_2618]
type=^iftype_rectangle
x=335
y=260
width=20
height=20
fill=yes
colour=0x9f2800

[if_2505:com_2619]
type=^iftype_rectangle
x=355
y=260
width=20
height=20
fill=yes
colour=0xbe00c0

[if_2505:com_2620]
type=^iftype_text
x=198
y=233
width=114
height=14
halign=yes
font=^p12
shadow=yes
text=Please select colour
colour=0xffff00

[if_2505:com_2621]
type=^iftype_graphic
x=85
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2622]
type=^iftype_graphic
x=170
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2623]
type=^iftype_graphic
x=260
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2624]
type=^iftype_graphic
x=345
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2625]
type=^iftype_graphic
x=430
y=115
width=25
height=25
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2626]
type=^iftype_graphic
x=85
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2627]
type=^iftype_graphic
x=170
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2628]
type=^iftype_graphic
x=260
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2629]
type=^iftype_graphic
x=340
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2630]
type=^iftype_graphic
x=430
y=195
width=25
height=25
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_261
activegraphic=headicons,1

[if_2505:com_2631]
type=^iftype_graphic
buttontype=^if_selectbutton
x=135
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2632]
type=^iftype_graphic
buttontype=^if_selectbutton
x=155
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2633]
type=^iftype_graphic
buttontype=^if_selectbutton
x=175
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2634]
type=^iftype_graphic
buttontype=^if_selectbutton
x=195
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2635]
type=^iftype_graphic
buttontype=^if_selectbutton
x=215
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2636]
type=^iftype_graphic
buttontype=^if_selectbutton
x=235
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2637]
type=^iftype_graphic
buttontype=^if_selectbutton
x=255
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2638]
type=^iftype_graphic
buttontype=^if_selectbutton
x=275
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2639]
type=^iftype_graphic
buttontype=^if_selectbutton
x=295
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2640]
type=^iftype_graphic
buttontype=^if_selectbutton
x=315
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2641]
type=^iftype_graphic
buttontype=^if_selectbutton
x=335
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=11
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2642]
type=^iftype_graphic
buttontype=^if_selectbutton
x=355
y=260
width=20
height=20
scriptc1=^op_neq
scriptv1=12
script1op1=^load_var,varp_262
activegraphic=headicons,1

[if_2505:com_2643]
type=^iftype_graphic
buttontype=^if_selectbutton
x=55
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=1
script1op1=^load_var,varp_261

[if_2505:com_2644]
type=^iftype_graphic
buttontype=^if_selectbutton
x=141
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=2
script1op1=^load_var,varp_261

[if_2505:com_2645]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=82
width=50
height=50
scriptc1=^op_neq
scriptv1=3
script1op1=^load_var,varp_261

[if_2505:com_2646]
type=^iftype_graphic
buttontype=^if_selectbutton
x=310
y=83
width=50
height=50
scriptc1=^op_neq
scriptv1=4
script1op1=^load_var,varp_261

[if_2505:com_2647]
type=^iftype_graphic
buttontype=^if_selectbutton
x=394
y=84
width=50
height=50
scriptc1=^op_neq
scriptv1=5
script1op1=^load_var,varp_261

[if_2505:com_2648]
type=^iftype_graphic
buttontype=^if_selectbutton
x=54
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=6
script1op1=^load_var,varp_261

[if_2505:com_2649]
type=^iftype_graphic
buttontype=^if_selectbutton
x=137
y=162
width=50
height=50
scriptc1=^op_neq
scriptv1=7
script1op1=^load_var,varp_261

[if_2505:com_2650]
type=^iftype_graphic
buttontype=^if_selectbutton
x=224
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=8
script1op1=^load_var,varp_261

[if_2505:com_2651]
type=^iftype_graphic
buttontype=^if_selectbutton
x=307
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=9
script1op1=^load_var,varp_261

[if_2505:com_2652]
type=^iftype_graphic
buttontype=^if_selectbutton
x=394
y=163
width=50
height=50
scriptc1=^op_neq
scriptv1=10
script1op1=^load_var,varp_261
