[if_5715]
type=^iftype_layer
width=512
height=334

[if_5715:com_5716]
type=^iftype_layer
contenttype=503
x=3
y=20
width=168
height=204
scrollheight=400

[if_5715:com_5742]
layer=com_5716
type=^iftype_text
contenttype=401
x=7
y=8
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5743]
layer=com_5716
type=^iftype_text
contenttype=402
x=7
y=23
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5744]
layer=com_5716
type=^iftype_text
contenttype=403
x=7
y=38
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5745]
layer=com_5716
type=^iftype_text
contenttype=404
x=7
y=53
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5746]
layer=com_5716
type=^iftype_text
contenttype=405
x=7
y=68
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5747]
layer=com_5716
type=^iftype_text
contenttype=406
x=7
y=83
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5748]
layer=com_5716
type=^iftype_text
contenttype=407
x=7
y=98
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5749]
layer=com_5716
type=^iftype_text
contenttype=408
x=7
y=113
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5750]
layer=com_5716
type=^iftype_text
contenttype=409
x=7
y=128
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5751]
layer=com_5716
type=^iftype_text
contenttype=410
x=7
y=143
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5752]
layer=com_5716
type=^iftype_text
contenttype=411
x=7
y=158
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5753]
layer=com_5716
type=^iftype_text
contenttype=412
x=7
y=173
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5754]
layer=com_5716
type=^iftype_text
contenttype=413
x=7
y=188
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5755]
layer=com_5716
type=^iftype_text
contenttype=414
x=7
y=203
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5756]
layer=com_5716
type=^iftype_text
contenttype=415
x=7
y=218
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5757]
layer=com_5716
type=^iftype_text
contenttype=416
x=7
y=233
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5758]
layer=com_5716
type=^iftype_text
contenttype=417
x=7
y=248
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5759]
layer=com_5716
type=^iftype_text
contenttype=418
x=7
y=263
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5760]
layer=com_5716
type=^iftype_text
contenttype=419
x=7
y=278
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5761]
layer=com_5716
type=^iftype_text
contenttype=420
x=7
y=293
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5762]
layer=com_5716
type=^iftype_text
contenttype=421
x=7
y=308
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5763]
layer=com_5716
type=^iftype_text
contenttype=422
x=7
y=323
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5764]
layer=com_5716
type=^iftype_text
contenttype=423
x=7
y=338
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5765]
layer=com_5716
type=^iftype_text
contenttype=424
x=7
y=353
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5766]
layer=com_5716
type=^iftype_text
contenttype=425
x=7
y=368
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5767]
layer=com_5716
type=^iftype_text
contenttype=426
x=7
y=383
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5768]
layer=com_5716
type=^iftype_text
contenttype=427
x=7
y=398
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5769]
layer=com_5716
type=^iftype_text
contenttype=428
x=7
y=413
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5770]
layer=com_5716
type=^iftype_text
contenttype=429
x=7
y=428
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5771]
layer=com_5716
type=^iftype_text
contenttype=430
x=7
y=443
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5772]
layer=com_5716
type=^iftype_text
contenttype=431
x=7
y=458
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5773]
layer=com_5716
type=^iftype_text
contenttype=432
x=7
y=473
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5774]
layer=com_5716
type=^iftype_text
contenttype=433
x=7
y=488
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5775]
layer=com_5716
type=^iftype_text
contenttype=434
x=7
y=503
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5776]
layer=com_5716
type=^iftype_text
contenttype=435
x=7
y=518
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5777]
layer=com_5716
type=^iftype_text
contenttype=436
x=7
y=533
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5778]
layer=com_5716
type=^iftype_text
contenttype=437
x=7
y=548
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5779]
layer=com_5716
type=^iftype_text
contenttype=438
x=7
y=563
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5780]
layer=com_5716
type=^iftype_text
contenttype=439
x=7
y=578
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5781]
layer=com_5716
type=^iftype_text
contenttype=440
x=7
y=593
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5782]
layer=com_5716
type=^iftype_text
contenttype=441
x=7
y=608
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5783]
layer=com_5716
type=^iftype_text
contenttype=442
x=7
y=623
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5784]
layer=com_5716
type=^iftype_text
contenttype=443
x=7
y=638
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5785]
layer=com_5716
type=^iftype_text
contenttype=444
x=7
y=653
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5786]
layer=com_5716
type=^iftype_text
contenttype=445
x=7
y=668
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5787]
layer=com_5716
type=^iftype_text
contenttype=446
x=7
y=683
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5788]
layer=com_5716
type=^iftype_text
contenttype=447
x=7
y=698
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5789]
layer=com_5716
type=^iftype_text
contenttype=448
x=7
y=713
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5790]
layer=com_5716
type=^iftype_text
contenttype=449
x=7
y=728
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5791]
layer=com_5716
type=^iftype_text
contenttype=450
x=7
y=743
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5792]
layer=com_5716
type=^iftype_text
contenttype=451
x=7
y=758
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5793]
layer=com_5716
type=^iftype_text
contenttype=452
x=7
y=773
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5794]
layer=com_5716
type=^iftype_text
contenttype=453
x=7
y=788
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5795]
layer=com_5716
type=^iftype_text
contenttype=454
x=7
y=803
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5796]
layer=com_5716
type=^iftype_text
contenttype=455
x=7
y=818
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5797]
layer=com_5716
type=^iftype_text
contenttype=456
x=7
y=833
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5798]
layer=com_5716
type=^iftype_text
contenttype=457
x=7
y=848
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5799]
layer=com_5716
type=^iftype_text
contenttype=458
x=7
y=863
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5800]
layer=com_5716
type=^iftype_text
contenttype=459
x=7
y=878
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5801]
layer=com_5716
type=^iftype_text
contenttype=460
x=7
y=893
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5802]
layer=com_5716
type=^iftype_text
contenttype=461
x=7
y=908
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5803]
layer=com_5716
type=^iftype_text
contenttype=462
x=7
y=923
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5804]
layer=com_5716
type=^iftype_text
contenttype=463
x=7
y=938
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5805]
layer=com_5716
type=^iftype_text
contenttype=464
x=7
y=953
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5806]
layer=com_5716
type=^iftype_text
contenttype=465
x=7
y=968
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5807]
layer=com_5716
type=^iftype_text
contenttype=466
x=7
y=983
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5808]
layer=com_5716
type=^iftype_text
contenttype=467
x=7
y=998
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5809]
layer=com_5716
type=^iftype_text
contenttype=468
x=7
y=1013
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5810]
layer=com_5716
type=^iftype_text
contenttype=469
x=7
y=1028
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5811]
layer=com_5716
type=^iftype_text
contenttype=470
x=7
y=1043
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5812]
layer=com_5716
type=^iftype_text
contenttype=471
x=7
y=1058
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5813]
layer=com_5716
type=^iftype_text
contenttype=472
x=7
y=1073
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5814]
layer=com_5716
type=^iftype_text
contenttype=473
x=7
y=1088
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5815]
layer=com_5716
type=^iftype_text
contenttype=474
x=7
y=1103
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5816]
layer=com_5716
type=^iftype_text
contenttype=475
x=7
y=1118
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5817]
layer=com_5716
type=^iftype_text
contenttype=476
x=7
y=1133
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5818]
layer=com_5716
type=^iftype_text
contenttype=477
x=7
y=1148
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5819]
layer=com_5716
type=^iftype_text
contenttype=478
x=7
y=1163
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5820]
layer=com_5716
type=^iftype_text
contenttype=479
x=7
y=1178
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5821]
layer=com_5716
type=^iftype_text
contenttype=480
x=7
y=1193
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5822]
layer=com_5716
type=^iftype_text
contenttype=481
x=7
y=1208
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5823]
layer=com_5716
type=^iftype_text
contenttype=482
x=7
y=1223
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5824]
layer=com_5716
type=^iftype_text
contenttype=483
x=7
y=1238
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5825]
layer=com_5716
type=^iftype_text
contenttype=484
x=7
y=1253
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5826]
layer=com_5716
type=^iftype_text
contenttype=485
x=7
y=1268
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5827]
layer=com_5716
type=^iftype_text
contenttype=486
x=7
y=1283
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5828]
layer=com_5716
type=^iftype_text
contenttype=487
x=7
y=1298
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5829]
layer=com_5716
type=^iftype_text
contenttype=488
x=7
y=1313
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5830]
layer=com_5716
type=^iftype_text
contenttype=489
x=7
y=1328
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5831]
layer=com_5716
type=^iftype_text
contenttype=490
x=7
y=1343
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5832]
layer=com_5716
type=^iftype_text
contenttype=491
x=7
y=1358
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5833]
layer=com_5716
type=^iftype_text
contenttype=492
x=7
y=1373
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5834]
layer=com_5716
type=^iftype_text
contenttype=493
x=7
y=1388
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5835]
layer=com_5716
type=^iftype_text
contenttype=494
x=7
y=1403
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5836]
layer=com_5716
type=^iftype_text
contenttype=495
x=7
y=1418
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5837]
layer=com_5716
type=^iftype_text
contenttype=496
x=7
y=1433
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5838]
layer=com_5716
type=^iftype_text
contenttype=497
x=7
y=1448
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5839]
layer=com_5716
type=^iftype_text
contenttype=498
x=7
y=1463
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5840]
layer=com_5716
type=^iftype_text
contenttype=499
x=7
y=1478
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5841]
layer=com_5716
type=^iftype_text
contenttype=500
x=7
y=1493
width=153
height=14
font=^p12
shadow=yes
colour=0xffffff

[if_5715:com_5717]
type=^iftype_text
x=51
y=4
width=68
height=14
font=^b12
shadow=yes
text=Ignore list
colour=0xffff00

[if_5715:com_5718]
type=^iftype_graphic
buttontype=^if_button
contenttype=501
x=15
y=224
width=72
height=36
graphic=combatboxes,0
option=Add friend

[if_5715:com_5719]
type=^iftype_graphic
buttontype=^if_button
contenttype=502
x=95
y=224
width=72
height=36
graphic=combatboxes,0
option=Delete friend

[if_5715:com_5720]
type=^iftype_text
x=23
y=234
width=56
height=14
font=^p12
shadow=yes
text=Add Name
colour=0xffff00
activecolour=0xffffff

[if_5715:com_5721]
type=^iftype_text
x=105
y=234
width=51
height=14
font=^p12
shadow=yes
text=Del Name
colour=0xffff00
activecolour=0xffffff

[if_5715:com_5722]
type=^iftype_graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[if_5715:com_5723]
type=^iftype_graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[if_5715:com_5724]
type=^iftype_graphic
x=3
y=194
width=25
height=30
graphic=steelborder,2

[if_5715:com_5725]
type=^iftype_graphic
x=146
y=194
width=25
height=30
graphic=steelborder,3

[if_5715:com_5726]
type=^iftype_graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5727]
type=^iftype_graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5728]
type=^iftype_graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5729]
type=^iftype_graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[if_5715:com_5730]
type=^iftype_graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5731]
type=^iftype_graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5732]
type=^iftype_graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5733]
type=^iftype_graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[if_5715:com_5734]
type=^iftype_graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5735]
type=^iftype_graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5736]
type=^iftype_graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5737]
type=^iftype_graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[if_5715:com_5738]
type=^iftype_graphic
x=28
y=203
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5739]
type=^iftype_graphic
x=64
y=203
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5740]
type=^iftype_graphic
x=100
y=203
width=36
height=36
graphic=miscgraphics,3

[if_5715:com_5741]
type=^iftype_graphic
x=111
y=203
width=36
height=36
graphic=miscgraphics,3
