[if_1689]
type=^iftype_layer
width=512
height=334

[if_1689:com_1690]
type=^iftype_model
x=243
y=138
width=35
height=35
model=model_3032
zoom=650
xan=400

[if_1689:com_6159]
type=^iftype_text
x=209
y=108
width=106
height=17
halign=yes
font=^q8
shadow=yes
text=Congratulations!
colour=0xffff00

[if_1689:com_1692]
type=^iftype_text
buttontype=^if_closebutton
x=424
y=28
width=68
height=11
font=^p11
shadow=yes
text=Close Window
colour=0xc00000
overcolour=0xffffff

[if_1689:com_6160]
type=^iftype_text
x=114
y=130
width=296
height=17
halign=yes
font=^q8
shadow=yes
text=You have completed the Observatory Quest.
colour=0xffff00

[if_1689:com_6161]
type=^iftype_model
x=114
y=201
width=85
height=105
model=model_1174
zoom=1500
xan=11
yan=1849

[if_1689:com_1695]
type=^iftype_text
x=212
y=241
width=69
height=14
halign=yes
font=^p12
shadow=yes
text=Total Points:
colour=0x99ff

[if_1689:com_1696]
type=^iftype_text
x=285
y=241
width=17
height=14
script1op1=^load_var,varp_101
halign=yes
font=^p12
shadow=yes
text=%1
colour=0x99ff

[if_1689:com_6162]
type=^iftype_model
x=341
y=195
width=32
height=32
model=model_3037
zoom=800
xan=500

[if_1689:com_6163]
type=^iftype_text
x=212
y=180
width=93
height=14
font=^p12
shadow=yes
text=You are awarded
colour=0xc000

[if_1689:com_6164]
type=^iftype_text
x=255
y=198
width=8
height=14
halign=yes
font=^p12
shadow=yes
text=2
colour=0xff0000

[if_1689:com_6165]
type=^iftype_text
x=222
y=214
width=76
height=14
halign=yes
font=^p12
shadow=yes
text=Quest points.
colour=0xc000
